/*! Remarkability v2.0.2 | MIT License | https://github.com/Microflash/remarkability */
@use 'sass:map';

// Typography

$family-sans-native: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$family-code-native: ui-monospace, SFMono-Regular, 'Roboto Mono', Menlo, Monaco, Consolas,
  'Liberation Mono', 'Courier New', monospace !default;

$family-sans-custom: null !default;
$family-code-custom: null !default;

$family-sans-variable: null !default;
$family-code-variable: null !default;

$font-families: () !default;

$families: map.merge($font-families, (
  'base': $family-sans-native $family-sans-custom $family-sans-variable,
  'code': $family-code-native $family-code-custom $family-code-variable,
)) !default;

$weight-semibold: 600 !default;
$weight-bold: 700 !default;
$weight-headings: $weight-semibold !default;

$font-size-base: calc(0.9rem + 0.3vw) !default;
$font-size-code: 0.9em !default;
$font-size-small: 0.8em !default;
$text-size-adjust: 100% !default;

// Colors

$color-base: hsl(0, 1%, 14%) !default;
$color-active: hsl(0, 0%, 9%) !default;
$color-passive: hsl(0, 1%, 38%) !default;

$color-link: hsl(210, 100%, 40%) !default;
$color-link-active: hsl(210, 80%, 50%) !default;
$color-link-passive: hsl(325, 60%, 40%) !default;
$color-code: hsl(0, 58%, 46%) !default;

$background-body: hsl(0, 0%, 100%) !default;
$background-code: hsl(0, 5%, 96%) !default;
$background-del: hsl(0, 58%, 80%) !default;
$background-ins: hsl(125, 50%, 75%) !default;
$background-mark: hsl(45, 75%, 75%) !default;
$background-table: hsl(0, 0%, 98%, 0.25) !default;
$background-table-even: hsl(0, 3%, 98%) !default;
$background-table-hover: hsl(0, 5%, 96%) !default;
$background-selected: hsla(210, 80%, 50%, 0.25) !default;
$background-scrollbar: hsl(0, 5%, 96%) !default;

$border-color: hsl(0, 0%, 91%) !default;
$opacity: 0.5 !default;

$radius: 5px !default;
$media-radius: $radius !default;
$block-radius: $radius !default;

$text: $color-base !default;
$text-code: $color-code !default;
$text-bold: $color-active !default;
$text-muted: $color-passive !default;
$text-headings: $color-active !default;
$text-blockquote: $color-passive !default;

$link: $color-link !default;
$link-active: $color-link-active !default;
$link-visited: $color-link-passive !default;

$table-thead: $color-active !default;
$scrollbar: hsl(0, 0%, 80%) !default;

// Spacing

$line-height: 1.6 !default;
$margin: 1.5rem !default;

// Root element

$root: '.remarkability' !default;
$lead: '.lead' !default;

// Options

$enable-compact-lists: false !default;
$enable-lead-paragraph: false !default;
$enable-multiline-wrap: true !default;
$enable-selection-background: false !default;
$enable-custom-scrollbar: false !default;
$enable-custom-colors: false !default;
$enable-custom-fonts: false !default;
$enable-font-smoothing: true !default;
$enable-text-inflation: true !default;
$enable-media-radius: false !default;
$enable-block-radius: false !default;
$enable-heading-border: false !default;
$enable-link-underline: false !default;
$enable-table-hover: false !default;
$enable-table-stripes: false !default;
$enable-responsive-tables: true !default;
$enable-visited-links: false !default;
$enable-active-links: false !default;
$enable-variable-fonts: false !default;
$enable-smooth-scrolling: true !default;
$enable-content-visibility: false !default;
