@use 'sass:math';
@use 'variables';
@use 'mixins';

* {
  @if variables.$enable-multiline-wrap {
    box-decoration-break: clone;
  }

  @if variables.$enable-custom-scrollbar {
    &::-webkit-scrollbar,
    &::-webkit-scrollbar-track {
      background-color: variables.$background-scrollbar;
    }

    &::-webkit-scrollbar-thumb {
      background-color: variables.$scrollbar;
    }

    scrollbar-color: variables.$scrollbar variables.$background-scrollbar;
  }

  @if variables.$enable-smooth-scrolling {
    scroll-behavior: smooth;

    @media screen and (prefers-reduced-motion: true) { 
      scroll-behavior: auto;
    }
  }

  @if variables.$enable-selection-background {
    &::-moz-selection { 
      background: variables.$background-selected;
    }
    
    &::selection { 
      background: variables.$background-selected;
    }
  }
}

body {
  line-height: variables.$line-height;
  font-size: variables.$font-size-base;

  @if variables.$enable-text-inflation {
    text-size-adjust: variables.$text-size-adjust;
  }

  @if variables.$enable-custom-colors {
    background-color: variables.$background-body;
    color: variables.$text;
  }

  @if variables.$enable-custom-fonts {
    @include mixins.font('base');
  }

  @if variables.$enable-font-smoothing {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  text-rendering: optimizeLegibility;

  /* stylelint-disable property-no-unknown */
  @if variables.$enable-content-visibility {
    content-visibility: auto;
    contain-intrinsic-size: 1000px;
  }
  /* stylelint-enable property-no-unknown */

  @if variables.$enable-lead-paragraph and variables.$lead {
    #{variables.$lead} {
      font-size: 1.25em;
    }
  }

  a {
    text-decoration: none;
    cursor: pointer;

    @if variables.$enable-custom-colors {
      color: variables.$link;

      @if variables.$enable-active-links {
        &:focus, 
        &:hover {
          color: variables.$link-active;
        }
      }

      @if variables.$enable-visited-links {
        &:visited {
          color: variables.$link-visited;
        }
      }
    }

    @if variables.$enable-link-underline {
      text-decoration: underline;
    } @else {
      &:focus,
      &:hover {
        text-decoration: underline;
      }
    }

    &:active,
    &:hover {
      outline-width: 0;
    }
  }

  abbr {
    text-decoration: underline dotted;
    cursor: help;
  }

  cite {
    font-style: italic;
  }

  hr {
    background: variables.$border-color;
    border: none;
    display: block;
    height: 1px;
    margin-bottom: variables.$margin;
    margin-top: variables.$margin;
  }

  mark,
  del,
  ins {
    border-radius: variables.$radius;
    padding: 0.2ch 0.6ch;
    font-size: 0.95em;
  }

  del {
    background-color: variables.$background-del;
  }

  ins {
    background-color: variables.$background-ins;
    text-decoration: none;
  }

  mark {
    background-color: variables.$background-mark;
  }

  summary {
    display: list-item;
  }

  details {
    display: block;
    border: 1px solid variables.$border-color;
    padding: 0 0.75em 0;

    summary {
      background-color: variables.$background-table-hover;
      margin: 0 -0.75em 0;
      padding: 0.5em 0.75em;
      cursor: pointer;
    }

    &[open] {
      padding-bottom: 0.5em;

      summary {
        margin-bottom: 0.5em;
        border-bottom: 1px solid variables.$border-color;
      }
    }
  }

  small {
    font-size: variables.$font-size-small;
  }

  strong {
    font-weight: variables.$weight-bold;

    @if variables.$enable-custom-colors {
      color: variables.$text-bold;
    }
  }

  sub,
  sup {
    font-size: variables.$font-size-small;
  }

  sub {
    vertical-align: sub;
  }

  sup {
    vertical-align: super;
  }

  var {
    font-style: italic;
    font-weight: variables.$weight-semibold;
  }

  img {
    vertical-align: text-bottom;

    @if variables.$enable-media-radius {
      border-radius: variables.$media-radius;
    }
  }

  figure {
    margin-bottom: variables.$margin * 2;
    text-align: center;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  figcaption {
    font-size: variables.$font-size-small;
    margin-top: math.div(variables.$margin, 1.6);

    @if variables.$enable-custom-colors {
      color: variables.$text-muted;
    }
  }

  p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table {
    margin-bottom: variables.$margin;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    &:empty {
      display: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: variables.$weight-headings;
    line-height: 1.2;

    &:first-child {
      margin-top: 0;
    }

    @if variables.$enable-custom-colors {
      color: variables.$text-headings;
    }
  }

  h1 {
    @include mixins.heading($font-size: 2.5, $with-border: true);
    line-height: 1.5;
  }

  h2 {
    @include mixins.heading($font-size: 2, $with-border: true);
    line-height: 1.4;
  }

  h3 {
    @include mixins.heading($font-size: 1.5);
  }

  h4 {
    @include mixins.heading($font-size: 1.25);
  }

  h5 {
    @include mixins.heading($font-size: 1.125);
  }

  h6 {
    @include mixins.heading($font-size: 1);
  }

  h1 + * {
    margin-top: 1.5rem;
  }

  h2 + *,
  h3 + *,
  h4 + * {
    margin-top: 0;
  }

  h5 + * {
    margin-top: 0.25em;
  }

  @if variables.$enable-compact-lists {
    p {
      & + dl,
      & + ol,
      & + ul {
        margin-top: -(variables.$margin);
      }
    }
  }

  ol,
  ul,
  dd {
    margin-left: variables.$margin;

    @if variables.$enable-multiline-wrap {
      & > * {
        box-decoration-break: clone;
      }
    }
  }

  ol,
  ul {
    list-style-position: outside;
  }

  ol {
    list-style-type: decimal;

    ol {
      list-style-type: lower-alpha;

      ol {
        list-style-type: lower-roman;

        ol {
          list-style-type: lower-greek;

          ol {
            list-style-type: decimal;

            ol {
              list-style-type: lower-alpha;
            }
          }
        }
      }
    }
  }

  ul {
    list-style-type: disc;

    ul {
      list-style-type: circle;

      ul {
        list-style-type: square;

        ul {
          list-style-type: circle;

          ul {
            list-style-type: disc;

            ul {
              list-style-type: circle;
            }
          }
        }
      }
    }
  }

  li {
    p,
    dl,
    ol,
    ul,
    blockquote,
    pre,
    table {
      margin-bottom: variables.$margin * 0.4;
    }

    & > p:only-of-type {
      margin-bottom: 0;
    }

    & > ul,
    & > ol,
    & > dl {
      margin-top: variables.$margin * 0.4;
    }
  }

  dt {
    font-weight: variables.$weight-bold;
  }
  
  @if not variables.$enable-compact-lists {
    li,
    dd {
      margin-bottom: variables.$margin * 0.4;
    }
  }

  input,
  textarea {
    font: inherit;
    line-height: inherit;

    @if variables.$enable-custom-colors {
      color: variables.$text;
    }

    &::placeholder {
      color: inherit;
      opacity: variables.$opacity;
    }
  }

  code,
  kbd,
  samp,
  pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    background-color: variables.$background-code;
    color: variables.$text;
    font-size: variables.$font-size-code;
    border-radius: variables.$radius;

    @if variables.$enable-custom-fonts {
      @include mixins.font('code');
    }
  }

  code,
  kbd,
  samp {
    padding: 0.2ch 0.6ch;
    overflow-wrap: break-word;

    @if variables.$enable-custom-colors {
      color: variables.$text-code;
    }
  }

  pre {
    overflow: hidden;

    @if variables.$enable-block-radius {
      border-radius: variables.$block-radius;
    }

    code {
      display: block;
      background: none;
      overflow: auto;
      border: none;
      padding: 1em 1.2em;
      font-size: 1em;
      white-space: pre;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    // scroll tables horizontally on small screens
    @if variables.$enable-responsive-tables {
      display: block;
      overflow-x: auto;
    }

    pre {
      white-space: pre-wrap;
    }
  }

  th {
    font-weight: variables.$weight-bold;
  }

  th,
  td {
    @include mixins.cell($font-size: 1);

    border: 1px solid variables.$border-color;
    line-height: 1.4;
  }

  thead,
  tfoot {
    tr {
      @if variables.$enable-table-stripes {
        background-color: variables.$border-color;
      } @else {
        background-color: variables.$background-table-hover;
      }
    }

    th,
    td {
      @if variables.$enable-custom-colors {
        color: variables.$table-thead;
      }

      code {
        background-color: variables.$background-table;
      }
    }
  }

  tbody {
    tr {
      background-color: variables.$background-table;

      @if variables.$enable-table-stripes {
        &:nth-child(even) {
          background-color: variables.$background-table-even;
        }

        @if variables.$enable-table-hover {
          &:hover {
            background-color: variables.$background-table-hover;
          }
        }
      } @else {
        @if variables.$enable-table-hover {
          &:hover {
            background-color: variables.$background-table-even;
          }
        }
      }
    }
  }
}
