:where(html) {
	box-sizing: border-box;
	text-size-adjust: 100%;
	// allow percentage based heights for the children
	block-size: 100%;

	// traditional anti-aliasing for hidpi devices
	@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
	}

	// smooth scrolling when reduced-motion is disabled
	@media (prefers-reduced-motion: no-preference) {
		&:focus-within {
			scroll-behavior: smooth;
		}
	}
}

:where(body) {
	// allow percentage based heights for the children
	min-block-size: 100%;
	// keep long lines of code readable
	tab-size: 2;
}

* {
	margin: 0;
	// adjust the line-height based on x-height defined by the font
	// see: https://kittygiraudel.com/2020/05/18/using-calc-to-figure-out-optimal-line-height/
	line-height: calc(0.3rem + 2ex + 0.3rem);
	// avoid text overflow
	overflow-wrap: break-word;

	&,
	&::before,
	&::after {
		// inherit the box-sizing from html element as it easier to undo if needed
		box-sizing: inherit;
	}
}

:where(abbr[title]) {
	text-decoration-line: underline;
	text-decoration-style: dotted;
	cursor: help;
}

:where(img, svg, canvas, audio, video, iframe, embed, object) {
	display: block;
	max-inline-size: 100%;
}

:where(iframe) {
	border: none;
}

// inherit typography styles from the parent and not the operating system
:where(input, button, textarea, select),
:where(input[type="file"])::-webkit-file-upload-button {
	color: inherit;
	font: inherit;
	letter-spacing: inherit;
}

// emphasize that interactive elements are interactive
:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
	cursor: pointer;
	touch-action: manipulation;
}

:where(input[type="file"]) {
	cursor: auto;

	&::-webkit-file-upload-button,
	&::file-selector-button {
		cursor: pointer;
	}
}

// ensure button text is not selectable
:where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"]),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	user-select: none;
}

// disabled cursor for disabled buttons
:where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"])[disabled] {
	cursor: not-allowed;
}

:where(table) {
	// remove spacing between cells
	border-collapse: collapse;
	border-spacing: 0;
}

// animate focus outline
@media (prefers-reduced-motion: no-preference) {
	:focus-visible {
		transition: outline-offset 145ms cubic-bezier(0.25, 0, 0.4, 1);
	}

	:where(:not(:active)):focus-visible {
		transition-duration: 0.25s;
	}
}
