@use '../_variables';
@use '../_properties';
@use '../mixins/_layout';

// Card

.card {
  display: flex;
  flex-direction: column;
  background-color: variables.$bg-vibrant;
  padding: properties.$space-sm;
  border-radius: variables.$radius;

  &.large-gap {
    padding: properties.$space-rg;
  }

  &:focus,
  &:hover {
    background-color: variables.$bg-glossy;

    .card-title,
    .card-description {
      color: inherit;
    }
  }

  .card-title {
    display: flex;
    align-items: center;
    @include layout.my(variables.$char-gap);
    font-weight: variables.$weight-md;

    &.large-title {
      font-size: variables.$font-md;
    }

    .label {
      @include layout.size(variables.$icon-rg);
      margin-right: variables.$char-gap;
    }
  }

  .card-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: variables.$text-muted;
    font-size: variables.$font-sm;

    > span::after {
      content: variables.$symbol-separator;
      @include layout.mx(variables.$separator-gap);
      opacity: variables.$separator-opacity;
    }

    .label {
      @include layout.size(variables.$icon-sm);
      margin-right: variables.$char-gap;
    }
  }

  .card-description {
    color: variables.$text;
    font-size: variables.$font-sm;
  }
}
