@use '../variables';
@use '../properties';
@use '../mixins/utils';

// Card

$card-background: variables.$bg-vibrant;
$card-active-background: variables.$bg-muted;
$gap: properties.$space-rg;
$ngap: properties.$nspace-rg;
$card-radius: properties.$responsive-radius;
$card-title-size: variables.$font-lg;
$card-description-size: variables.$font-rg;
$metadata-color: variables.$text-muted;
$metadata-font-size: variables.$font-sm;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include utils.mx($ngap);
  padding: $gap;
  border-radius: $card-radius;

  &:focus,
  &:hover {
    background-color: $card-active-background;
    cursor: pointer;
  }

  .card-title {
    display: flex;
    align-items: center;
    @include utils.my(variables.$ch-rg);
    font-size: $card-title-size;
  }

  .card-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: $metadata-color;
    font-size: $metadata-font-size;

    > time::after,
    > span::after {
      content: variables.$symbol-separator;
      @include utils.mx(variables.$separator-gap);
      opacity: variables.$separator-opacity;
    }

    > * {
      margin-bottom: variables.$ch-rg;
    }
  }

  .card-description {
    color: variables.$text;
    font-size: $card-description-size;
    opacity: 0.85;
  }
}

.topics {
  display: inline-block;
  border-radius: 5rem;
  border: 1px solid variables.$border;
  @include utils.py(variables.$ch-sm);
  padding-right: variables.$ch-sm;
  padding-left: variables.$ch-md;
  background-color: $card-background;
}
