@use '../variables';
@use '../mixins/layout';

// Card

$card-background: variables.$bg-vibrant;
$card-gap: calc(1.25rem + 1vw);
$card-radius: variables.$radius;
$card-title-size: variables.$font-lg;
$card-metadata-color: variables.$text-muted;
$card-metadata-icon-size: variables.$icon-sm;
$card-metadata-font-size: variables.$font-sm;
$card-description-size: variables.$font-rg;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $card-background;
  padding: $card-gap;
  border-radius: $card-radius;

  .card-title {
    display: flex;
    align-items: center;
    @include layout.margin-block(variables.$ch-rg);
    font-size: $card-title-size;

    .label {
      @include layout.size($card-title-size);
      margin-right: variables.$ch-rg;
    }
  }

  .card-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: $card-metadata-color;
    font-size: $card-metadata-font-size;

    > *::after {
      content: variables.$symbol-separator;
      @include layout.margin-inline(variables.$separator-gap);
      opacity: variables.$separator-opacity;
    }

    .label {
      @include layout.size($card-metadata-icon-size);
      margin-right: variables.$ch-rg;
    }
  }

  .card-description {
    color: variables.$text;
    font-size: $card-description-size;
    opacity: 0.85;
  }
}
