@use '../variables';
@use '../properties';
@use '../mixins/utils';

// Token colors

$cadet: hsl(180, 19%, 38%, 70%);
$iris: hsl(231, 52%, 61%);
$brass: hsl(40, 40%, 46%);
$vermillion: hsl(0, 57%, 54%);
$jasper: hsl(6, 63%, 53%);
$artichoke: hsl(68, 19%, 51%);
$salmon: hsl(11, 77%, 63%);
$teal: hsl(185, 31%, 40%);
$rackley: hsl(205, 36%, 51%);
$rebecca: hsl(266, 40%, 54%);
$khaki: hsl(44, 23%, 67%);
$emerald: hsl(167, 33%, 39%);
$coral: hsl(4, 69%, 67%);

$languages: js, ts, html, md, vue, css, sass, scss, less, stylus, go, java, c,
  sh, yaml, py, docker, dockerfile, properties, groovy, typescript, json, xml, git, shell, sql, bash, powershell, ini;

$code-background: variables.$bg-active;
$code-max-width: variables.$max-width-rg;
$code-gapy-rg: properties.$space-rg;
$code-gapy-sm: properties.$space-sm;
$code-gapx: properties.$content-article-gap;
$code-gapx-neg: properties.$negative-space-rg;

// Prism theme

.gridsome-highlight {
  @include utils.my($code-gapy-rg);
  background-color: $code-background;

  code {
    max-width: $code-max-width;
    @include utils.mx(auto);
    padding: $code-gapy-sm $code-gapx;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    tab-size: 2;
    hyphens: none;
    background-color: inherit;
  }

  pre[class*='language-']::before {
    display: block;
    max-width: $code-max-width;
    @include utils.mx(auto);
    z-index: 5;
    text-align: right;
    margin-bottom: -(variables.$gap-sm);
    padding-top: 0.5em;
    padding-right: 0.5em;
    color: variables.$text-passive;
    font-size: 0.75em;
    font-weight: variables.$weight-bd;
    opacity: 0.75;
  }

  @each $language in $languages {
    pre[class~='language-#{$language}']::before {
      content: '#{$language}';
    }
  }

  .gridsome-highlight-code-line {
    display: block;
    margin-left: $code-gapx-neg;
    padding-left: $code-gapy-rg;
    background: linear-gradient(to right, variables.$code-selected 66%, transparent);
  }

  .token.comment,
  .token.prolog,
  .token.cdata {
    color: $cadet;
  }

  .token.punctuation {
    color: $emerald;
  }

  .namespace {
    color: $khaki;
  }

  .token.deleted {
    color: $jasper;
  }

  .token.symbol,
  .token.property {
    color: $rebecca;
  }

  .token.tag,
  .token.operator,
  .token.keyword {
    color: $coral;
  }

  .token.boolean {
    color: $teal;
  }

  .token.number {
    color: $artichoke;
  }

  .token.constant,
  .token.function,
  .token.builtin,
  .token.char {
    color: $iris;
  }

  .token.selector,
  .token.doctype {
    color: $rackley;
  }

  .token.attr-name,
  .token.inserted {
    color: $salmon;
  }

  .token.string,
  .token.url,
  .token.entity,
  .language-css .token.string,
  .style .token.string {
    color: $brass;
  }

  .token.class-name,
  .token.atrule,
  .token.attr-value {
    color: $vermillion;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: $khaki;
  }

  .token.important,
  .token.bold {
    font-weight: variables.$weight-bd;
  }

  .token.italic {
    font-style: normal;
  }
}
