@use '../variables';
@use '../properties';
@use '../mixins/layout';

// Content

$content-gap-end: properties.$space-rg;
$content-gap-block: calc(1rem - 1vw);
$content-first-paragraph-size: variables.$font-md;

.content {
  @include layout.container;
  flex-wrap: wrap;
  align-items: center;
  @include layout.margin-block($content-gap-block);

  .toc,
  .article {
    flex-basis: 100%;
    max-width: properties.$article-width;

    article > p:first-child {
      font-size: $content-first-paragraph-size;
    }
  }

  .card:not(:last-child) {
    margin-bottom: $content-gap-end;
  }

  .collection,
  figure {
    width: 100%;
  }
}

// Reference links

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  &:focus a .reference,
  &:hover a .reference {
    @include layout.hide(false);
    display: inline-block;
    width: 1.25ch;
    margin-left: -1.25ch;

    &::after {
      content: variables.$symbol-reference-link;
      outline: none;
    }
  }
}
