@use '../variables';
@use '../properties';
@use '../mixins/layout';

// Content

.content {
  @include layout.my(properties.$hero-padding);

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    > * {
      flex-basis: 100%;
    }
    
    .toc,
    .article {
      max-width: properties.$article-width;

      article > p:first-child {
        font-size: variables.$font-md;
      }
    }

    .large-gap:not(:last-child) {
      margin-bottom: properties.$space-rg;
    }
  }
}

// Reference links

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  &:focus a .reference,
  &:hover a .reference {
    @include layout.hide(false);
    display: inline-block;
    width: 1.25ch;
    margin-left: -1.25ch;
    font-weight: variables.$weight-rg;

    &::after {
      content: variables.$symbol-reference-link;
      outline: none;
    }
  }
}
