@use '../variables';
@use '../properties';
@use '../mixins/layout';
@use '../mixins/queries';

//  Footer

$footer-background: variables.$bg-muted;
$footer-gapy: properties.$hero-padding;
$footer-font-size: variables.$font-sm;
$footer-item-gap-top: properties.$space-rg;
$footer-item-gap-bottom: properties.$space-rg;

.footer {
  background-color: $footer-background;

  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include layout.py($footer-gapy);
    font-size: $footer-font-size;
  }

  .grid-sm {
    width: 100%;
  }

  .footer-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: $footer-item-gap-bottom;

    a {
      display: inline-flex;
      align-items: center;
    }
  }

  .copyright {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    > * {
      margin-top: $footer-item-gap-top;
    }

    svg:first-of-type {
      @include layout.size(24px);
    }

    @include queries.sm {
      flex-direction: column-reverse;
    }
  }
}
