@use '../variables';
@use '../properties';
@use '../mixins/utils';

// Footer

$font-size: variables.$font-sm;
$block-gap: properties.$hero-gap-block;
$item-gap: properties.$space-rg;

.footer {
  flex-wrap: wrap;
  align-items: center;
  @include utils.py($block-gap);
  font-size: $font-size;

  .grid-sm {
    width: 100%;
  }

  .footer-menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: $item-gap;

    a {
      display: inline-flex;
      align-items: center;
    }

    .footer-title {
      font-weight: variables.$weight-bd;
      margin-bottom: variables.$gap-lg;
    }
  }

  .copyright {
    display: flex;
    align-items: center;
    width: 100%;

    .brand {
      @include utils.size(32px);
      flex-basis: 32px;
    }
  }
}
