@use '../variables';
@use '../properties';
@use '../mixins/layout';
@use '../mixins/queries';

// Header

$header-background: variables.$bg-header;
$header-item-gapx: variables.$gap-sm;
$header-item-gapy: properties.$header-gap;
$header-top-gap-adjustment: -(variables.$gap-lg);
$header-wrap: properties.$wrap-responsive;
$header-item-judtification: properties.$align-between;

.header {
  background-color: $header-background;

  .container {
    display: flex;
    flex-wrap: $header-wrap;
    justify-content: $header-item-judtification;
    align-items: center;

    > * {
      @include layout.py($header-item-gapy);

      &:not(:first-child) {
        margin-left: $header-item-gapx;
      }

      &:not(:nth-last-child(2)) {
        margin-right: $header-item-gapx;
      }
    }

    .brand {
      line-height: 0;
      width: 36px;

      svg {
        @include layout.size(inherit);
      }
    }

    .break {
      flex-basis: 100%;
      height: 0;
      margin: 0;
      padding: 0;
      
      @include queries.md {
        @include layout.hide;
      }
    }
  }
}

// Reorder for small screen

@include queries.within-md {
  .brand {
    flex: 1;
  }

  .search {
    order: 2;
    margin-right: 0 !important;
  }

  .break {
    order: 3;
  }

  .brand + .header-link {
    margin-left: 0 !important;
  }

  .theme-switcher,
  .header-link {
    order: 4;
    margin-top: $header-top-gap-adjustment;
  }
}
