@use '../variables';
@use '../properties';
@use '../mixins/layout';
@use '../mixins/queries';

// Header

$header-font-size: calc(0.95rem + 0.125vw);
$header-gap-block: properties.$header-gap-block;
$header-gap-inline: variables.$gap-rg;

.header {
  @include layout.container;
  flex-wrap: properties.$responsive-wrap;
  justify-content: properties.$responsive-align-between;
  align-items: center;
  font-size: $header-font-size;
  @include layout.padding-block($header-gap-block);

  > * {
    @include layout.margin-inline($header-gap-inline);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .brand,
  .theme-switcher {
    line-height: 0;
  }

  .brand {
    width: 36px;

    svg {
      @include layout.size(inherit);
    }
  }
}

// Rearrange on small screen

@include queries.within-md {
  .brand,
  .search {
    order: -1;
    margin-bottom: $header-gap-block;
  }

  .search {
    flex-basis: calc(100% - 68px);
    display: inline-flex;
    justify-content: flex-end;
  }

  .brand + a {
    margin-left: 0 !important;
  }
}
