@use '../variables';
@use '../properties';
@use '../mixins/utils';
@use '../mixins/queries';

$font-size: variables.$font-sm;
$block-padding: properties.$space-rg;
$item-radius: variables.$radius;
$item-inline-padding: variables.$gap-sm;
$item-block-padding: variables.$gap-xs;
$item-active-background: variables.$bg-muted;
$residual-gap: variables.$gap-sm * -1;

.header {
  flex-wrap: properties.$responsive-wrap;
  justify-content: space-between;
  align-items: center;
  font-size: $font-size;
  @include utils.py($block-padding);

  > * {
    border-radius: $item-radius;
    padding: $item-block-padding $item-inline-padding;

    &:focus,
    &:hover {
      background-color: $item-active-background;
      text-decoration: none;
    }

    &:first-child {
      margin-left: $residual-gap;
      background-color: transparent;
    }

    &:last-child {
      margin-right: $residual-gap;
    }
  }

  .brand,
  .theme-switcher {
    line-height: 0;
  }

  .brand {
    width: 36px;

    svg {
      @include utils.size(inherit);
    }
  }
}

// Rearrange on small screen

@include queries.rg {
  .brand {
    flex-basis: 100%;
    margin-bottom: $item-block-padding;

    + a {
      margin-left: $residual-gap !important;
    }
  }
}
