@use '../variables';
@use '../properties';
@use '../mixins/utils';

// Hero

$hero-background: variables.$bg-vibrant;
$hero-border-radius: properties.$responsive-radius;
$hero-gap-block: properties.$space-rg;
$footer-gap-top: properties.$space-sm;
$metadata-gap-start: properties.$space-rg;
$metadata-gap-end: properties.$metadata-gap-end;
$metadata-header-font-size: variables.$font-sm;
$metadata-header-gap-end: variables.$gap-xs;

.hero {
  @include utils.py($hero-gap-block);
  background-color: $hero-background;
  border-radius: $hero-border-radius;
}

// Metadata

.metadata {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;

  .metadata-media {
    margin-right: $metadata-gap-start;
    margin-bottom: $metadata-gap-end;

    img {
      @include utils.size(auto, calc(5rem + 5vw));
      border-radius: 100%;
    }
  }

  .metadata-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: $metadata-header-font-size;

    > * {
      margin-bottom: $metadata-header-gap-end;
    }

    > *:not(:last-child)::after {
      content: variables.$symbol-separator;
      @include utils.mx(variables.$separator-gap);
      opacity: variables.$separator-opacity;
    }
  }

  .metadata-footer {
    margin-top: $footer-gap-top;
    font-size: $metadata-header-font-size;
  }
}
