@use '../variables';
@use '../properties';
@use '../mixins/layout';

// Hero

.hero {
  background-color: variables.$bg-vibrant;

  .container {
    display: flex;
    flex-wrap: properties.$wrap-responsive;
    @include layout.py(properties.$hero-padding);
  }
}

// Metadata

.metadata {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;

  .metadata-media {
    margin-right: properties.$space-rg;
    margin-bottom: properties.$metadata-gap;

    img {
      @include layout.size(auto, calc(5rem + 5vw));
      border-radius: 100%;
    }
  }

  .metadata-content {
    width: properties.$metadata-width;
  }
}

.metadata-footer,
.metadata-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: variables.$font-sm;
}

.metadata-header {
  > * {
    margin-bottom: variables.$gap-xs;
  }

  > *:not(:last-child)::after {
    content: variables.$symbol-separator;
    @include layout.mx(variables.$separator-gap);
    opacity: variables.$separator-opacity;
  }
}

.metadata-footer {
  .label {
    margin-top: variables.$gap;
    @include layout.size(variables.$icon-rg);

    &:not(:last-child) {
      margin-right: variables.$gap;
    }
  }
}
