@use '../variables';
@use '../properties';
@use '../mixins/utils';

// Hero

$hero-background: variables.$bg-active;
$hero-gapx: properties.$space-rg;
$hero-gapy: properties.$space-md;
$hero-max-width: variables.$max-width-rg;
$hero-title-size: variables.$font-xl;
$hero-subtitle-size: variables.$font-md;
$hero-subtitle-color: variables.$text-passive;
$hero-content-gap-start: properties.$space-rg;
$hero-content-gap-end: properties.$flex-gap;
$hero-content-font-size: variables.$font-sm;

.hero {
  background-color: $hero-background;
  padding: $hero-gapy $hero-gapx;

  &-wrapper {
    max-width: $hero-max-width;
    @include utils.mx(auto);

    &:only-child {
      @include utils.my(0);
    }

    .title {
      font-size: $hero-title-size;
      line-height: 1.4;
    }

    .subtitle {
      font-size: $hero-subtitle-size;
      color: $hero-subtitle-color;
    }

    .hero-media {
      margin-right: $hero-content-gap-start;
      margin-bottom: $hero-content-gap-end;

      img {
        @include utils.size(auto, calc(5rem + 5vw));
        border-radius: 100%;
      }
    }

    .metadata {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-size: $hero-content-font-size;

      > * {
        margin-bottom: 1ch;

        &:not(:last-child)::after {
          @include utils.separator;
        }
      }
    }
  }
}
