@use '../_variables';
@use '../_properties';
@use '../mixins/_layout';

// Search

$search-background: variables.$bg-header;
$result-background: variables.$bg-muted;
$search-top-adjustment: properties.$search-top-adjustment;
$search-width: properties.$search-width;
$search-gap: properties.$search-gap;
$result-gapx: properties.$search-gap;
$result-gapy: variables.$gap-xs;
$result-label-color: variables.$text-muted;
$result-item-color: variables.$text;
$result-item-active-color: variables.$link-vibrant;
$result-item-active-background: variables.$bg-vibrant;
$search-border-radius: properties.$radius-responsive;

.search-container,
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.search-container {
  background-color: $search-background;
  position: absolute;
  top: $search-top-adjustment;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.search-box {
  width: $search-width;
  @include layout.px($search-gap);
  height: 100%;

  .search-input {
    outline: none;
    border: none;
    flex: 1;
    height: inherit;
  }
}

.search-results {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: $search-width;
  margin: 0 auto;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 5;
  max-height: 75vh;
  overflow: hidden;
  border-bottom-left-radius: $search-border-radius;
  border-bottom-right-radius: $search-border-radius;
  box-shadow: 0 20px 40px $search-background;

  .results-box {
    overflow: auto;
    z-index: 5;
    background-color: $result-background;

    > * {
      display: block;
    }

    .result-item,
    .result-label {
      padding: $result-gapy $result-gapx;
    }

    .result-label {
      color: $result-label-color;
    }

    .result-item {
      color: $result-item-color;

      &:focus,
      &:hover {
        color: $result-item-active-color;
        background-color: $result-item-active-background;
      }
    }
  }
}
