@use '../variables';
@use '../properties';
@use '../mixins/utils';

// Search

$search-width: properties.$search-width;
$search-background: utils.$tappable-background;
$search-background-active: variables.$selected;
$search-background-passive: variables.$code-selected;
$search-gapy: utils.$tappable-gapy;
$search-gapx: utils.$tappable-gapx;
$search-radius: utils.$tappable-radius;
$search-label-size: variables.$font-sm;
$header-gap: properties.$space-rg;

.search-container,
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  position: absolute;
  right: $header-gap;
  width: $search-width;
  max-height: 40px;
}

.search-box {
  position: relative;
  width: 100%;
  background-color: $search-background;
  @include utils.tappable;

  .search-input {
    outline: none;
    border: none;
    flex: 1;
  }
}

@mixin border-bottom-radius($radius-right, $radius-left: $radius-right) {
  border-bottom-right-radius: $radius-right;
  border-bottom-left-radius: $radius-left;
}

.no-border-radius {
  @include border-bottom-radius(0);
}

.search-results {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 75vh;
  overflow: hidden;
  background-color: $search-background;
  @include border-bottom-radius($search-radius);

  .results-box {
    overflow: auto;
    z-index: 4;

    > * {
      display: block;
      padding: $search-gapy $search-gapx;
    }

    .result-label {
      background-color: $search-background-passive;
      font-size: $search-label-size;
    }

    .result-item {
      &:focus,
      &:hover {
        background-color: $search-background-active;
      }
    }
  }
}
