@use '../variables';
@use '../properties';
@use '../mixins/utils';

// Search

$search-background: variables.$bg-muted;
$search-border-radius: properties.$responsive-radius;
$search-gap-inline: properties.$search-gap-inline;
$search-top-margin: properties.$search-top-margin;
$searchbox-inline-padding: properties.$searchbox-gap-inline;
$searchbox-block-padding: variables.$gap-sm;
$result-background: variables.$bg-vibrant;
$result-border: variables.$border;
$result-border-width: properties.$result-border-width;

.search-container,
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: max-content;
}

.search-container {
  position: absolute;
  width: 100%;
  margin-top: $search-top-margin;
  right: 0;
  left: 0;
}

.search-box {
  position: relative;
  @include utils.mx($search-gap-inline);
  padding: $searchbox-block-padding $searchbox-inline-padding;
  background-color: $search-background;
  border-radius: $search-border-radius;
  width: inherit;

  .search-input {
    outline: none;
    border: none;
    flex: 1;
    height: inherit;
  }

  .search-reset {
    line-height: 0;
  }
}

.search-results {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0 auto;
  top: 4rem;
  right: 0;
  left: 0;
  z-index: 5;
  max-height: 75vh;
  overflow: hidden;
  @include utils.px($search-gap-inline);

  .results-box {
    overflow: auto;
    width: inherit;
    z-index: 4;
    background-color: $result-background;
    border: solid $result-border;
    border-width: $result-border-width;

    > * {
      display: block;
    }

    .result-label,
    .result-item {
      padding: $searchbox-block-padding $searchbox-inline-padding;
    }

    .result-item {
      border-top: 1px solid $result-border;

      &:focus,
      &:hover {
        background-color: $search-background;
      }
    }
  }
}
