@use '../variables';
@use '../properties';
@use '../mixins/utils';

// Sidekick

$sidekick-background: variables.$bg-mid;
$sidekick-topics-background: variables.$bg-body;
$sidekick-topics-gapy: variables.$gap-rg;
$sidekick-gap: properties.$space-rg;
$sidekick-max-width: variables.$max-width-rg;
$sidekick-nav-gap: properties.$space-rg;
$sidekick-nav-margin: properties.$negative-space-rg;
$sidekick-nav-flex-wrap: properties.$flex-wrap;
$sidekick-nav-flex-basis: properties.$flex-basis;
$sidekick-nav-background-prev: variables.$bg-prev;
$sidekick-nav-background-next: variables.$bg-next;
$sidekick-nav-background-active: variables.$bg-passive;
$sidekick-nav-indicator-gap: variables.$ch-rg;
$sidekick-nav-indicator-color: variables.$text-passive;
$sidekick-nav-indicator-font-size: variables.$font-xs;
$sidekick-nav-indicator-font-weight: variables.$weight-bd;

.sidekick {
  background-color: $sidekick-background;
  padding: $sidekick-gap;

  &-wrapper {
    max-width: $sidekick-max-width;
    @include utils.mx(auto);
    text-align: center;

    .topics {
      background-color: $sidekick-topics-background;
      @include utils.py($sidekick-topics-gapy);

      a {
        @include utils.tappable($radius: 10rem);
      }
    }

    .sidekick-actions {
      display: flex;
      flex-basis: 100%;
      justify-content: center;

      a {
        @include utils.tappable;
      }
    }
  }

  a {
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  &-navigation {
    display: flex;
    flex-wrap: $sidekick-nav-flex-wrap;
    margin: $sidekick-nav-margin $sidekick-nav-margin $sidekick-nav-gap;

    .is-prev {
      background-color: $sidekick-nav-background-prev;
    }

    .is-next {
      background-color: $sidekick-nav-background-next;
    }

    > * {
      flex-basis: $sidekick-nav-flex-basis;

      a {
        display: flex;
        padding: $sidekick-nav-gap;

        &:focus,
        &:hover {
          background-color: $sidekick-nav-background-active;
        }

        .label {
          display: block;
          text-transform: uppercase;
          letter-spacing: 2px;
        }

        .label,
        .indicator {
          color: $sidekick-nav-indicator-color;
          font-size: $sidekick-nav-indicator-font-size;
          font-weight: $sidekick-nav-indicator-font-weight;
        }
      }
    }

    .is-prev a {
      align-items: flex-start;

      > *:last-child {
        margin-right: auto;
      }

      .indicator {
        padding-right: $sidekick-nav-indicator-gap;
      }
    }

    .is-next a {
      align-items: flex-end;
      text-align: right;

      > *:first-child {
        margin-left: auto;
      }

      .indicator {
        padding-left: $sidekick-nav-indicator-gap;
      }
    }
  }
}
