@use '../variables';
@use '../properties';
@use '../mixins/utils';

// Sidekick

$gap-start: properties.$hero-gap-block;
$indicator-padding: variables.$ch-rg;
$indicator-color: variables.$text;
$indicator-font-size: variables.$font-sm;
$indicator-gap-end: properties.$space-rg;
$actions-gap-inline: variables.$gap-rg;
$actions-gap-block: variables.$gap-xs;
$sidekick-background: variables.$bg-vibrant;
$sidekick-active-background: variables.$bg-muted;

.sidekick {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: $gap-start;

  a {
    display: inline-flex;
    align-items: center;

    svg {
      margin-right: variables.$ch-sm;
    }

    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  .sidekick-actions {
    display: flex;
    flex-basis: 100%;
    justify-content: center;

    > * {
      @include utils.my($actions-gap-block);

      &:not(:last-child) {
        margin-right: $actions-gap-inline;
      }
    }
  }

  .grid-sm-fit {
    margin-bottom: $indicator-gap-end;
    width: 100%;

    > * {
      cursor: pointer;
      padding: variables.$gap-md variables.$gap-rg;
      border: 1px solid variables.$border;
      border-radius: variables.$radius;
      background-color: $sidekick-background;
      
      &:focus,
      &:hover {
        background-color: $sidekick-active-background;
      }
    }

    .is-prev,
    .is-next {
      .label {
        display: block;
        text-transform: uppercase;
        letter-spacing: 2px;
      }

      .label,
      .indicator {
        color: $indicator-color;
        font-size: $indicator-font-size;
      }
    }

    .is-prev {
      align-items: flex-start;

      > *:last-child {
        margin-right: auto;
      }

      .indicator {
        padding-right: $indicator-padding;
      }
    }

    .is-next {
      align-items: flex-end;
      text-align: right;
      
      > *:first-child {
        margin-left: auto;
      }

      .indicator {
        padding-left: $indicator-padding;
      }
    }
  }
}

// Pagination

$pagination-gap: variables.$gap-rg;

.pagination {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: $indicator-font-size;

  .is-prev {
    margin-right: $pagination-gap;
  }

  .is-next {
    margin-left: $pagination-gap;
  }
}
