@use '../_variables';
@use '../_properties';

// Table of contents

$toc-background: variables.$bg-vibrant;
$toc-radius: variables.$radius;
$toc-gap-bottom: properties.$space-rg;
$toc-header-weight: variables.$weight-md;
$toc-body-font-size: variables.$font-sm;
$toc-body-gapx: variables.$gap;
$toc-body-gap-bottom: variables.$gap-lg;

.toc {
  background-color: $toc-background;
  border-radius: $toc-radius;
  margin-bottom: $toc-gap-bottom;
  width: 100%;

  a {
    padding: 1em 1.2em;
  }
}

.toc-header {
  display: flex;
  justify-content: space-between;
  font-weight: $toc-header-weight;
  color: inherit;

  &:focus,
  &:hover {
    color: inherit;
  }
}

.toc-body {
  list-style-type: none;
  margin-left: 0;
  font-size: $toc-body-font-size;
  padding: 0 $toc-body-gapx $toc-body-gap-bottom;

  li {
    $toc-margin: $toc-body-gapx;
    $levels: 3 4 5 6;

    @each $level in $levels {
      .toc-item-#{$level} {
        margin-left: $toc-margin * ($level - 2);
      }
    }
  }
}
