$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

@function tint($color, $percentage) {
  @return mix($white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix($black, $color, $percentage);
}

$primary: (
  "100": hsl(158, 25%, 79%),
  "200": hsl(160, 26%, 71%),
  "300": hsl(160, 30%, 62%),
  "400": hsl(161, 33%, 52%),
  "500": hsl(166, 64%, 38%),
  "600": hsl(165, 54%, 36%),
  "700": hsl(163, 45%, 34%),
  "800": hsl(162, 39%, 31%),
  "900": hsl(162, 35%, 28%),
  "a100": hsl(160, 31%, 25%),
  "a200": hsl(160, 27%, 22%),
  "a300": hsl(162, 25%, 18%),
  "a600":	hsl(150, 17%, 98%),
  "a700": hsl(160, 20%, 94%),
  "a800": hsl(164, 22%, 90%),
  "a900": hsl(160, 22%, 86%)
);

$secondary: (
  "100": hsl(240, 11%, 80%),
  "200": hsl(244, 12%, 72%),
  "300": hsl(245, 13%, 64%),
  "400": hsl(244, 14%, 58%),
  "500": hsl(245, 15%, 52%),
  "600": hsl(247, 19%, 46%),
  "700": hsl(247, 21%, 40%),
  "800": hsl(248, 19%, 33%),
  "900": hsl(248, 18%, 26%),
  "a100": hsl(248, 17%, 25%),
  "a200": hsl(249, 17%, 22%),
  "a300": hsl(245, 14%, 15%),
  "a600": hsl(240, 8%, 95%),
  "a700": hsl(252, 11%, 91%),
  "a800": hsl(240, 11%, 88%),
  "a900": hsl(240, 9%, 85%)
);

@function primary($variation) {
  @return map-get($primary, $variation);
}

@function secondary($variation) {
  @return map-get($secondary, $variation);
}

$selection: transparentize(primary("500"), 0.75);

[data-theme="light"] {
  --background-default: #{$white};
  --background-default-darker: #{primary("a700")};
  --background-code: #{secondary("a900")};
  --background-search: #{primary("a800")};
  --background-search-hover: #{tint(primary("100"), 35%)};
  --background-search-highlighted: #{primary("200")};
  --background-card: #{tint(primary("a800"), 10%)};
  --background-card-hover: #{primary("a900")};
  --background-scrollbar-track: #{primary("a800")};
  --background-scrollbar-thumb: #{primary("200")};
  --background-scrollbar-button: #{tint(primary("100"), 10%)};
  --text-default: #{secondary("900")};
  --text-default-muted: #{primary("300")};
  --text-search-muted: #{secondary("600")};
  --border-muted: #{transparentize(primary("100"), 0.7)};
  --border: #{transparentize(primary("100"), 0.2)};
  --code-default: #{shade(primary("a300"), 15%)};

  scrollbar-color: light;
}

[data-theme="dark"] {
  --background-default: #{shade(secondary("a300"), 15%)};
  --background-default-darker: #{shade(secondary("a300"), 30%)};
  --background-code: #{secondary("900")};
  --background-search: #{secondary("a200")};
  --background-search-hover: #{shade(secondary("a200"), 20%)};
  --background-search-highlighted: #{shade(secondary("a200"), 25%)};
  --background-card: #{secondary("a300")};
  --background-card-hover: #{shade(secondary("a300"), 40%)};
  --background-scrollbar-track: #{shade(secondary("a300"), 10%)};
  --background-scrollbar-thumb: #{tint(secondary("a200"), 10%)};
  --background-scrollbar-button: #{tint(secondary("a200"), 5%)};
  --text-default: #{secondary("a800")};
  --text-default-muted: #{primary("800")};
  --text-search-muted: #{secondary("300")};
  --border-muted: #{transparentize(secondary("900"), 0.25)};
  --border: #{secondary("800")};
  --code-default: #{transparentize(secondary("900"), 0.5)};

  scrollbar-color: dark;
}
