@use 'sass:color' as *;
@use 'sass:map';

// Colormix functions

@function fade($color, $transparency: 1) {
  @return adjust($color, $alpha: -($transparency));
}

@function saturate($color, $vibrance) {
  @return adjust($color, $saturation: $vibrance);
}

// Color palettes
// 
// Ax00 variants are WCAG-accesible complements of x00 colors
// all the colors are in CIECAM02 color space

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

$primary: (
  100: hsl(152, 25%, 80%),
  200: hsl(153, 26%, 75%),
  300: hsl(153, 29%, 64%),
  400: hsl(155, 33%, 53%),
  500: hsl(160, 62%, 38%),
  600: hsl(158, 49%, 36%),
  700: hsl(156, 41%, 33%),
  800: hsl(155, 35%, 29%),
  900: hsl(154, 29%, 23%),
) !default;

$secondary: (
  100: hsl(223, 8%, 83%),
  200: hsl(227, 9%, 79%),
  300: hsl(231, 9%, 72%),
  400: hsl(227, 10%, 64%),
  500: hsl(229, 10%, 57%),
  600: hsl(228, 10%, 50%),
  700: hsl(228, 13%, 44%),
  800: hsl(229, 17%, 39%),
  900: hsl(228, 16%, 30%)
) !default;

$tertiary: (
  100: hsl(34, 86%, 77%),
  200: hsl(34, 68%, 73%),
  300: hsl(35, 46%, 65%),
  400: hsl(34, 33%, 58%),
  500: hsl(35, 23%, 51%),
  600: hsl(34, 22%, 45%),
  700: hsl(35, 20%, 39%),
  800: hsl(34, 19%, 33%),
  900: hsl(32, 18%, 26%)
) !default;

// Conveniences for palette access

@function primary($variation) {
  @return map.get($primary, $variation);
}

@function secondary($variation) {
  @return map.get($secondary, $variation);
}

@function tertiary($variation) {
  @return map.get($tertiary, $variation);
}

// Common properties

:root {
  --text-vibrant: hsl(350, 70%, 50%);
  --text-muted: hsl(29, 57%, 44%);
}

// CSS properties for light theme

[data-theme='light'] {
  $bg-base: $white;
  $text-base: mix($black, secondary(900), 25%);

  --text: #{$text-base};
  --border: #{mix($bg-base, $text-base, 77%)};
  --border-vibrant: #{mix($bg-base, $text-base, 66%)};
  --link: #{mix($text-base, primary(500), 20%)};
  --link-vibrant: #{mix($text-base, primary(500), 33%)};
  --scrollbar: #{fade(saturate(tertiary(300), 25%), 0.3)};
  --bg-body: #{$bg-base};
  --bg-header: #{mix($white, tertiary(100), 50%)};
  --bg-vibrant: #{mix($white, tertiary(100), 77%)};
  --bg-muted: #{mix($white, tertiary(200), 94%)};
  --bg-card: #{mix($white, primary(900), 92%)};
  --bg-card-vibrant: #{mix($white, tertiary(100), 75%)};
}

// CSS properties for dark theme

[data-theme='dark'] {
  $bg-base: mix($black, secondary(900), 60%);
  $text-base: mix($black, $white, 25%);

  --text: #{$text-base};
  --border: #{mix($bg-base, $text-base, 88%)};
  --border-vibrant: #{mix($bg-base, $text-base, 66%)};
  --link: #{mix($text-base, primary(500), 5%)};
  --link-vibrant: #{primary(400)};
  --scrollbar: #{fade(secondary(900), 0.3)};
  --bg-body: #{$bg-base};
  --bg-header: #{mix($black, secondary(900), 77%)};
  --bg-vibrant: #{mix($black, secondary(900), 66%)};
  --bg-muted: #{mix($black, secondary(900), 55%)};
  --bg-card: #{mix($black, secondary(900), 68%)};
  --bg-card-vibrant: #{mix($bg-base, primary(500), 92%)};
}
