@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';

$default-formats: ('woff2', 'woff');
$font-location: '/assets/fonts';

@function _contains($list, $values...) {
  @each $value in $values {
    @if meta.type-of(list.index($list, $value)) != 'number' {
      @return false;
    }
  }

  @return true;
}

@function _declare-font-src($font-family, $file-path, $file-formats) {
  $src: ();

  $formats-map: (
    'eot': '#{$file-path}.eot?#iefix'format('embedded-opentype'),
    'woff2 supports variations(gvar)': '#{$file-path}.woff2'format('woff2 supports variations(gvar)'),
    'woff2-variations': '#{$file-path}.woff2'format('woff2-variations'),
    'woff2': '#{$file-path}.woff2'format('woff2'),
    'woff': '#{$file-path}.woff'format('woff'),
    'svg': '#{$file-path}.svg##{$font-family}'format('svg')
  );

  @each $format in $file-formats {
    @if _contains(map.keys($formats-map), $format) {
      $value: map.get($formats-map, $format);
      $file-path: list.nth($value, 1);
      $font-format: list.nth($value, 2);

      $src: list.append($src, url($file-path) $font-format, comma);
    } @else {
      @error '`#{$file-formats}` contains an unsupported font file format. ' +
             'Must be `eot`, `woff2 supports variations(gvar)`, `woff2-variations`, `woff2`, `woff` and/or `svg`.';
    }
  }

  @return $src;
}

@mixin font-face($font-family, $font-weight, $file-path, $font-style: normal, $file-formats: $default-formats) {
  @font-face {
    font-family: $font-family;
    font-display: swap;
    src: _declare-font-src($font-family, $file-path, $file-formats);
    font-style: $font-style;
    font-weight: $font-weight;
    @content;
  }
}

@function _font-path($font-file-name) {
  @return '#{$font-location}/#{$font-file-name}';
}

@include font-face('Inter', 350, _font-path('Inter-Light'));
@include font-face('Inter', 350, _font-path('Inter-LightItalic'), italic);
@include font-face('Inter', 400, _font-path('Inter-Regular'));
@include font-face('Inter', 400, _font-path('Inter-Italic'), italic);
@include font-face('Inter', 600, _font-path('Inter-SemiBold'));
@include font-face('Inter', 600, _font-path('Inter-SemiBoldItalic'), italic);
@include font-face('Inter', 700, _font-path('Inter-Bold'));
@include font-face('Inter', 700, _font-path('Inter-BoldItalic'), italic);

@include font-face('Inter var', 100 900, _font-path('Inter-roman.var'),
  $file-formats: ('woff2 supports variations(gvar)', 'woff2-variations', 'woff2')) {
  font-named-instance: 'Regular';
}

@include font-face('Inter var', 100 900, _font-path('Inter-italic.var'), italic,
  $file-formats: ('woff2 supports variations(gvar)', 'woff2-variations', 'woff2')) {
  font-named-instance: 'Italic';
}

@include font-face('Space Grotesk', 600, _font-path('SpaceGrotesk-Medium'));
@include font-face('Space Grotesk', 700, _font-path('SpaceGrotesk-Bold'));

@include font-face('Space Grotesk var', 100 900, _font-path('SpaceGrotesk-var'),
  $file-formats: ('woff2 supports variations(gvar)', 'woff2-variations', 'woff2')) {
  font-named-instance: 'Regular';
}

@include font-face('JetBrains Mono', 350, _font-path('JetBrainsMono-SemiLight'));
@include font-face('JetBrains Mono', 400, _font-path('JetBrainsMono-Regular'));
@include font-face('JetBrains Mono', 600, _font-path('JetBrainsMono-Medium'));
@include font-face('JetBrains Mono', 700, _font-path('JetBrainsMono-Bold'));
