:root {
  --gap-xs: 0.5rem;
  --gap-sm: 0.75rem;
  --gap-base: 1rem;
  --gap-md: 1.25rem;
  --gap-lg: 1.5rem;
  --gap-xl: 2rem;

  --far-base: calc(1.25rem + 2vw);
  --far-sm: calc(var(--far-base) * 0.5);
  --far-md: calc(var(--far-base) * 1.5);
  --far-lg: calc(var(--far-base) * 2);

  --close-base: calc(var(--far-base) * -1);
  --close-sm: calc(var(--close-base) * 0.5);
  --close-lg: calc(var(--close-base) * 2);

  --radius-base: 0.25rem;
  --radius-full: 9999px;

  --opacity-base: 0.5;

  --lightmix: 0%;
}

[data-text-mode='normal'] {
  --text-xs: calc(0.7rem + 0.1vw);
  --text-sm: calc(0.8rem + 0.2vw);
  --text-base: calc(0.9rem + 0.3vw);
  --text-md: calc(1rem + 0.4vw);
  --text-xxl: calc(1.7rem + 3.25vw);
}

[data-text-mode='large'] {
  --text-xs: calc(0.8rem + 0.1vw);
  --text-sm: calc(0.9rem + 0.2vw);
  --text-base: calc(1rem + 0.3vw);
  --text-md: calc(1.1rem + 0.4vw);
  --text-xxl: calc(1.8rem + 3.25vw);
}

[data-theme='light'] {
  color-scheme: light;
  scrollbar-color: light;

  --brand-primary: hsl(160, 62%, 31%);
  --brand-secondary: hsl(240, 14%, 7%);
  --brand-tertiary: hsl(30, 80%, 99%);

  --semantic-neutral: hsl(240, 14%, 37%);
  --semantic-deter: hsl(350, 90%, 45%);
  --semantic-positive: hsl(140, 70%, 35%);
  --semantic-inform: hsl(200, 90%, 37%);
  --semantic-urge: hsl(15, 83%, 48%);

  --decorative-quartz: hsl(240, 14%, 66%, 0.1);
  --decorative-spinel: hsl(240, 14%, 66%, 0.3);
  --decorative-agate: hsl(240, 14%, 66%, 0.6);
  --decorative-jade: hsl(160, 62%, 60%, 0.3);
  --decorative-ruby: hsl(350, 90%, 70%, 0.3);
  --decorative-opal: hsl(192, 90%, 70%, 0.3);
  --decorative-gold: hsl(25, 90%, 70%, 0.2);

  --code-highlight: hsl(31, 57%, 88%);
  --shiki-color-text: #0a0a0e;
  --shiki-color-background: #f8f0e7;
  --shiki-token-constant: #4358d0;
  --shiki-token-string: #816837;
  --shiki-token-comment: #486a6a99;
  --shiki-token-keyword: #d55b53;
  --shiki-token-parameter: #6d45a1;
  --shiki-token-function: #c82d2d;
  --shiki-token-string-expression: #3f7478;
  --shiki-token-punctuation: #326258;
  --shiki-token-link: #436f8e;

  --lightmix: 10%;

  --weight-normal: 400;
  --weight-bold: 700;

  --stroke-base: 1.5px;
  --stroke-md: 2px;
}

[data-theme='dark'] {
  color-scheme: dark;
  scrollbar-color: dark;

  --brand-primary: hsl(160, 62%, 41%);
  --brand-secondary: hsl(30, 5%, 65%);
  --brand-tertiary: hsl(240, 14%, 7%);

  --semantic-neutral: hsl(240, 14%, 64%);
  --semantic-deter: hsl(350, 90%, 55%);
  --semantic-positive: hsl(140, 70%, 45%);
  --semantic-inform: hsl(200, 90%, 47%);
  --semantic-urge: hsl(15, 83%, 58%);

  --decorative-quartz: hsl(240, 14%, 45%, 0.1);
  --decorative-spinel: hsl(240, 14%, 45%, 0.3);
  --decorative-agate: hsl(240, 14%, 45%, 0.6);
  --decorative-jade: hsl(160, 62%, 38%, 0.3);
  --decorative-ruby: hsl(350, 90%, 35%, 0.3);
  --decorative-opal: hsl(192, 90%, 25%, 0.3);
  --decorative-gold: hsl(25, 90%, 35%, 0.2);

  --code-highlight: hsl(240, 18%, 13%);
  --shiki-color-text: #aaa6a1;
  --shiki-color-background: #0a0a0e;
  --shiki-token-constant: #596cd6;
  --shiki-token-string: #92763f;
  --shiki-token-comment: #53797999;
  --shiki-token-keyword: #da6f67;
  --shiki-token-parameter: #764baf;
  --shiki-token-function: #d33a3a;
  --shiki-token-string-expression: #488388;
  --shiki-token-punctuation: #3a7367;
  --shiki-token-link: #4b7ca0;

  --weight-normal: 350;
  --weight-bold: 600;

  --stroke-base: 1.25px;
  --stroke-md: 1.75px;
}
