@use 'sass:color';
@use 'sass:map';

// Colormix functions

@function mix($base, $derived, $percentage) {
  @return color.mix($base, $derived, $percentage);
}

@function fade($color, $transparency: 1) {
  @return color.adjust($color, $alpha: -($transparency));
}

@function saturate($color, $vibrance) {
  @return color.adjust($color, $saturation: $vibrance);
}

// Brand colors

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$primary: hsl(160, 62%, 38%);
$secondary: hsl(229, 42%, 57%);
$tertiary: hsl(28, 73%, 62%);

// CSS properties for light theme

[data-theme='light'] {
  --text: #{saturate(mix($black, $secondary, 70%), -15%)};
  --text-passive: #{saturate(mix($black, $secondary, 45%), 5%)};
  --link: #{saturate(mix($black, $primary, 35%), 10%)};
  --link-active: #{saturate(mix($black, $primary, 55%), 20%)};
  --bg-body: #{saturate(mix($white, $tertiary, 85%), 10%)};
  --bg-active: #{saturate(mix($white, $tertiary, 70%), 15%)};
  --bg-passive: #{saturate(mix($white, $tertiary, 77%), 20%)};
  --bg-code: #{saturate(mix($white, $tertiary, 95%), 20%)};
  --bg-search: #{saturate(mix($white, $tertiary, 50%), 5%)};
  --bg-selected: #{fade($tertiary, 0.75)};
  --bg-highlight: #{fade($tertiary, 0.85)};
  --bg-caution: hsl(57, 39%, 82%);
  --bg-tip: hsl(169, 28%, 82%);
  --bg-warning: hsl(0, 96%, 90%);
  --bg-important: hsl(247, 44%, 87%);
  --border: #{saturate(mix($white, $tertiary, 45%), 10%)};
  --tone-1: hsla(10, 100%, 75%, 0.45);
  --tone-2: hsla(192, 75%, 68%, 0.5);

  --weight-regular: 400;
  --weight-bold: 700;

  --stroke-sm: 1.75px;
  --stroke-rg: 1.25px;
}

// CSS properties for dark theme

[data-theme='dark'] {
  --text: #{saturate(mix($white, $secondary, 10%), -50%)};
  --text-passive: #{saturate(mix($black, $tertiary, 15%), -25%)};
  --link: #{$primary};
  --link-active: #{mix($white, $primary, 25%)};
  --bg-body: #{saturate(mix($black, $secondary, 85%), -10%)};
  --bg-active: #{saturate(mix($black, $secondary, 90%), -5%)};
  --bg-passive: #{saturate(mix($black, $secondary, 77%), -15%)};
  --bg-code: #{saturate(mix($black, $secondary, 89%), -10%)};
  --bg-search: #{mix($black, $primary, 70%)};
  --bg-selected: #{fade($primary, 0.75)};
  --bg-highlight: #{fade($primary, 0.9)};
  --bg-caution: hsl(44, 30%, 18%);
  --bg-tip: hsl(164, 49%, 16%);
  --bg-warning: hsl(4, 58%, 22%);
  --bg-important: hsl(228, 43%, 24%);
  --border: #{saturate(mix($black, $secondary, 60%), -25%)};
  --tone-1: hsla(350, 90%, 35%, 0.4);
  --tone-2: hsla(263, 90%, 45%, 0.2);

  --weight-regular: 350;
  --weight-bold: 600;

  --stroke-sm: 1.5px;
  --stroke-rg: 1px;
}
