@use 'sass:color';
@use 'sass:map';

// Colormix functions

@function mix($base, $derived, $percentage) {
  @return color.mix($base, $derived, $percentage);
}

@function fade($color, $transparency: 1) {
  @return color.adjust($color, $alpha: -($transparency));
}

@function saturate($color, $vibrance) {
  @return color.adjust($color, $saturation: $vibrance);
}

// Color palettes
// 
// Ax00 variants are WCAG-accesible complements of x00 colors
// all the colors are in CIECAM02 color space

$mono: (
  100: hsl(0, 0%, 100%),
  200: hsl(0, 0%, 85%),
  300: hsl(0, 0%, 71%),
  400: hsl(0, 0%, 56%),
  500: hsl(0, 0%, 44%),
  600: hsl(60, 1%, 33%),
  700: hsl(60, 1%, 24%),
  800: hsl(0, 1%, 14%),
  900: hsl(0, 0%, 0%)
);

$primary: (
  100: hsl(152, 25%, 80%),
  200: hsl(153, 26%, 75%),
  300: hsl(153, 29%, 64%),
  400: hsl(155, 33%, 53%),
  500: hsl(160, 62%, 38%),
  600: hsl(158, 49%, 36%),
  700: hsl(156, 41%, 33%),
  800: hsl(155, 35%, 29%),
  900: hsl(154, 29%, 23%),
) !default;

$secondary: (
  100: hsl(223, 8%, 83%),
  200: hsl(227, 9%, 79%),
  300: hsl(231, 9%, 72%),
  400: hsl(227, 10%, 64%),
  500: hsl(229, 10%, 57%),
  600: hsl(228, 10%, 50%),
  700: hsl(228, 13%, 44%),
  800: hsl(229, 17%, 39%),
  900: hsl(228, 16%, 30%)
) !default;

// Conveniences for palette access

@function mono($variation) {
  @return map.get($mono, $variation);
}

@function primary($variation) {
  @return map.get($primary, $variation);
}

@function secondary($variation) {
  @return map.get($secondary, $variation);
}

$white: mono(100);
$black: mono(900);

// CSS properties for light theme

[data-theme='light'] {
  $bg-base: mix($white, mono(100), 20%);
  $text-base: mix($black, secondary(900), 25%);

  --text: #{$text-base};
  --text-passive: #{saturate(mix($bg-base, secondary(800), 10%), 20%)};
  --link: #{mix($text-base, primary(500), 24%)};
  --link-active: #{mix($text-base, primary(500), 31%)};
  --border: #{mix($bg-base, $text-base, 77%)};
  --bg-body: #{$bg-base};
  --bg-active: #{mix($white, mono(200), 85%)};
  --bg-passive: #{mix($white, primary(300), 80%)};
  --bg-caution: hsl(54, 36%, 86%);
  --bg-tip: hsl(160, 27%, 88%);
  --bg-warning: hsl(5, 70%, 90%);
  --bg-important: hsl(226, 40%, 88%);

  --weight-rg: 400;
  --weight-bd: 700;

  --stroke-sm: 1.75px;
  --stroke-rg: 1.25px;
}

// CSS properties for dark theme

[data-theme='dark'] {
  $bg-base: mix($black, secondary(900), 60%);
  $text-base: mix($black, $white, 25%);

  --text: #{$text-base};
  --text-passive: #{mix($bg-base, secondary(500), 5%)};
  --link: #{mix($text-base, primary(500), 5%)};
  --link-active: #{primary(400)};
  --border: #{mix($bg-base, $text-base, 85%)};
  --bg-body: #{$bg-base};
  --bg-active: #{mix($black, $bg-base, 20%)};
  --bg-passive: #{mix($black, primary(900), 33%)};
  --bg-caution: hsl(49, 20%, 20%);
  --bg-tip: hsl(160, 30%, 19%);
  --bg-warning: hsl(4, 50%, 23%);
  --bg-important: hsl(228, 41%, 26%);

  --weight-rg: 350;
  --weight-bd: 600;

  --stroke-sm: 1.5px;
  --stroke-rg: 1px;
}
