:root {
  --space-rg: calc(1.25rem + 2vw);
  --space-sm: calc(var(--space-rg) * 0.5);
  --space-md: calc(var(--space-rg) * 1.5);
  --space-lg: calc(var(--space-rg) * 2);
  --curb-rg: calc(var(--space-rg) * -1);

  --h-amber: 28;
  --h-jade: 160;
  --h-onyx: 240;

  --hs-opal: 192, 90%;
  --hs-ruby: 350, 90%;
  --hs-spinel: 263, 90%;

  --amber: var(--h-amber), 73%, 62%;
  --jade: var(--h-jade), 62%, 38%;
  --onyx: var(--h-onyx), 14%, 7%;

  --opacity-highlighted: 0.15;
  --opacity-selected: 0.25;
  --opacity-gradient: 0.3;

  --grid-col-xs: calc(9rem + 5vw);
}

[data-theme='light'] {
  --text: hsl(var(--onyx));
  --text-highlighted: hsl(var(--h-onyx), 41%, 38%);
  --link: hsl(var(--h-jade), 72%, 26%);
  --link-highlighted: hsl(var(--h-jade), 78%, 18%);
  --bg-body: hsl(var(--h-amber), 84%, 98%);
  --bg-accent: hsl(var(--h-amber), 93%, 94%);
  --bg-highlighted: hsla(var(--amber), var(--opacity-highlighted));
  --bg-selected: hsla(var(--amber), var(--opacity-selected));
  --border: hsl(var(--h-amber), 83%, 79%);

  --colormix-1: hsla(var(--hs-ruby), 70%, var(--opacity-gradient));
  --colormix-2: hsla(var(--hs-spinel), 80%, var(--opacity-gradient));
  --colormix-3: hsla(var(--hs-opal), 70%, var(--opacity-gradient));
  --lightmix: 10%;

  --weight-regular: 400;
  --weight-bold: 700;

  --stroke-sm: 2px;
  --stroke-rg: 1.5px;
}

[data-theme='dark'] {
  --text: hsl(var(--h-amber), 0%, 66%);
  --text-highlighted: hsl(var(--h-amber), 25%, 51%);
  --link: hsl(var(--jade));
  --link-highlighted: hsl(var(--h-jade), 38%, 54%);
  --bg-body: hsl(var(--onyx));
  --bg-accent: hsl(var(--h-onyx), 19%, 11%);
  --bg-highlighted: hsla(var(--jade), var(--opacity-highlighted));
  --bg-selected: hsla(var(--jade), var(--opacity-selected));
  --border: hsl(var(--h-onyx), 13%, 22%);

  --colormix-1: hsla(var(--hs-ruby), 35%, var(--opacity-gradient));
  --colormix-2: hsla(var(--hs-spinel), 35%, var(--opacity-gradient));
  --colormix-3: hsla(var(--hs-opal), 25%, var(--opacity-gradient));
  --lightmix: 0%;

  --weight-regular: 350;
  --weight-bold: 600;

  --stroke-sm: 1.75px;
  --stroke-rg: 1.25px;
}
