@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, 0, -100%);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 0, -100%);
  }
}

@keyframes slideUp {
  from {
    transform: translate3d(0, 20%, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rotateInRight {
  from {
    opacity: 0;
    transform: rotateY(-180deg);
  }

  to {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

@keyframes fadeBackgroundColor {
  from {
    opacity: 0;
    transform: background-color;
  }

  to {
    opacity: 1;
    transform: background-color;
  }
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
