@use '~/assets/styles/mixins/gap' as *;
@use '~/assets/styles/mixins/size' as *;

@mixin admonition($color) {
  --block-color: #{$color};
  --block-indent: 2ch;
  --block-border: 0.2em solid var(--block-color);

  color: var(--block-color);
  border-left: var(--block-border);
  padding-left: var(--block-indent);
  font-size: 0.95em;

  h5 {
    color: var(--block-color);
  }

  .admonition-icon svg {
    stroke: var(--block-color);
    fill: var(--block-color);
  }

  code {
    overflow-wrap: break-word;
  }
}

.admonition {
  @include my(var(--far-base));

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:only-child {
    @include my(0);
  }

  &-heading h5 {
    display: flex;
    align-items: center;
    margin-bottom: 2ch;
    text-transform: capitalize;
  }

  &-icon {
    margin-right: 1ch;

    svg {
      @include size(24px);
      stroke-width: 0;
    }
  }
}

.admonition, 
.admonition-note {
  @include admonition(var(--semantic-neutral));
}

.admonition-caution {
  @include admonition(var(--semantic-warn));
}

.admonition-tip {
  @include admonition(var(--semantic-inform));
}

.admonition-warning {
  @include admonition(var(--semantic-deter));
}

.admonition-important {
  @include admonition(var(--semantic-urge));
}

blockquote {
  @include admonition(var(--brand-secondary));

  & > p strong:first-of-type {
    display: flex;
    align-items: center;
    margin-bottom: 2ch;
  }
}
