@use '~/assets/styles/mixins/font-family' as family;

.code-metadata {
  display: flex;
  align-items: center;
  font-size: var(--text-xs);
  user-select: none;
	background-color: var(--decorative-quartz);
	border-top-left-radius: var(--radius-seamless);
	border-top-right-radius: var(--radius-seamless);
	padding: 0.5ch 0.5ch 1ch 0.5ch;
	margin-bottom: -0.5ch;

  .language-id {
    @include family.font-code;
    font-weight: var(--weight-bold);
    padding: 0.25em 0.5em;
    background-color: var(--decorative-opal);
    color: var(--semantic-inform);
    border-radius: var(--radius-base);
  }

  .code-caption {
    padding: 0.25em 0.5em;
  }
}

.shiki {
  overflow-x: auto; // needed for Safari
  border: 1px solid var(--decorative-spinel);
  border-radius: var(--radius-seamless);

  &:focus-within {
    outline: 2px solid var(--semantic-neutral);
  }

	code {
		padding: 1.2em 0;
	}

  & > code {
    display: grid;
  }

  .line {
		padding: 0 1.2em;
    border-left: 2px solid transparent;

    &-number {
      user-select: none;
      padding-right: 2ch;
      text-align: right;
      color: var(--shiki-token-comment);
    }
  }

  .line-highlighted {
    background: var(--code-highlight);
		border-left-color: var(--decorative-agate);

    .line-number {
      color: var(--semantic-neutral);
    }
  }
}
