@use '~/assets/styles/mixins/font-family' as family;

.code-metadata {
  font-size: var(--text-xs);
  user-select: none;
  margin-bottom: 1ch;

  .language-id {
    @include family.font-code;
    font-weight: var(--weight-bold);
    padding: 0.25em 0.5em;
    background-color: var(--decorative-opal);
    color: var(--semantic-inform);
    border-radius: var(--radius-base);
  }

  .code-caption {
    padding: 0.25em 0.5em;
  }
}

.shiki {
  overflow-x: auto; // needed for Safari
  border: 1px solid var(--decorative-spinel);
  border-radius: var(--radius-base);

  &:focus {
    outline: 2px solid var(--semantic-neutral);
  }

  & > code {
    width: max-content; // needed for Safari
  }

  .line {
    display: table-row;

    &-number {
      display: inline-block;
      user-select: none;
      padding-right: 2ch;
      text-align: right;
      color: var(--shiki-token-comment);
    }
  }

  .line-highlighted {
    background: var(--code-highlight);

    .line-number {
      font-weight: var(--weight-bold);
    }
  }
}
