@use '~/assets/styles/variables' as *;
@use '~/assets/styles/mixins/gap' as *;
@use '~/assets/styles/mixins/queries';
@use '~/assets/styles/mixins/visibility';

// article container

main.container {
  figure img,
  figure svg,
  div[class$='-embed'] iframe {
    border: 1px solid var(--decorative-quartz);
    border-radius: var(--radius-base);
  }

  div[class$='-embed'],
  .shiki {
    margin-bottom: $gap-xl;
  }

  figure,
  div[class$='-embed'] {
    @include mx(var(--zoom-lg));
  }

  .shiki,
  .code-metadata {
    @include mx(var(--zoom-base));
  }

  li::marker {
    color: var(--decorative-agate);
  }

  .article > p:first-of-type {
    font-size: 1.25em;
  }
}

// reference links and code

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  &:focus a .reference,
  &:hover a .reference {
    @include visibility.hide(false);
    display: inline-block;
    width: 1.25ch;
    margin-left: -1.25ch;

    &::after {
      content: '#';
    }
  }

  & code {
    padding: 0;
    background-color: transparent;
    font-size: 0.95em;
    color: var(--semantic-inform);
  }
}

// indicator for external links

a {
  &[rel*='nofollow']::after {
    content: '\02197';
  }

  &.active {
    font-weight: var(--weight-bold);
  }
}
