@use '~/assets/styles/mixins/size' as *;

.icon {
  --icon-size: 2rem;

  stroke: none;
  fill: currentColor;
  fill-rule: evenodd;
  @include size(var(--icon-size));

  &-sm {
    --icon-size: 1.5rem;

    @extend .icon;
  }
}
