/*! Spotlight v3.0.0 | MIT License */
@use '~/assets/styles/mixins/font-family' as family;
@use '~/assets/styles/mixins/gap';

$weight-bold: var(--weight-bold) !default;
$weight-headings: var(--weight-black) !default;

$text-base: var(--text-base) !default;
$text-code: 0.9em !default;
$text-small: 0.8em !default;

$bg-body: var(--brand-tertiary) !default;
$bg-code: var(--decorative-opal) !default;
$bg-del: var(--decorative-ruby) !default;
$bg-ins: var(--decorative-jade) !default;
$bg-mark: var(--decorative-gold) !default;
$bg-table: inherit !default;
$bg-table-hover: var(--decorative-gold) !default;
$bg-summary: var(--decorative-gold) !default;
$bg-selection: var(--decorative-jade) !default;
$bg-scrollbar: transparent !default;
$border-color: var(--decorative-spinel) !default;
$text: var(--brand-secondary) !default;
$text-code: inherit !default;
$text-muted: var(--semantic-neutral) !default;
$text-headings: var(--brand-secondary) !default;
$link: var(--brand-primary) !default;
$link-hover: var(--semantic-deter) !default;
$link-active: var(--semantic-urge) !default;
$table-thead: inherit !default;
$scrollbar: var(--decorative-spinel) !default;

$opacity: var(--opacity-base) !default;
$radius: var(--radius-base) !default;
$media-radius: $radius !default;
$codeblock-radius: $radius !default;

$line-height: 1.6 !default;
$margin: var(--gap-lg) !default;

@mixin heading($font-size) {
  font-size: #{$font-size}em;
  margin-top: calc(#{$margin} * 5 / #{$font-size});
  margin-bottom: calc(#{$margin} * 2.5 / #{$font-size});
}

@mixin cell($font-size) {
  font-size: #{$font-size}em;
  padding: calc(#{$margin} / 2.5 / #{$font-size}) calc(#{$margin} / 2 / #{$font-size});
}

* {
  // wrap all boxes with parent's box and padding
  box-decoration-break: clone;

  // custom scrollbar colors
  scrollbar-color: $scrollbar $bg-scrollbar;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    background-color: $bg-scrollbar;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar;
  }

  // enable smooth scrolling
  scroll-behavior: smooth;

  @media screen and (prefers-reduced-motion: true) { 
    scroll-behavior: auto;
  }

  // custom selection background
  &::-moz-selection { 
    background: $bg-selection;
  }
  
  &::selection { 
    background: $bg-selection;
  }
}

body {
  line-height: $line-height;
  font-size: $text-base;
  text-size-adjust: 100%;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-kerning: normal;
  text-rendering: optimizeLegibility;

  background-color: $bg-body;
  color: $text;
  @include family.font-body;

  -webkit-overflow-scrolling: touch;

  a {
    text-decoration: none;
    cursor: pointer;
    color: $link;

    &:focus,
    &:hover {
      text-decoration: underline;
      color: $link-hover;
    }

    &:active {
      color: $link-active;
    }

    &:focus {
      outline-width: thin;
    }
  }

  abbr {
    text-decoration: underline dotted;
    cursor: help;
  }

  cite {
    font-style: italic;
  }

  hr {
    background: $border-color;
    border: none;
    display: block;
    height: 1px;
    @include gap.my($margin);
  }

  mark,
  del,
  ins {
    border-radius: $radius;
    padding: 0.2ch 0.6ch;
    font-size: 0.95em;
  }

  del {
    background-color: $bg-del;
  }

  ins {
    background-color: $bg-ins;
    text-decoration: none;
  }

  mark {
    background-color: $bg-mark;
  }

  summary {
    display: list-item;
  }

  details {
    display: block;
    border: 1px solid $border-color;
    padding: 0 0.75em 0;

    summary {
      background-color: $bg-summary;
      margin: 0 -0.75em 0;
      padding: 0.5em 0.75em;
      cursor: pointer;
    }

    &[open] {
      padding-bottom: 0.5em;

      summary {
        margin-bottom: 0.5em;
        border-bottom: 1px solid $border-color;
      }
    }
  }

  strong {
    font-weight: $weight-bold;
  }

  small,
  sub,
  sup {
    font-size: $text-small;
  }

  sub {
    vertical-align: sub;
  }

  sup {
    vertical-align: super;
  }

  var {
    font-style: italic;
    font-weight: 600;
  }

  img {
    vertical-align: text-bottom;
    border-radius: $media-radius;
  }

  figure {
    margin-bottom: calc(#{$margin} * 2);
    text-align: center;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  figcaption {
    font-size: $text-small;
    margin-top: calc(#{$margin} / 1.6);
    color: $text-muted;
  }

  p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table {
    margin-bottom: $margin;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p:empty {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $weight-headings;
    line-height: 1.2;
    color: $text-headings;

    &:first-child {
      margin-top: 0;
    }
  }

  h1 {
    @include heading(2.5);
    line-height: 1.5;
  }

  h2 {
    @include heading(2);
    line-height: 1.4;
  }

  h3 {
    @include heading(1.5);
  }

  h4 {
    @include heading(1.25);
  }

  h5 {
    @include heading(1.125);
  }

  h6 {
    @include heading(0.95);
  }

  ol,
  ul,
  dd {
    margin-left: $margin;

    // wrap list element boxes with list's box and padding
    & > * {
      box-decoration-break: clone;
    }
  }

  ol,
  ul {
    list-style-position: outside;
  }

  dd {
    margin-bottom: calc(#{$margin} * 0.4);
  }

  dt {
    font-weight: $weight-bold;
  }

  ol {
    list-style-type: decimal;

    ol {
      list-style-type: lower-alpha;

      ol {
        list-style-type: lower-roman;

        ol {
          list-style-type: lower-greek;

          ol {
            list-style-type: decimal;

            ol {
              list-style-type: lower-alpha;
            }
          }
        }
      }
    }
  }

  ul {
    list-style-type: disc;

    ul {
      list-style-type: circle;

      ul {
        list-style-type: square;

        ul {
          list-style-type: circle;

          ul {
            list-style-type: disc;

            ul {
              list-style-type: circle;
            }
          }
        }
      }
    }
  }

  li {
    margin-bottom: calc(#{$margin} * 0.4);

    p,
    dl,
    ol,
    ul,
    blockquote,
    pre,
    table {
      margin-bottom: calc(#{$margin} * 0.4);
    }

    & > {
      p:only-of-type {
        margin-bottom: 0;
      }
  
      ul,
      ol,
      dl {
        margin-top: calc(#{$margin} * 0.4);
      }
    }
  }

  input,
  textarea {
    font: inherit;
    line-height: inherit;
    color: $text;

    &::placeholder {
      color: inherit;
      opacity: $opacity;
    }
  }

  code,
  kbd,
  samp,
  pre {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
    background-color: $bg-code;
    color: $text;
    font-size: $text-code;
    border-radius: $radius;
    @include family.font-code;
  }

  code,
  kbd,
  samp {
    padding: 0.2ch 0.6ch;
    overflow-wrap: break-word;
    color: $text-code;
  }

  pre {
    overflow: hidden;
    border-radius: $codeblock-radius;

    code {
      display: block;
      background: none;
      overflow: auto;
      border: none;
      padding: 1em 1.2em;
      font-size: 1em;
      white-space: pre;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;

    // scroll tables horizontally on small screens
    display: block;
    overflow-x: auto;

    pre {
      white-space: pre-wrap;
    }
  }

  th {
    font-weight: $weight-bold;
  }

  th,
  td {
    @include cell(1);
    border: 1px solid $border-color;
    line-height: 1.4;
  }

  thead,
  tfoot {
    tr {
      background-color: $bg-table-hover;
    }

    th,
    td {
      color: $table-thead;

      code {
        background-color: $bg-table;
      }
    }
  }

  tbody tr {
    background-color: $bg-table;
  }
}
