@use '~/assets/styles/core/variables';

@function hsla($h, $s, $l, $a: 1) {
  @return hsl($h, $s, calc(#{$l} - var(--lightmix)), $a);
}

// token colors

$cadet: hsla(180, 19%, 40%, 0.6);
$iris: hsla(231, 52%, 56%);
$brass: hsla(40, 40%, 41%);
$vermillion: hsla(0, 57%, 49%);
$jasper: hsla(6, 63%, 48%);
$artichoke: hsla(68, 19%, 46%);
$salmon: hsla(11, 77%, 58%);
$teal: hsla(185, 31%, 35%);
$rackley: hsla(205, 36%, 46%);
$rebecca: hsla(266, 40%, 49%);
$khaki: hsla(44, 23%, 62%);
$emerald: hsla(167, 33%, 34%);
$coral: hsla(4, 69%, 62%);

$languages: js, ts, html, md, vue, css, sass, scss, less, log, stylus, go, java, c,
  sh, yaml, py, docker, dockerfile, properties, groovy, typescript, json, xml, git, shell, sql, bash, powershell, ini;

// syntax theme

.gridsome-highlight {
  border: 1px solid var(--decorative-spinel);
  border-radius: var(--radius-base);
  background-color: transparent;

  code {
    padding: var(--code-px);
  }

  code[class*='language-'],
  pre[class*='language-'] {
    tab-size: 2;
    hyphens: none;
    background-color: inherit;
  }

  pre[class*='language-']::before {
    display: block;
    z-index: 5;
    text-align: right;
    margin-bottom: -(variables.$gap-base);
    padding-top: 0.5ch;
    padding-right: 1ch;
    color: var(--semantic-deter);
    font-size: 0.75em;
    font-weight: var(--weight-bold);
    opacity: 0.8;
  }

  @each $language in $languages {
    pre[class~='language-#{$language}']::before {
      content: '#{$language}';
    }
  }

  .gridsome-highlight-code-line {
    display: block;
    margin-left: var(--code-mx);
    padding-left: var(--code-px);
    background: linear-gradient(to right, var(--decorative-gold) 55%, transparent);
  }

  .token.comment,
  .token.prolog,
  .token.cdata {
    color: $cadet;
  }

  .token.punctuation {
    color: $emerald;
  }

  .namespace {
    color: $khaki;
  }

  .token.deleted {
    color: $jasper;
  }

  .token.symbol,
  .token.property {
    color: $rebecca;
  }

  .token.tag,
  .token.operator,
  .token.keyword {
    color: $coral;
  }

  .token.boolean {
    color: $teal;
  }

  .token.number {
    color: $artichoke;
  }

  .token.constant,
  .token.function,
  .token.builtin,
  .token.char {
    color: $iris;
  }

  .token.selector,
  .token.doctype {
    color: $rackley;
  }

  .token.attr-name,
  .token.inserted {
    color: $salmon;
  }

  .token.string,
  .token.url,
  .token.entity,
  .language-css .token.string,
  .style .token.string {
    color: $brass;
  }

  .token.class-name,
  .token.atrule,
  .token.attr-value {
    color: $vermillion;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: $khaki;
  }

  .token.important,
  .token.bold {
    font-weight: var(--weight-bold);
  }

  .token.italic {
    font-style: normal;
  }
}
