@use '~/assets/styles/variables';
@use '~/assets/styles/mixins/utils';

// Card

$card-background: var(--bg-accent);
$card-background-active: var(--bg-selected);
$card-emphasis-color: var(--text-highlighted);
$card-font-size: variables.$font-sm;
$card-radius: variables.$radius;
$card-gap: var(--space-sm);
$card-shadow: var(--shadow);
$card-shadow-active: var(--shadow-active);

.card {
  background-color: $card-background;
  border-radius: $card-radius;
  padding: $card-gap;
  font-size: $card-font-size;
  box-shadow: $card-shadow;

  &:focus,
  &:hover {
    background-color: $card-background-active;
    box-shadow: $card-shadow-active;
  }

  &-title {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
  }

  &-header {
    font-size: variables.$font-sm;
    color: $card-emphasis-color;
  }
}
