@use '~/assets/styles/variables';
@use '~/assets/styles/mixins/utils';
@use '~/assets/styles/mixins/queries';

// Content

$content-gap: var(--space-md);
$content-adm-gap: var(--space-rg);
$content-article-gap: var(--content-article-gap);
$content-list-gap: var(--content-list-gap);
$content-max-width: variables.$maxwidth-rg;
$content-opener-size: variables.$font-md;

.content {
  max-width: $content-max-width;
  margin: $content-gap auto;
  
  @include queries.sm {
    @include utils.px($content-adm-gap);
  }

  figure,
  div[class$='-embed'] {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    @include utils.mx(-50vw);
  }

  .article {
    > p:first-of-type {
      font-size: $content-opener-size;
    }

    div[class$='-embed'] {
      @include utils.my($content-adm-gap);
    }
  }
}

// Table of contents

$toc-body-font-size: variables.$font-sm;
$toc-body-gap-inline: variables.$gap-rg;

.toc {
  margin-bottom: $content-adm-gap;
  font-size: 0.9em;

  &-body {
    list-style-type: none;
    margin-left: 0;
    padding: 0.5rem 1rem;

    li {
      $toc-margin: $toc-body-gap-inline;
      $levels: 3 4 5 6;
      margin-bottom: 0;
  
      @each $level in $levels {
        .toc-item-#{$level} {
          padding-left: $toc-margin * ($level - 2);
        }
      }
    }
  }
}

// Reference links

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  @include utils.heading-font;
  
  &:focus a .reference,
  &:hover a .reference {
    @include utils.hide(false);
    display: inline-block;
    width: 1.25ch;
    margin-left: -1.25ch;

    &::after {
      content: variables.$symbol-reference-link;
      outline: none;
    }
  }
}

// Admonitions & blockquotes

$adm-font-size: 0.95em;
$adm-indent: 2ch;
$adm-header-gap: variables.$gap-md;

@mixin admonition($color) {
  --block-color: #{$color};
  --block-indent: #{$adm-indent};

  @include queries.md {
    margin-left: calc(var(--block-indent) * -1);
  }

  color: var(--block-color);
  border-left: 2px solid var(--block-color);
  padding-left: var(--block-indent);
  font-size: $adm-font-size;

  h5 {
    color: var(--block-color);
  }

  .admonition-icon svg {
    stroke: var(--block-color);
    fill: var(--block-color);
  }

  code {
    overflow-wrap: break-word;
  }
}

.admonition {
  @include utils.my($content-adm-gap);

  .admonition-heading h5 {
    display: flex;
    align-items: center;
    margin-bottom: $adm-header-gap;
    text-transform: capitalize;
  }
}

.admonition-icon {
  margin-right: variables.$ch-rg;

  svg {
    @include utils.size(24px);
    stroke-width: 0;
  }
}

.admonition, 
.admonition-note {
  @include admonition(var(--text-highlighted));
}

.admonition-caution {
  --text-caution: #{utils.hsla(40, 38%, 46%)};
  @include admonition(var(--text-caution));
}

.admonition-tip {
  --text-tip: #{utils.hsla(165, 24%, 46%)};
  @include admonition(var(--text-tip));
}

.admonition-warning {
  --text-warning: #{utils.hsla(6, 59%, 57%)};
  @include admonition(var(--text-warning));
}

.admonition-important {
  --text-important: #{utils.hsla(231, 52%, 64%)};
  @include admonition(var(--text-important));
}

blockquote {
  @include admonition(var(--text));

  & > p strong:first-of-type {
    display: flex;
    align-items: center;
    margin-bottom: $adm-header-gap;
  }
}
