@use '~/assets/styles/variables';
@use '~/assets/styles/mixins/utils';

// Footer

$footer-background: var(--bg-active);
$footer-gapx: var(--flex-gapx);
$footer-gapy: var(--space-xl);
$footer-font-size: variables.$font-sm;
$footer-title-gap: variables.$gap-rg;
$footer-title-weight: var(--weight-bold);
$footer-title-bottom: variables.$gap-rg;
$footer-copyright-width: var(--flex-width);

.footer {
  background-color: $footer-background;
  background-image: 
    radial-gradient(circle at 80vw bottom, var(--tone-1) 25%, transparent 25%),
    linear-gradient(328deg, var(--tone-2) 25%, transparent 25%);
  padding: $footer-gapx $footer-gapx $footer-gapy;
  font-size: $footer-font-size;

  &-menu {
    display: flex;
    flex-direction: column;

    a {
      display: inline-flex;
      align-items: center;
    }
  }

  &-title {
    font-weight: $footer-title-weight;
    margin-bottom: $footer-title-bottom;
  }

  .network > a {
    @include utils.tappable($gapx: utils.$tappable-gapy);

    &:first-child {
      margin-left: -(utils.$tappable-gapy);
    }
  }

  .copyright {
    max-width: $footer-copyright-width;
    margin-top: $footer-title-gap;
  }
}
