@use '~/assets/styles/variables';
@use '~/assets/styles/mixins/queries';
@use '~/assets/styles/mixins/utils';

// Header

$header-gapx: var(--flex-gapx);
$header-gapy: var(--flex-gapy);
$header-wrap: var(--flex-wrap);
$header-background: var(--bg-active);
$header-font-size: variables.$font-sm;
$header-menu-offsetx: -(utils.$tappable-gapx);
$header-menu-offsety: utils.$tappable-gapx;

.header {
  display: flex;
  flex-wrap: $header-wrap;
  justify-content: space-between;
  align-items: center;
  padding: $header-gapy $header-gapx;
  font-size: $header-font-size;
  background-color: $header-background;

  > * {
    display: inherit;
    align-items: inherit;
  }

  .brand {
    width: 160px;

    svg {
      @include utils.size(inherit);
    }
  }

  .menu > *,
  .search > a {
    @include utils.tappable;
  }

  .search {
    justify-content: flex-end;
  }

  .menu {
    @include utils.mx($header-menu-offsetx);
    margin-right: 0.5rem;
    justify-content: center;
  }
}

@include queries.md {
  .brand,
  .search {
    flex-basis: 50%;
  }
}

// Rearrange on small screen

@include queries.rg {
  .menu {
    flex-basis: 100%;
    order: 1;
    margin-top: $header-menu-offsety;
  }
}
