@use '~/assets/styles/variables';
@use '~/assets/styles/mixins/queries';
@use '~/assets/styles/mixins/utils';

// Header

$crown-background: var(--bg-active);
$header-gapx: var(--flex-gapx);
$header-gapy: var(--flex-gapy);
$header-wrap: var(--flex-wrap);
$header-font-size: variables.$font-sm;
$header-menu-offsetx: -(utils.$tappable-gapx);
$header-menu-offsety: utils.$tappable-gapx;

.crown {
  background-color: $crown-background;
  background-image:
    radial-gradient(circle at top center, var(--tone-1) 30%, transparent 30%),
    linear-gradient(30deg, var(--tone-2) 30%, transparent 30%),
    radial-gradient(circle at bottom right, var(--bg-tip) 30%, transparent 30%);
  background-size: 144% 144%;
  animation: gradient 120s ease-in-out infinite;

  .post-main-section > * {
    max-width: variables.$max-width-rg;
    @include utils.mx(auto);
  }

  .post-main-section {
    cursor: pointer;
    background-color: var(--bg-highlight);
    @include utils.tappable($radius: 0, $gapx: var(--content-article-gap), $gapy: var(--space-md), $underline: true);

    &-title {
      @include utils.heading-font;
      font-weight: var(--weight-bold);
      font-size: variables.$font-lg;
    }

    &-excerpt {
      margin-top: variables.$ch-rg;
      color: var(--text-passive);
      font-size: 0.9em;
    }
  }
}

.header {
  display: flex;
  flex-wrap: $header-wrap;
  justify-content: space-between;
  align-items: center;
  padding: $header-gapy $header-gapx;
  font-size: $header-font-size;

  > * {
    display: inherit;
    align-items: inherit;
  }

  .brand {
    width: 160px;

    svg {
      @include utils.size(inherit);
    }
  }

  .menu > *,
  .search > a {
    @include utils.tappable;
  }

  .search {
    justify-content: flex-end;
  }

  .menu {
    @include utils.mx($header-menu-offsetx);
    margin-right: 0.5rem;
    justify-content: center;
  }
}

@include queries.md {
  .brand,
  .search {
    flex-basis: 50%;
  }
}

// Rearrange on small screen

@include queries.rg {
  .menu {
    flex-basis: 100%;
    order: 1;
    margin-top: $header-menu-offsety;
  }
}
