@use '~/assets/styles/variables';
@use '~/assets/styles/mixins/utils';

// Hero

$hero-gapx: var(--space-rg);
$hero-gapy: var(--space-md);
$hero-max-width: variables.$max-width-rg;
$hero-title-size: calc(1.25rem + 3vw);
$hero-subtitle-size: variables.$font-md;
$hero-subtitle-color: var(--text-highlighted);
$hero-content-gap-start: var(--space-rg);
$hero-content-gap-end: var(--flex-gap);
$hero-content-font-size: variables.$font-sm;

.hero {
  padding: $hero-gapy $hero-gapx;

  @media (print), (prefers-reduced-motion: reduce) {
    animation-iteration-count: 0;
  }

  &-wrapper {
    max-width: $hero-max-width;
    @include utils.mx(auto);

    &:only-child {
      @include utils.my(0);
    }

    .title {
      @include utils.heading-font;
      font-size: $hero-title-size;
      line-height: 1.3;
    }

    .subtitle {
      font-size: $hero-subtitle-size;
      color: $hero-subtitle-color;
    }

    .hero-media {
      margin-right: $hero-content-gap-start;
      margin-bottom: $hero-content-gap-end;

      img {
        @include utils.size(auto, calc(5rem + 5vw));
        border-radius: 100%;
      }
    }

    .metadata {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      font-size: $hero-content-font-size;

      > * {
        margin-bottom: 1ch;

        &:not(:last-child)::after {
          @include utils.separator;
        }
      }

      &-author {
        display: inherit;
        align-items: inherit;

        img {
          @include utils.size(auto, variables.$icon-md);
          margin-right: variables.$ch-rg;
          border-radius: 100%;
        }
      }
    }
  }
}
