@use '../variables';
@use '../properties';
@use '../mixins/utils';
@use '../mixins/queries';

// Posts

$post-gap: properties.$space-md;
$post-border: variables.$bg-search;
$post-max-width: variables.$max-width-rg;
$post-section-gapy: variables.$gap-sm;
$post-section-header-size: variables.$font-md;
$post-section-header-color: variables.$text-passive;
$post-item-gapx: properties.$content-article-gap;
$post-item-gapy: properties.$space-rg;
$post-header-wrap: properties.$flex-wrap;
$post-header-size: variables.$font-sm;
$post-header-gap: variables.$ch-rg;
$post-title-size: variables.$font-lg;
$post-title-weight: variables.$weight-bd;
$post-excerpt-color: variables.$text-passive;

.posts {
  @include utils.my($post-gap);

  &-pill {
    display: inline-block;
    padding: 0.25rem 1rem;
    background-color: $post-border;
    color: $post-section-header-color;
    border: 1px solid $post-border;
    border-radius: 10rem;
    margin-bottom: 1.5rem;
    font-size: $post-header-size;
  }

  .post-main-section > *,
  .post-section-item > *,
  .post-section-header,
  .post-item > * {
    max-width: $post-max-width;
    @include utils.mx(auto);
  }

  .post-main-section {
    cursor: pointer;
    background-color: variables.$bg-passive;
    @include utils.tappable($radius: 0, $gapx: $post-item-gapx, $gapy: $post-gap, $underline: true);

    &-title {
      @include utils.heading-font;
      font-weight: $post-title-weight;
      font-size: $post-title-size;
    }

    &-excerpt {
      margin-top: $post-header-gap;
      color: $post-section-header-color;
      font-size: 0.9em;
    }
  }

  .post-section {
    &-header {
      margin-top: $post-gap;
      @include utils.px($post-item-gapx);
    }

    &-item {
      cursor: pointer;
      @include utils.tappable($radius: 0, $gapx: $post-item-gapx, $gapy: $post-section-gapy, $underline: true);
      
      &-title {
        display: flex;
        align-items: flex-start;

        time {
          color: $post-section-header-color;
        }
      }
    }

    &-footer {
      text-align: center;

      a {
        display: inline-block;
        background-color: variables.$bg-highlight;
        @include utils.tappable;
        margin-top: 1.5rem;
        font-size: 0.9em;
      }
    }
  }

  .post-item {
    cursor: pointer;
    @include utils.tappable($radius: 0, $gapx: $post-item-gapx, $gapy: $post-item-gapy, $background: variables.$bg-highlight, $underline: true);

    .post-header {
      display: flex;
      align-items: center;
      flex-wrap: $post-header-wrap;
      font-size: $post-header-size;

      > * {
        margin-bottom: $post-header-gap;

        &:not(:last-child)::after {
          @include utils.separator;
        }
      }
    }

    .post-title {
      @include utils.heading-font;
      font-size: $post-title-size;
      font-weight: $post-title-weight;
    }

    .post-excerpt {
      margin-top: $post-header-gap;
      color: $post-excerpt-color;
      font-size: 0.9em;
    }
  }
}

.post-section-item-title {
  flex-wrap: properties.$flex-wrap;
  $flex-basis-min: 22.5%;
  $flex-basis-max: 100% - $flex-basis-min;

  time {
    flex-basis: 100%;

    @include queries.md {
      text-align: right;
      flex-basis: $flex-basis-min;

      &::after {
        @include utils.separator;
      }
    }
  }

  time + a {
    flex-basis: 100%;

    @include queries.md {
      flex-basis: $flex-basis-max;
    }
  }
}
