@use '~/assets/styles/variables';
@use '~/assets/styles/mixins/utils';

// Search

$search-width: var(--search-width);
$search-container-background: var(--bg-search);
$search-container-offsetx: var(--search-offsetx);
$search-results-background: var(--bg-passive);
$search-results-active-background: var(--bg-selected);
$search-results-gap: variables.$gap-rg;
$search-results-gapx: utils.$tappable-gapx;
$search-results-gapy: utils.$tappable-gapy;
$search-results-radius: variables.$radius;
$search-top-radius: var(--search-radius);
$search-bottom-radius: variables.$radius;
$search-label-size: variables.$font-sm;
$search-label-background: var(--bg-highlight);

.search-container,
.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  position: absolute;
  @include utils.tappable($background: $search-container-background);
  background-color: $search-container-background;
  @include utils.mx($search-container-offsetx);
  width: $search-width;
}

.search-box {
  position: relative;
  width: 100%;

  .search-input {
    outline: none;
    border: none;
    flex: 1;
  }
}

.search-results {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  margin-top: $search-results-gap;
  max-height: 75vh;
  overflow: hidden;
  background-color: $search-results-background;
  border: 1px solid $search-container-background;
  border-radius: $search-results-radius;

  .results-box {
    overflow: auto;
    z-index: 4;
    
    > * {
      display: block;
      padding: $search-results-gapy $search-results-gapx;
    }

    .result-label {
      background-color: $search-label-background;
      font-size: $search-label-size;
    }

    .result-item {
      text-decoration: none;

      &:focus,
      &:hover {
        background-color: $search-results-active-background;
      }
    }
  }
}

