@use '~/assets/styles/variables';
@use '~/assets/styles/mixins/utils';

// Sidekick

$sidekick-background: var(--bg-passive);
$sidekick-topics-gapy: variables.$gap-rg;
$sidekick-gap: var(--space-rg);
$sidekick-max-width: variables.$max-width-rg;
$sidekick-nav-gap: var(--space-rg);
$sidekick-nav-margin: var(--curb-rg);
$sidekick-nav-flex-wrap: var(--flex-wrap);
$sidekick-nav-flex-basis: var(--flex-basis);
$sidekick-nav-background-prev: var(--bg-highlighted);
$sidekick-nav-background-next: var(--bg-selected);
$sidekick-nav-background-active: var(--bg-selected);
$sidekick-nav-indicator-gap: variables.$ch-rg;
$sidekick-nav-indicator-color: var(--text-passive);
$sidekick-nav-indicator-font-size: variables.$font-xs;
$sidekick-nav-indicator-font-weight: var(--weight-bold);
$pagination-font-size: variables.$font-sm;
$pagination-border: var(--border);
$pagination-radius: variables.$radius * 2;
$pagination-current-background: var(--bg-highlighted);
$pagination-item-gapx: variables.$ch-rg;
$pagination-item-gapy: variables.$ch-rg * 0.2;

.sidekick {
  background-color: $sidekick-background;
  padding: $sidekick-gap;

  &-wrapper {
    max-width: $sidekick-max-width;
    @include utils.mx(auto);
    text-align: center;

    .pagination {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $pagination-font-size;

      .active {
        font-weight: normal;
      }

      .is-current {
        background-color: $pagination-current-background;
      }

      > * {
        border: 1px solid $pagination-border;
        @include utils.tappable($gapx: $pagination-item-gapx, $gapy: $pagination-item-gapy, $radius: $pagination-radius);

        &:not(:last-child) {
          margin-right: $pagination-item-gapx;
        }
      }
    }

    .sidekick-actions {
      display: flex;
      flex-basis: 100%;
      justify-content: center;

      a {
        display: flex;
        @include utils.tappable($gapx: utils.$tappable-gapy);
      }
    }
  }

  a {
    &:focus,
    &:hover {
      text-decoration: none;
    }
  }

  &-navigation {
    display: flex;
    flex-wrap: $sidekick-nav-flex-wrap;
    margin: $sidekick-nav-margin $sidekick-nav-margin $sidekick-nav-gap;

    .is-prev {
      background-color: $sidekick-nav-background-prev;
    }

    .is-next {
      background-color: $sidekick-nav-background-next;
    }

    > * {
      flex-basis: $sidekick-nav-flex-basis;

      a {
        display: flex;
        padding: $sidekick-nav-gap;

        &:focus,
        &:hover {
          background-color: $sidekick-nav-background-active;
        }

        .label {
          display: block;
          text-transform: uppercase;
          letter-spacing: 2px;
        }

        .label,
        .indicator {
          color: $sidekick-nav-indicator-color;
          font-size: $sidekick-nav-indicator-font-size;
          font-weight: $sidekick-nav-indicator-font-weight;
        }
      }
    }

    .is-prev a {
      align-items: flex-start;

      > *:last-child {
        margin-right: auto;
      }

      .indicator {
        padding-right: $sidekick-nav-indicator-gap;
      }
    }

    .is-next a {
      align-items: flex-end;
      text-align: right;

      > *:first-child {
        margin-left: auto;
      }

      .indicator {
        padding-left: $sidekick-nav-indicator-gap;
      }
    }
  }
}
