@use '~/assets/styles/variables';
@use '~/assets/styles/mixins/utils';

// Token colors

$cadet: utils.hsla(180, 19%, 33%, 0.6);
$iris: utils.hsla(231, 52%, 56%);
$brass: utils.hsla(40, 40%, 41%);
$vermillion: utils.hsla(0, 57%, 49%);
$jasper: utils.hsla(6, 63%, 48%);
$artichoke: utils.hsla(68, 19%, 46%);
$salmon: utils.hsla(11, 77%, 58%);
$teal: utils.hsla(185, 31%, 35%);
$rackley: utils.hsla(205, 36%, 46%);
$rebecca: utils.hsla(266, 40%, 49%);
$khaki: utils.hsla(44, 23%, 62%);
$emerald: utils.hsla(167, 33%, 34%);
$coral: utils.hsla(4, 69%, 62%);

$languages: js, ts, html, md, vue, css, sass, scss, less, log, stylus, go, java, c,
  sh, yaml, py, docker, dockerfile, properties, groovy, typescript, json, xml, git, shell, sql, bash, powershell, ini;

$code-background: var(--bg-accent);
$code-max-width: variables.$maxwidth-rg;
$code-gapy-rg: var(--space-rg);
$code-gapy-sm: var(--space-sm);
$code-gapx: var(--content-article-gap);
$code-gapx-neg: var(--curb-rg);
$code-radius: 1vw;

// Prism theme

.gridsome-highlight {
  margin: $code-gapy-rg $code-gapx-neg;
  background-color: $code-background;
  border-radius: $code-radius;

  code {
    padding: $code-gapy-rg;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    tab-size: 2;
    hyphens: none;
    background-color: inherit;
  }

  pre[class*='language-']::before {
    display: block;
    z-index: 5;
    text-align: right;
    margin-bottom: -(variables.$gap-rg);
    padding-top: 0.5em;
    padding-right: 0.75em;
    color: var(--text-highlighted);
    font-size: 0.75em;
    font-weight: var(--weight-bold);
    opacity: 0.75;
  }

  @each $language in $languages {
    pre[class~='language-#{$language}']::before {
      content: '#{$language}';
    }
  }

  .gridsome-highlight-code-line {
    display: block;
    margin-left: $code-gapx-neg;
    padding-left: $code-gapy-rg;
    background: linear-gradient(to right, var(--bg-highlighted) 66%, transparent);
  }

  .token.comment,
  .token.prolog,
  .token.cdata {
    color: $cadet;
  }

  .token.punctuation {
    color: $emerald;
  }

  .namespace {
    color: $khaki;
  }

  .token.deleted {
    color: $jasper;
  }

  .token.symbol,
  .token.property {
    color: $rebecca;
  }

  .token.tag,
  .token.operator,
  .token.keyword {
    color: $coral;
  }

  .token.boolean {
    color: $teal;
  }

  .token.number {
    color: $artichoke;
  }

  .token.constant,
  .token.function,
  .token.builtin,
  .token.char {
    color: $iris;
  }

  .token.selector,
  .token.doctype {
    color: $rackley;
  }

  .token.attr-name,
  .token.inserted {
    color: $salmon;
  }

  .token.string,
  .token.url,
  .token.entity,
  .language-css .token.string,
  .style .token.string {
    color: $brass;
  }

  .token.class-name,
  .token.atrule,
  .token.attr-value {
    color: $vermillion;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: $khaki;
  }

  .token.important,
  .token.bold {
    font-weight: var(--weight-bold);
  }

  .token.italic {
    font-style: normal;
  }
}
