@use '~/assets/styles/variables';
@use '~/assets/styles/mixins/utils';

// Token colors

$cadet: hsl(180, 19%, calc(33% - var(--lightmix)), 0.6);
$iris: hsl(231, 52%, calc(56% - var(--lightmix)));
$brass: hsl(40, 40%, calc(41% - var(--lightmix)));
$vermillion: hsl(0, 57%, calc(49% - var(--lightmix)));
$jasper: hsl(6, 63%, calc(48% - var(--lightmix)));
$artichoke: hsl(68, 19%, calc(46% - var(--lightmix)));
$salmon: hsl(11, 77%, calc(58% - var(--lightmix)));
$teal: hsl(185, 31%, calc(35% - var(--lightmix)));
$rackley: hsl(205, 36%, calc(46% - var(--lightmix)));
$rebecca: hsl(266, 40%, calc(49% - var(--lightmix)));
$khaki: hsl(44, 23%, calc(62% - var(--lightmix)));
$emerald: hsl(167, 33%, calc(34% - var(--lightmix)));
$coral: hsl(4, 69%, calc(62% - var(--lightmix)));

$languages: js, ts, html, md, vue, css, sass, scss, less, log, stylus, go, java, c,
  sh, yaml, py, docker, dockerfile, properties, groovy, typescript, json, xml, git, shell, sql, bash, powershell, ini;

$code-background: var(--bg-passive);
$code-max-width: variables.$max-width-rg;
$code-gapy-rg: var(--space-rg);
$code-gapy-sm: var(--space-sm);
$code-gapx: var(--content-article-gap);
$code-gapx-neg: var(--curb-rg);

// Prism theme

.gridsome-highlight {
  @include utils.my($code-gapy-rg);
  background-color: $code-background;

  code {
    max-width: $code-max-width;
    @include utils.mx(auto);
    padding: $code-gapy-sm $code-gapx;
  }

  code[class*='language-'],
  pre[class*='language-'] {
    tab-size: 2;
    hyphens: none;
    background-color: inherit;
  }

  pre[class*='language-']::before {
    display: block;
    max-width: $code-max-width;
    @include utils.mx(auto);
    z-index: 5;
    text-align: right;
    margin-bottom: -(variables.$gap-sm);
    padding-top: 0.5em;
    padding-right: 0.5em;
    color: var(--text-passive);
    font-size: 0.75em;
    font-weight: var(--weight-bold);
    opacity: 0.75;
  }

  @each $language in $languages {
    pre[class~='language-#{$language}']::before {
      content: '#{$language}';
    }
  }

  .gridsome-highlight-code-line {
    display: block;
    margin-left: $code-gapx-neg;
    padding-left: $code-gapy-rg;
    background: linear-gradient(to right, var(--bg-highlight) 66%, transparent);
  }

  .token.comment,
  .token.prolog,
  .token.cdata {
    color: $cadet;
  }

  .token.punctuation {
    color: $emerald;
  }

  .namespace {
    color: $khaki;
  }

  .token.deleted {
    color: $jasper;
  }

  .token.symbol,
  .token.property {
    color: $rebecca;
  }

  .token.tag,
  .token.operator,
  .token.keyword {
    color: $coral;
  }

  .token.boolean {
    color: $teal;
  }

  .token.number {
    color: $artichoke;
  }

  .token.constant,
  .token.function,
  .token.builtin,
  .token.char {
    color: $iris;
  }

  .token.selector,
  .token.doctype {
    color: $rackley;
  }

  .token.attr-name,
  .token.inserted {
    color: $salmon;
  }

  .token.string,
  .token.url,
  .token.entity,
  .language-css .token.string,
  .style .token.string {
    color: $brass;
  }

  .token.class-name,
  .token.atrule,
  .token.attr-value {
    color: $vermillion;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: $khaki;
  }

  .token.important,
  .token.bold {
    font-weight: var(--weight-bold);
  }

  .token.italic {
    font-style: normal;
  }
}
