:root {
	--sugar-background-body: var(--sugar-bg-base);
	--sugar-background-code: var(--sugar-bg-assert);
	--sugar-background-del: var(--sugar-bg-deter);
	--sugar-background-ins: var(--sugar-bg-commend);
	--sugar-background-mark: var(--sugar-bg-warn);
	--sugar-background-scrollbar: transparent;
	--sugar-background-selection: var(--sugar-outline-commend);
	--sugar-background-summary: var(--sugar-bg-note);
	--sugar-background-table: inherit;
	--sugar-background-table-active: var(--sugar-bg-assert);

	--sugar-color-accent: var(--sugar-color-commend);
	--sugar-color-body: var(--sugar-color-base);
	--sugar-color-border: var(--sugar-outline-note);
	--sugar-color-code: inherit;
	--sugar-color-headings: var(--sugar-color-emphasis);
	--sugar-color-link: var(--sugar-color-commend);
	--sugar-color-link-active: var(--sugar-color-warn);
	--sugar-color-link-hover: var(--sugar-color-deter);
	--sugar-color-link-outline: var(--sugar-outline-deter);
	--sugar-color-marker: var(--sugar-outline-note);
	--sugar-color-scrollbar: var(--sugar-color-emphasis);
	--sugar-color-table-active: var(--sugar-color-emphasis);

	--sugar-text-code: 0.9em;
	--sugar-text-small: 0.8em;
	--sugar-font-body: var(--sugar-font-sans);
}
