:root:not([data-theme]), /* fallback when JavaScript is not available */
[data-theme="dark"] {
	color-scheme: dark;

	--site-background-body: hsl(216, 28%, 6%);
	--site-background-showcase: hsl(218, 80%, 2%);
	--site-background-cmd: hsl(218, 80%, 2%);
	--site-background-code: hsl(220, 13%, 17%);
	--site-background-selection: hsl(158, 100%, 14%);
	--site-background-note: hsl(208, 21%, 12%);
	--site-background-commend: hsl(152, 100%, 7%);
	--site-background-warn: hsl(15, 100%, 12%);
	--site-background-deter: hsl(359, 100%, 14%);
	--site-background-assert: hsl(215, 100%, 14%);

	--site-border-body: hsl(212, 12%, 21%);
	--site-border-note: hsl(210, 16%, 27%);
	--site-border-commend: hsl(158, 100%, 15%);
	--site-border-warn: hsl(21, 100%, 24%);
	--site-border-deter: hsl(356, 100%, 27%);
	--site-border-assert: hsl(212, 97%, 28%);

	--site-color-text-c0: hsl(209, 15%, 66%);
	--site-color-text: hsl(210, 15%, 74%);
	--site-color-text-c1: hsl(212, 16%, 84%);
	--site-color-text-c2: hsl(206, 16%, 81%);
	--site-color-commend: hsl(154, 33%, 49%);
	--site-color-warn: hsl(19, 65%, 55%);
	--site-color-deter: hsl(358, 93%, 65%);
	--site-color-assert: hsl(215, 100%, 61%);
	--site-color-marker: hsl(208, 14%, 39%);
	--site-color-scrollbar: hsl(209, 14%, 41%);

	--color-prettylights-syntax-comment: #8b949e;
	--color-prettylights-syntax-constant: #79c0ff;
	--color-prettylights-syntax-entity: #d2a8ff;
	--color-prettylights-syntax-storage-modifier-import: #c9d1d9;
	--color-prettylights-syntax-entity-tag: #7ee787;
	--color-prettylights-syntax-keyword: #ff7b72;
	--color-prettylights-syntax-string: #a5d6ff;
	--color-prettylights-syntax-variable: #ffa657;
	--color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
	--color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
	--color-prettylights-syntax-invalid-illegal-bg: #8e1519;
	--color-prettylights-syntax-carriage-return-text: #f0f6fc;
	--color-prettylights-syntax-carriage-return-bg: #b62324;
	--color-prettylights-syntax-string-regexp: #7ee787;
	--color-prettylights-syntax-markup-list: #f2cc60;
	--color-prettylights-syntax-markup-heading: #1f6feb;
	--color-prettylights-syntax-markup-italic: #c9d1d9;
	--color-prettylights-syntax-markup-bold: #c9d1d9;
	--color-prettylights-syntax-markup-deleted-text: #ffdcd7;
	--color-prettylights-syntax-markup-deleted-bg: #67060c;
	--color-prettylights-syntax-markup-inserted-text: #aff5b4;
	--color-prettylights-syntax-markup-inserted-bg: #033a16;
	--color-prettylights-syntax-markup-changed-text: #ffdfb6;
	--color-prettylights-syntax-markup-changed-bg: #5a1e02;
	--color-prettylights-syntax-markup-ignored-text: #c9d1d9;
	--color-prettylights-syntax-markup-ignored-bg: #1158c7;
	--color-prettylights-syntax-meta-diff-range: #d2a8ff;
	--color-prettylights-syntax-brackethighlighter-angle: #8b949e;
	--color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
	--color-prettylights-syntax-constant-other-reference-link: #a5d6ff;

	--site-font-regular: 350;
	--site-font-semibold: 500;
	--site-font-bold: 600;
}

[data-theme="light"] {
	color-scheme: light;

	--site-background-body: hsl(43, 100%, 98%);
	--site-background-showcase: hsl(28, 100%, 97%);
	--site-background-cmd: hsl(28, 100%, 99%);
	--site-background-code: hsl(20, 68%, 92%);
	--site-background-selection: hsl(149, 32%, 86%);
	--site-background-note: hsl(27, 40%, 94%);
	--site-background-commend: hsl(147, 30%, 92%);
	--site-background-warn: hsl(20, 80%, 93%);
	--site-background-deter: hsl(5, 100%, 94%);
	--site-background-assert: hsl(209, 100%, 93%);

	--site-border-body: hsl(19, 51%, 80%);
	--site-border-note: hsl(21, 17%, 77%);
	--site-border-commend: hsl(151, 33%, 71%);
	--site-border-warn: hsl(19, 81%, 77%);
	--site-border-deter: hsl(3, 100%, 83%);
	--site-border-assert: hsl(210, 100%, 78%);

	--site-color-text-c0: hsl(208, 14%, 44%);
	--site-color-text: hsl(209, 16%, 20%);
	--site-color-text-c1: hsl(208, 18%, 10%);
	--site-color-text-c2: hsl(210, 17%, 15%);
	--site-color-commend: hsl(162, 100%, 24%);
	--site-color-warn: hsl(22, 85%, 37%);
	--site-color-deter: hsl(348, 100%, 41%);
	--site-color-assert: hsl(214, 81%, 45%);
	--site-color-marker: hsl(19, 61%, 68%);
	--site-color-scrollbar: hsl(19, 81%, 61%);

	--color-prettylights-syntax-comment: #6e7781;
	--color-prettylights-syntax-constant: #0550ae;
	--color-prettylights-syntax-entity: #8250df;
	--color-prettylights-syntax-storage-modifier-import: #24292f;
	--color-prettylights-syntax-entity-tag: #116329;
	--color-prettylights-syntax-keyword: #cf222e;
	--color-prettylights-syntax-string: #0a3069;
	--color-prettylights-syntax-variable: #953800;
	--color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
	--color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
	--color-prettylights-syntax-invalid-illegal-bg: #82071e;
	--color-prettylights-syntax-carriage-return-text: #f6f8fa;
	--color-prettylights-syntax-carriage-return-bg: #cf222e;
	--color-prettylights-syntax-string-regexp: #116329;
	--color-prettylights-syntax-markup-list: #3b2300;
	--color-prettylights-syntax-markup-heading: #0550ae;
	--color-prettylights-syntax-markup-italic: #24292f;
	--color-prettylights-syntax-markup-bold: #24292f;
	--color-prettylights-syntax-markup-deleted-text: #82071e;
	--color-prettylights-syntax-markup-deleted-bg: #ffebe9;
	--color-prettylights-syntax-markup-inserted-text: #116329;
	--color-prettylights-syntax-markup-inserted-bg: #dafbe1;
	--color-prettylights-syntax-markup-changed-text: #953800;
	--color-prettylights-syntax-markup-changed-bg: #ffd8b5;
	--color-prettylights-syntax-markup-ignored-text: #eaeef2;
	--color-prettylights-syntax-markup-ignored-bg: #0550ae;
	--color-prettylights-syntax-meta-diff-range: #8250df;
	--color-prettylights-syntax-brackethighlighter-angle: #57606a;
	--color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
	--color-prettylights-syntax-constant-other-reference-link: #0a3069;

	--site-font-regular: 400;
	--site-font-semibold: 600;
	--site-font-bold: 700;
}
