@use "../mixins";

:root {
	--site-font-body: var(--site-font-sans);
	--site-font-code: var(--site-font-mono);

	--site-width-max: calc(900px + 15vw);
	--site-width-base: 70ch;

	--site-hgap-base: 32px;
	--site-vgap-small: 1rem;
	--site-vgap-base: 2rem;

	--site-hgap-base-x2: calc(var(--site-hgap-base) * 2);
	--site-width-medium: calc(var(--site-width-base) + var(--site-hgap-base-x2));

	--site-line-thickness-base: 1px;
	--site-line-thickness-thick: 2px;
	--site-line-offset-base: 0.125em;
	--site-line-inset-base: calc(var(--site-line-offset-base) * -1);

	--site-decoration-thin: 0.1ex;
	--site-decoration-base: 0.2ex;

	--site-radius-tiny: 4px;
	--site-radius-small: 8px;
	--site-radius-base: 1rem;
	--site-radius-medium: 1.5rem;
	--site-radius-round: 1e5px; /* 50% radius works for squares but not other shape; 1e5px = 100000px */

	--site-color-code: inherit;
	--site-color-link: var(--site-color-commend);
	--site-color-link-active: var(--site-color-warn);
	--site-color-link-hover: var(--site-color-deter);
	--site-color-table-active: var(--site-color-emphasis);

	--site-background-link: var(--site-background-commend);
	--site-background-link-active: var(--site-background-warn);
	--site-background-link-hover: var(--site-background-deter);
	--site-background-del: var(--site-background-deter);
	--site-background-ins: var(--site-background-commend);
	--site-background-mark: var(--site-background-warn);
	--site-background-scrollbar: transparent;
	--site-background-summary: var(--site-background-note);
	--site-background-table: inherit;
	--site-background-table-active: var(--site-background-note);

	--site-border-link: var(--site-border-commend);
	--site-border-link-active: var(--site-border-warn);
	--site-border-link-hover: var(--site-border-deter);

	--site-vgap-medium: calc(48px + 2vw);
	--site-vgap-large: calc(60px + 3vw);
}

:root {
	--site-adaptive-color-link: var(--site-color-link);
	--site-adaptive-background-link: var(--site-background-link);
	--site-adaptive-border-link: var(--site-border-link);

	--site-adaptive-justify-center: flex-start;
	--site-adaptive-align-center: start;
	--site-adaptive-line-thickness-base: 0;
	--site-adaptive-radius-base: var(--site-radius-small);
	--site-adaptive-radius-medium: var(--site-radius-small);

	@include mixins.windowBase {
		--site-adaptive-justify-center: center;
		--site-adaptive-align-center: center;
		--site-adaptive-line-thickness-base: var(--site-line-thickness-base);
		--site-adaptive-radius-base: var(--site-radius-base);
		--site-adaptive-radius-medium: var(--site-radius-medium);
	}
}

:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*='-'])),
:where(input[type='file']):is(::-webkit-file-upload-button, ::file-selector-button) {
	&:is(:focus, :focus-visible, :hover) {
		--site-adaptive-color-link: var(--site-color-link-hover);
		--site-adaptive-background-link: var(--site-background-link-hover);
		--site-adaptive-border-link: var(--site-border-link-hover);
	}

	&:active {
		--site-adaptive-color-link: var(--site-color-link-active);
		--site-adaptive-background-link: var(--site-background-link-active);
		--site-adaptive-border-link: var(--site-border-link-active);
	}
}
