:root {
	--sugar-gap-base: 2rem;

	--app-max-width-body: calc(900px + 15vw);
	--app-max-width-text: 70ch;

	--app-offset: 36px;

	--app-gap-base: calc(48px + 2vw);
	--app-gap-md: calc(var(--app-gap-base) * 1.5);
}
