@use "./mixins";

article.content {
	& > p:first-of-type {
		grid-column: popout;
		font-size: 1.25em;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		--size-site-icon: 1ch;
		a .icon {
			display: none;
			visibility: hidden;
			vertical-align: text-top;
			margin-inline-start: 0.25ch;
		}

		&:focus,
		&:hover {
			a .icon {
				display: inline-block;
				visibility: visible;
			}
		}
	}

	& > .highlight {
		@include mixins.popout(var(--radius-site-base), var(--radius-site-small));
	}
}
