article.content {
	& > p:first-of-type:first-child,
	& > .callout + p:first-of-type,
	& > .toc + p:first-of-type {
		font-size: 1.25em;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		--size-site-icon-og: 1ch;
		a .icon {
			display: none;
			visibility: hidden;
			vertical-align: text-top;
			margin-inline-start: 0.25ch;
		}

		&:focus,
		&:hover {
			a .icon {
				display: inline-block;
				visibility: visible;
			}
		}
	}

	.footnotes {
		font-size: 0.85em;
		margin-block-start: var(--gap-site-xl);
		border-block-start: 1px dashed var(--border-site-body);

		h2[id]:first-of-type {
			padding-block-start: var(--gap-site-xl);
		}
	}
}
