article.content {
	& > p:first-of-type {
		font-size: 1.25em;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		--size-site-icon: 1ch;
		a .icon {
			display: none;
			visibility: hidden;
			vertical-align: text-top;
			margin-inline-start: 0.25ch;
		}

		&:focus,
		&:hover {
			a .icon {
				display: inline-block;
				visibility: visible;
			}
		}
	}

	& > .callout {
		grid-column: popout;
	}

	& > .directive-youtube {
		grid-column: full;

		.directive-youtube-iframe-container {
			border-inline: var(--thickness-site-adaptive) solid var(--border-site-body);
			border-radius: var(--radius-site-adaptive-base);
		}
	}

	& > .highlight {
		grid-column: full;
		border-inline: var(--thickness-site-adaptive) solid var(--border-site-body);
		border-radius: var(--radius-site-adaptive-base);
	}
}

figure img,
figure svg {
	margin-inline: auto;
}

blockquote,
.callout-content {
	& > * + * {
		margin-block-start: var(--vgap-site-base);
	}

	& > p + ul,
	& > p + ol {
		margin-block-start: var(--vgap-site-small);
	}
}
