@use "vars" as *;
@use "mixins";

// external link indicator
:where(a[rel*="nofollow"])::after {
	@include mixins.icon("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='m12.5 13.268-4.616 4.616a1.25 1.25 0 0 1-1.768-1.768l4.616-4.616-3.616-3.616A1.25 1.25 0 0 1 8 5.75h9A1.248 1.248 0 0 1 18.25 7v9a1.25 1.25 0 0 1-2.134.884L12.5 13.268Z'/%3E%3C/svg%3E");
	display: inline-block;
	text-decoration: none;
	@include mixins.size(1em);
}

// fancy heading group
:where(hgroup) {
	h1 {
		font-family: var(--x2-font-fancy);
		font-weight: 900;
		font-size: var(--x2-text-title);
		text-wrap: balance;
		line-height: 2ex;
	}

	p {
		font-size: var(--x2-text-tagline);
		text-wrap: balance;
	}

	h1 + p {
		margin-block-start: 1rem;
	}
}

:where(figcaption) {
	--figcaptionBorderWidth: var(--x2-line-width-lg);
	--figcaptionPadding: var(--x2-padding-inline-figcaption, 1.125em);
	position: relative;
	padding: 0 var(--figcaptionPadding) 0;

	&::before {
		position: absolute;
		content: "";
		left: 0;
		inline-size: var(--figcaptionBorderWidth);
		block-size: 100%;
		border-radius: var(--x2-radius-max);
		background-color: var(--x2-border-assert);
	}
}

:where(blockquote) {
	cite:last-child {
		font-size: 0.9em;
		color: var(--x2-color-caption);
	}
}

figure.frame {
	--x2-gap-flow: 2em;

	img {
		border: 1px solid var(--x2-border-note);
		border-radius: var(--x2-radius-sm);
	}
}
