.callout {
	--callout-color: var(--color-site-emphasis);
	--callout-background: var(--background-site-note);
	--callout-radius: var(--radius-site-medium);
	--callout-padding: var(--hgap-site-adaptive);
	--callout-border: var(--thickness-site-base) solid var(--callout-border-color, var(--border-site-note));
	border: var(--callout-border);
	border-radius: var(--callout-radius);
	background: var(--callout-background);
	box-shadow: var(--shadow-size-site-base) var(--callout-background);
	margin-block-end: var(--vgap-site-base);

	&-content {
		padding: var(--callout-padding);

		&:last-child {
			margin-block-end: 0;
		}
	}

	&-indicator {
		display: flex;
		align-items: center;
		padding: calc(var(--callout-padding) / 2) var(--callout-padding);
		border-block-end: var(--callout-border);
	}

	&-hint {
		color: var(--callout-color);
	}

	&-title {
		color: var(--callout-color);
		font-size: 0.9em;
		font-weight: var(--font-site-semibold);
		letter-spacing: 0.04em;
	}

	&-hint + &-title {
		margin-inline-start: calc(var(--callout-padding) / 3);
	}
}

.callout-commend {
	--callout-background: var(--background-site-commend);
	--callout-color: var(--color-site-commend);
	--callout-border-color: var(--border-site-commend);
}

.callout-warn {
	--callout-background: var(--background-site-warn);
	--callout-color: var(--color-site-warn);
	--callout-border-color: var(--border-site-warn);
}

.callout-deter {
	--callout-background: var(--background-site-deter);
	--callout-color: var(--color-site-deter);
	--callout-border-color: var(--border-site-deter);
}

.callout-assert {
	--callout-background: var(--background-site-assert);
	--callout-color: var(--color-site-assert);
	--callout-border-color: var(--border-site-assert);
}
