@use "mixins";

.callout {
	--y-theme-border: var(--y-callout-border, var(--y-note-border));
	--y-theme-color: var(--y-callout-color, var(--y-note-color));
	--y-theme-marker-color: var(--y-theme-border);
	--y-theme-canvas-color: var(--y-callout-canvas-color, var(--y-note-canvas-color));
	--y-theme-bg-color: var(--y-callout-bg-color, var(--y-note-bg-color));
	--z-callout-radius: var(--x-radius-root);
	--z-callout-border-width: var(--x-border-sm);
	--z-callout-padding: 1ch;

	display: flex;
	border-radius: var(--z-callout-radius);
	accent-color: var(--y-theme-color);
	caret-color: var(--y-theme-color);

	details > ::marker {
		--y-theme-marker-color: var(--y-theme-color);
	}

	&-hint {
		flex: none;
		color: var(--y-theme-color);
		background-color: var(--y-theme-border);
		border-start-start-radius: inherit;
		border-end-start-radius: inherit;
		padding: var(--z-callout-padding);
		line-height: 1.5;
		max-inline-size: fit-content; // prevent Safari from enlarging inline-size more than icon size
	}

	&-body {
		flex: 1;
		overflow: auto;
		padding: var(--z-callout-padding);
		background-color: var(--y-theme-bg-color);
		border-start-end-radius: inherit;
		border-end-end-radius: inherit;
		@include mixins.flow;
		border-block: var(--z-callout-border-width) dotted var(--y-theme-border);
		border-inline-end: var(--z-callout-border-width) dotted var(--y-theme-border);

		& > strong:first-of-type {
			color: var(--y-theme-color);
		}
	}

	&.setup li {
		--y-flow-gap: 0;
		font-variant-numeric: tabular-nums lining-nums;
	}

	&-note {
		--y-callout-color: var(--y-note-color);
		--y-callout-bg-color: var(--y-note-bg-color);
		--y-callout-border: var(--y-note-border);
		--y-callout-canvas-color: var(--y-note-canvas-color);
	}

	&-commend {
		--y-callout-color: var(--y-commend-color);
		--y-callout-bg-color: var(--y-commend-bg-color);
		--y-callout-border: var(--y-commend-border);
		--y-callout-canvas-color: var(--y-commend-canvas-color);
	}

	&-assert {
		--y-callout-color: var(--y-assert-color);
		--y-callout-bg-color: var(--y-assert-bg-color);
		--y-callout-border: var(--y-assert-border);
		--y-callout-canvas-color: var(--y-assert-canvas-color);
	}

	&-warn {
		--y-callout-color: var(--y-warn-color);
		--y-callout-bg-color: var(--y-warn-bg-color);
		--y-callout-border: var(--y-warn-border);
		--y-callout-canvas-color: var(--y-warn-canvas-color);
	}

	&-deter {
		--y-callout-color: var(--y-deter-color);
		--y-callout-bg-color: var(--y-deter-bg-color);
		--y-callout-border: var(--y-deter-border);
		--y-callout-canvas-color: var(--y-deter-canvas-color);
	}
}
