@use "mixins";

.chip {
	--chipBgColor: var(--background-color-site-chip, var(--color-site-canvas-400));
	--chipColor: var(--color-site-chip, var(--color-site-note-500));
	--chipBorderColor: var(--border-color-site-chip, var(--color-site-note-600));

	display: inline-flex;
	align-items: center;
	background-color: var(--chipBgColor);
	color: var(--chipColor);
	border: 1px solid var(--chipBorderColor);
	border-radius: var(--radius-site-round);
	font-size: calc(0.75rem + 0.1vw);
	font-weight: var(--font-weight-site-semibold);
	padding: 0.5ch 1ch;
	gap: 0.5ch;
	line-height: 1;

	& + .chip {
		margin-block-end: 1ex;
	}

	&-hint {
		stroke: none;
		@include mixins.fixed-size(1.5em);
		fill-rule: evenodd;
	}
}

.chip-commend {
	--background-color-site-chip: var(--color-site-commend-700);
	--color-site-chip: var(--color-site-commend-500);
	--border-color-site-chip: var(--color-site-commend-600);
}

.chip-warn {
	--background-color-site-chip: var(--color-site-warn-700);
	--color-site-chip: var(--color-site-warn-500);
	--border-color-site-chip: var(--color-site-warn-600);
}

.chip-deter {
	--background-color-site-chip: var(--color-site-deter-700);
	--color-site-chip: var(--color-site-deter-500);
	--border-color-site-chip: var(--color-site-deter-600);
}

.chip-assert {
	--background-color-site-chip: var(--color-site-assert-700);
	--color-site-chip: var(--color-site-assert-500);
	--border-color-site-chip: var(--color-site-assert-600);
}
