@use "mixins";

.hl {
	--z-hl-line-prompt-size: 1em;
	--z-hl-line-border: transparent;
	--z-hl-line-bg-color: transparent;
	--z-hl-line-number-color: var(--y-note-border);
	--z-hl-radius: var(--x-radius-sm);
	--z-hl-border: 1px solid var(--y-note-border);
	--z-hl-padding-max: 0.6rem;
	--z-hl-padding-min: 0.3rem;

	background-color: var(--y-body-bg-color);
	border: var(--z-hl-border);
	border-radius: var(--z-hl-radius);

	&-header {
		color: var(--y-caption-color);
		border-block-end: var(--z-hl-border);
		font-size: 0.7em;
	}

	&-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-block-start: var(--z-hl-border);
		font-size: 0.7em;
	}

	&-title {
		font-weight: var(--x-semibold-text);
		padding: var(--z-hl-padding-min) var(--z-hl-padding-max);
	}

	&-language {
		flex: none;
		user-select: none;
		font-family: var(--y-mono-font);
		color: var(--y-warn-color);
		padding: var(--z-hl-padding-min) var(--z-hl-padding-max);
	}

	clipboard-copy {
		flex: none;
		padding: var(--z-hl-padding-min) var(--z-hl-padding-max);
		margin: calc(var(--z-hl-padding-max) / 3);
	}

	pre {
		overflow-x: auto;

		&:focus-within {
			outline-color: var(--y-note-border);
			outline-style: solid;
			outline-width: 0.2em;
			outline-offset: 0.125em;
		}

		code {
			padding: var(--z-hl-padding-max);
			// restore automatic cursor and touch interactions
			cursor: auto;
			touch-action: auto;

			&[style*="--hl-line-gutter"] {
				display: grid;
				padding-inline: 0;
			}
		}

		[data-line-number] {
			border-inline-start: var(--x-border-root) solid var(--z-hl-line-border);
			background-color: var(--z-hl-line-bg-color);
			padding-inline: var(--z-hl-padding-max);

			&:not(:only-child)::before {
				display: inline-block;
				content: "";
				user-select: none;
			}

			&:where(:focus:not(:focus-visible), :hover) {
				--z-hl-line-bg-color: var(--y-note-bg-color);
				outline-width: 1px;
				outline-offset: -1px;
				outline-color: var(--color-prettylights-syntax-comment);
				outline-style: dotted;
			}

			.diff {
				color: var(--z-hl-line-number-color);
			}
		}

		[data-line-marked] {
			--z-hl-line-number-color: var(--color-prettylights-syntax-comment);
			--z-hl-line-bg-color: var(--y-warn-bg-color);
			--z-hl-line-border: var(--y-warn-border);
		}

		[data-line-inserted] {
			--z-hl-line-number-color: var(--y-commend-color);
			--z-hl-line-bg-color: var(--y-commend-bg-color);
			--z-hl-line-border: var(--y-commend-border);
		}

		[data-line-deleted] {
			--z-hl-line-number-color: var(--y-deter-color);
			--z-hl-line-bg-color: var(--y-deter-bg-color);
			--z-hl-line-border: var(--y-deter-border);
		}

		[data-line-output] {
			user-select: none;
		}
	}

	.prompt::before {
		display: inline-block;
		margin-inline-end: 0.5ch;
		vertical-align: middle;
		@include mixins.icon(url("data:image/svg+xml,%3Csvg viewBox='0 0 17 24' xmlns='http://www.w3.org/2000/svg' width='17' height='24' fill='none' stroke='currentColor' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m8.03 7.8-5.4 11.7m.67-18q1.372.208 2.379.639a5.7 5.7 0 0 1 1.732 1.13 6 6 0 0 1 1.218 1.714q.494 1.014.828 2.378a131 131 0 0 0 1.456 5.338q.711 2.39 1.545 4.11T14.37 19.5'/%3E%3C/svg%3E"));
		user-select: none;
		text-decoration: none;
		color: var(--y-hl-line-prompt-color);
		background-color: currentColor;
		@include mixins.size(var(--z-hl-line-prompt-size));
	}
}
