@use "mixins";

.hl {
	--x2-radius-outline: var(--x2-radius-0);
	--hlLineBorderColor: transparent;
	--hlLineBgColor: transparent;
	--hlLineNumberColor: var(--color-prettylights-syntax-sublimelinter-gutter-mark);

	background-color: var(--x2-bg-codeblock);
	border: var(--x2-line-width-lg) solid var(--x2-border-codeblock);
	border-radius: var(--x2-radius-0);

	&-header {
		display: flex;
		align-items: center;
		gap: 1ch;
		background-color: var(--x2-border-codeblock);
		padding: 0.4ch 0.2ch 0.8ch 0.2ch;
		font-size: 0.7em;
	}

	&-language {
		font-family: var(--x2-font-code);
		background-color: var(--x2-bg-codeblock);
		padding: 0.1ch 1.2ch;
		color: var(--x2-color-body-subtle);
		border: 1px solid var(--x2-border-note);
		border-radius: var(--x2-radius-xs);
	}

	clipboard-copy {
		margin-inline-start: auto;
		padding: 0.1ch 1.2ch;
		font-size: 0.75rem;
	}

	pre {
		background-color: transparent;
		border-image: 
			radial-gradient(#0000 71%, var(--x2-border-codeblock) 72%)
			49.9%/var(--x2-radius-sm);
		overflow-x: auto;

		&:focus-within {
			outline-style: solid;
			outline-width: var(--x2-line-width-md);
			outline-offset: var(--x2-outline-offset);
		}

		& > code {
			display: grid;
			padding-inline: 0;
			// restore automatic cursor and touch interactions
			cursor: auto;
			touch-action: auto;
			white-space: var(--x2-hl-code-white-space, pre);
		}

		&[data-pre-wrap] > code {
			--x2-hl-code-white-space: pre-wrap;
		}
	}

	.line {
		--hlLinePaddingLeft: calc(var(--hl-line-marker-gutter-factor, 0) * 1.5ch + 1ch);
		--hlLineMarkerOffset: calc((var(--hlLinePaddingLeft) * -1) + 0.25ch);
		border-inline-start: var(--x2-line-width-0) solid var(--hlLineBorderColor);
		padding-inline-start: var(--hlLinePaddingLeft);
		padding-inline-end: 1ch;
		background-color: var(--hlLineBgColor);

		&[data-highlighted] {
			--hlLineNumberColor: var(--color-prettylights-syntax-comment);
			--hlLineBgColor: var(--x2-hl-line-highlight-background-color);
			--hlLineBorderColor: var(--hlLineNumberColor);
		}

		&[data-line-added] {
			--hlLineNumberColor: var(--x2-hl-line-number-added-color);
			--hlLineBgColor: var(--x2-hl-line-added-background-color);
			position: relative;

			&::before {
				position: absolute;
				top: 0.5ch;
				display: inline-block;
				margin-inline-start: var(--hlLineMarkerOffset);
				@include mixins.icon("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' fill-rule='evenodd' clip-rule='evenodd' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 12h12m-6-6v12'/%3E%3C/svg%3E");
				user-select: none;
				text-decoration: none;
				background-color: var(--hlLineNumberColor);
				@include mixins.fixedSize(var(--x2-hl-line-prompt-size));
			}
		}

		&[data-line-removed] {
			--hlLineNumberColor: var(--x2-hl-line-number-removed-color);
			--hlLineBgColor: var(--x2-hl-line-removed-background-color);
			position: relative;

			&::before {
				position: absolute;
				top: 0.5ch;
				display: inline-block;
				margin-inline-start: var(--hlLineMarkerOffset);
				@include mixins.icon("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' fill-rule='evenodd' clip-rule='evenodd' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 12h12'/%3E%3C/svg%3E");
				user-select: none;
				text-decoration: none;
				background-color: var(--hlLineNumberColor);
				@include mixins.fixedSize(var(--x2-hl-line-prompt-size));
			}
		}

		&:is(:focus:not(:focus-visible), :hover) {
			--hlLineNumberColor: var(--color-prettylights-syntax-comment);
			--hlLineBgColor: var(--x2-hl-line-active-background-color);
		}

		&-number {
			--hlLineNumberWidth: calc(var(--hl-line-number-gutter-factor) * 1ch);
			display: inline-block;
			user-select: none;
			margin-inline-end: 1em;
			text-align: right;
			color: var(--hlLineNumberColor);
			inline-size: var(--hlLineNumberWidth);
		}

		&-prompt::before {
			display: inline-block;
			margin-inline-end: 1ch;
			vertical-align: middle;
			@include mixins.icon("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m4 20 7.521-10.957M5 2h1.764a2 2 0 0 1 1.789 1.106l7.894 15.788A2 2 0 0 0 18.236 20H20'/%3E%3C/svg%3E");
			user-select: none;
			text-decoration: none;
			color: var(--x2-hl-line-prompt-color);
			background-color: currentColor;
			@include mixins.fixedSize(var(--x2-hl-line-prompt-size));
		}
	}
}
