$x-paper: #f7f7f7;
$x-black: #121212;
$x-gray-50: #f2f0e5;
$x-gray-100: #e6e4d9;
$x-gray-150: #dad8ce;
$x-gray-200: #cecdc3;
$x-gray-300: #b7b5ac;
$x-gray-400: #9f9d96;
$x-gray-500: #878580;
$x-gray-600: #6f6e69;
$x-gray-700: #575653;
$x-gray-800: #403e3c;
$x-gray-850: #343331;
$x-gray-900: #282726;
$x-gray-950: #1c1b1a;
$x-primary-50: #d5e9da;
$x-primary-100: #bae1c5;
$x-primary-150: #9fd7b0;
$x-primary-200: #84cd9c;
$x-primary-300: #4eb777;
$x-primary-400: #00a65c;
$x-primary-500: #00894b;
$x-primary-600: #006d3a;
$x-primary-700: #045c31;
$x-primary-800: #0f4527;
$x-primary-850: #123921;
$x-primary-900: #142c1c;
$x-primary-950: #141f17;
$x-commend-50: #dbe8d4;
$x-commend-100: #c6dfb9;
$x-commend-150: #b1d59f;
$x-commend-200: #9dca85;
$x-commend-300: #78b355;
$x-commend-400: #5ca22b;
$x-commend-500: #468618;
$x-commend-600: #316b00;
$x-commend-700: #295a03;
$x-commend-800: #22440d;
$x-commend-850: #1e3810;
$x-commend-900: #1a2b12;
$x-commend-950: #161f13;
$x-deter-50: #f7ded8;
$x-deter-100: #fbcbc0;
$x-deter-150: #fdb9aa;
$x-deter-200: #fba694;
$x-deter-300: #f2836c;
$x-deter-400: #ea694f;
$x-deter-500: #c85139;
$x-deter-600: #a73924;
$x-deter-700: #8c2f1e;
$x-deter-800: #68271a;
$x-deter-850: #532218;
$x-deter-900: #3e1d17;
$x-deter-950: #281815;
$x-warn-50: #ede2d2;
$x-warn-100: #ead3b5;
$x-warn-150: #e5c598;
$x-warn-200: #deb67c;
$x-warn-300: #ce9946;
$x-warn-400: #c28400;
$x-warn-500: #a06d00;
$x-warn-600: #805600;
$x-warn-700: #6b4803;
$x-warn-800: #50370c;
$x-warn-850: #412e10;
$x-warn-900: #312512;
$x-warn-950: #211b13;
$x-assert-50: #d5e6f7;
$x-assert-100: #badbfb;
$x-assert-150: #a0cffe;
$x-assert-200: #86c2fd;
$x-assert-300: #54a9f7;
$x-assert-400: #2395f0;
$x-assert-500: #127bc9;
$x-assert-600: #0061a3;
$x-assert-700: #035189;
$x-assert-800: #0e3e65;
$x-assert-850: #113351;
$x-assert-900: #13283c;
$x-assert-950: #131d27;
