// base
$site-color-primary: #02805a;
$site-color-neutral: #ffffff;
$site-color-commend: #2abf1d;
$site-color-deter: #db0b2f;
$site-color-warn: #eb993e;
$site-color-assert: #318ce7;

// palette
$x3-color-primary-1: #000502;
$x3-color-primary-2: #000a05;
$x3-color-primary-5: #00150b;
$x3-color-primary-7: #001a0f;
$x3-color-primary-10: #002114;
$x3-color-primary-15: #002c1d;
$x3-color-primary-20: #003825;
$x3-color-primary-25: #00452e;
$x3-color-primary-30: #005138;
$x3-color-primary-35: #005f41;
$x3-color-primary-40: #006c4b;
$x3-color-primary-45: #007a55;
$x3-color-primary-50: #158761;
$x3-color-primary-55: #2b946d;
$x3-color-primary-60: #3ba279;
$x3-color-primary-65: #4bb086;
$x3-color-primary-70: #59bd93;
$x3-color-primary-75: #68cba0;
$x3-color-primary-80: #76d9ad;
$x3-color-primary-85: #84e8ba;
$x3-color-primary-90: #92f6c8;
$x3-color-primary-93: #9affd0;
$x3-color-primary-95: #bdffdd;
$x3-color-primary-98: #e8fff0;
$x3-color-primary-99: #f4fff6;

$x3-color-neutral-1: #030404;
$x3-color-neutral-2: #060808;
$x3-color-neutral-5: #0f1112;
$x3-color-neutral-7: #141616;
$x3-color-neutral-10: #1a1c1c;
$x3-color-neutral-15: #242626;
$x3-color-neutral-20: #2f3131;
$x3-color-neutral-25: #3a3c3c;
$x3-color-neutral-30: #454747;
$x3-color-neutral-35: #515353;
$x3-color-neutral-40: #5d5f5f;
$x3-color-neutral-45: #696b6b;
$x3-color-neutral-50: #767777;
$x3-color-neutral-55: #838484;
$x3-color-neutral-60: #909191;
$x3-color-neutral-65: #9d9e9e;
$x3-color-neutral-70: #aaabab;
$x3-color-neutral-75: #b8b9b9;
$x3-color-neutral-80: #c6c6c7;
$x3-color-neutral-85: #d4d4d4;
$x3-color-neutral-90: #e2e2e2;
$x3-color-neutral-93: #ebebeb;
$x3-color-neutral-95: #f0f1f1;
$x3-color-neutral-98: #f9f9f9;
$x3-color-neutral-99: #fcfcfc;

$x3-color-commend-1: #000500;
$x3-color-commend-2: #000a00;
$x3-color-commend-5: #001500;
$x3-color-commend-7: #001b00;
$x3-color-commend-10: #002200;
$x3-color-commend-15: #012d00;
$x3-color-commend-20: #013a00;
$x3-color-commend-25: #014600;
$x3-color-commend-30: #025300;
$x3-color-commend-35: #026100;
$x3-color-commend-40: #036e00;
$x3-color-commend-45: #037c00;
$x3-color-commend-50: #048b00;
$x3-color-commend-55: #059900;
$x3-color-commend-60: #05a800;
$x3-color-commend-65: #1cb711;
$x3-color-commend-70: #32c524;
$x3-color-commend-75: #44d333;
$x3-color-commend-80: #54e241;
$x3-color-commend-85: #63f14e;
$x3-color-commend-90: #77ff60;
$x3-color-commend-93: #afff99;
$x3-color-commend-95: #cbffb8;
$x3-color-commend-98: #edffe1;
$x3-color-commend-99: #f7ffee;

$x3-color-deter-1: #100001;
$x3-color-deter-2: #1a0001;
$x3-color-deter-5: #2d0003;
$x3-color-deter-7: #350004;
$x3-color-deter-10: #410006;
$x3-color-deter-15: #54000b;
$x3-color-deter-20: #680010;
$x3-color-deter-25: #7d0015;
$x3-color-deter-30: #93001b;
$x3-color-deter-35: #a90020;
$x3-color-deter-40: #bf0026;
$x3-color-deter-45: #d6022c;
$x3-color-deter-50: #e91d37;
$x3-color-deter-55: #fb2e42;
$x3-color-deter-60: #ff5359;
$x3-color-deter-65: #ff7070;
$x3-color-deter-70: #ff8986;
$x3-color-deter-75: #ff9f9c;
$x3-color-deter-80: #ffb3b0;
$x3-color-deter-85: #ffc7c4;
$x3-color-deter-90: #ffdad8;
$x3-color-deter-93: #ffe5e4;
$x3-color-deter-95: #ffedeb;
$x3-color-deter-98: #fff8f7;
$x3-color-deter-99: #fffbff;

$x3-color-warn-1: #080300;
$x3-color-warn-2: #100500;
$x3-color-warn-5: #1d0d00;
$x3-color-warn-7: #241100;
$x3-color-warn-10: #2c1600;
$x3-color-warn-15: #3b1f00;
$x3-color-warn-20: #4a2800;
$x3-color-warn-25: #593200;
$x3-color-warn-30: #693c00;
$x3-color-warn-35: #7a4600;
$x3-color-warn-40: #8b5000;
$x3-color-warn-45: #9c5b00;
$x3-color-warn-50: #ad6606;
$x3-color-warn-55: #bc7317;
$x3-color-warn-60: #cc7f25;
$x3-color-warn-65: #db8c32;
$x3-color-warn-70: #eb993e;
$x3-color-warn-75: #fba64a;
$x3-color-warn-80: #ffb870;
$x3-color-warn-85: #ffca99;
$x3-color-warn-90: #ffdcbe;
$x3-color-warn-93: #ffe7d3;
$x3-color-warn-95: #ffeee1;
$x3-color-warn-98: #fff8f5;
$x3-color-warn-99: #fffbff;

$x3-color-assert-1: #00040d;
$x3-color-assert-2: #000816;
$x3-color-assert-5: #001126;
$x3-color-assert-7: #00162e;
$x3-color-assert-10: #001c38;
$x3-color-assert-15: #00274a;
$x3-color-assert-20: #00315c;
$x3-color-assert-25: #003c6e;
$x3-color-assert-30: #004882;
$x3-color-assert-35: #005495;
$x3-color-assert-40: #0060aa;
$x3-color-assert-45: #006cbf;
$x3-color-assert-50: #0679d3;
$x3-color-assert-55: #2786e1;
$x3-color-assert-60: #3b93ef;
$x3-color-assert-65: #4da1fd;
$x3-color-assert-70: #6caeff;
$x3-color-assert-75: #88bcff;
$x3-color-assert-80: #a2c9ff;
$x3-color-assert-85: #bbd6ff;
$x3-color-assert-90: #d3e4ff;
$x3-color-assert-93: #e1ecff;
$x3-color-assert-95: #eaf1ff;
$x3-color-assert-98: #f8f9ff;
$x3-color-assert-99: #fdfcff;
