@use "sass:math";
@use "vars" as *;
@use "mixins";

.content {
	& > blockquote,
	& > figure,
	& > .hl,
	& > .callout {
		grid-column: contentGap;
	}

	& > .callout {
		--x2-padding-callout-content: calc(#{$x2-gap-body} - var(--calloutBorderWidth));
	}

	& > blockquote {
		--x2-padding-inline-start-blockquote: calc(#{$x2-gap-body} - var(--blockquoteBorderWidth));
		--x2-padding-inline-end-blockquote: #{$x2-gap-body};
		margin-inline-start: var(--blockquoteBorderWidth);
	}

	& > figure figcaption {
		margin-inline-start: #{$x2-gap-body-offset};
	}

	// subtle background for transparent images
	:where(img) {
		background-image: radial-gradient(
			circle at center,
			var(--x2-border-codeblock) 1px,
			transparent 0
		);
		background-size: 10px 10px;
		background-repeat: round;
	}
}

article.content {
	:where(h1, h2, h3, h4, h5, h6) {
		--x2-size-icon: 1ch;
		a .icon {
			visibility: hidden;
			vertical-align: text-top;
			margin-inline-start: 0.25ch;
		}

		&:focus,
		&:hover {
			a .icon {
				visibility: visible;
			}
		}

		@include mixins.onTouch {
			a .icon {
				visibility: visible;
			}
		}
	}

	.footnotes {
		font-size: 0.85em;
		border-block-start: 1px dashed var(--x2-border-body);
		@include mixins.flow;

		h2[id]:first-of-type {
			padding-block-start: 1em;
			font-size: var(--x2-text-0);
		}
	}
}
