@use "mixins";

:where(
	blockquote, figure, figcaption, caption, details, article, ul, ol, dl, dd, li,
	.card, .card-body, .post, .hero .callout-body, .footnotes
) {
	@include mixins.flow;
}

:where(
	blockquote, figure, caption, dd + dt,
	.hero, .card, .card-body
) > * {
	--y-flow-gap: 1em;
}

:where(ul, ol, dl, details, .callout-body) > * {
	--y-flow-gap: 0.5em;
}

article p + :where(ul, ol, dl) {
	--y-flow-gap: 1em;
}
