@use "mixins";

// show external link indicator
:where(a[rel*="nofollow"])::after {
	@include mixins.icon("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath d='m12.5 13.268-4.616 4.616a1.25 1.25 0 0 1-1.768-1.768l4.616-4.616-3.616-3.616A1.25 1.25 0 0 1 8 5.75h9A1.248 1.248 0 0 1 18.25 7v9a1.25 1.25 0 0 1-2.134.884L12.5 13.268Z'/%3E%3C/svg%3E");
	display: inline-block;
	text-decoration: none;
	@include mixins.fixedSize(1em);
}

:where(img) {
	background-image: radial-gradient(
		circle at center,
		var(--x2-border-codeblock) 1px,
		transparent 0
	);
	background-size: 10px 10px;
	background-repeat: round;
}

:where(figcaption) {
	--figcaptionBorderWidth: 1ch;
	position: relative;
	padding: 0 0 0 var(--x2-padding-inline-figcaption, 1.5em);

	&::before {
		position: absolute;
		content: "";
		left: 0;
		inline-size: var(--figcaptionBorderWidth);
		block-size: 100%;
		border-radius: var(--x2-radius-max);
		background-color: var(--x2-border-note);
	}
}

:where(clipboard-copy, command-bar, theme-switcher, footer-preferences):not(:defined) {
	visibility: hidden;
	display: none;
}

// clipboard-copy is a button
:where(clipboard-copy) {
	background-color: var(--x2-bg-form);
	border: var(--x2-line-width-sm) solid var(--x2-border-form);
	color: var(--x2-color-form);
}

:where(blockquote) {
	cite:last-child {
		font-size: 0.9em;
		color: var(--x2-color-caption);
	}
}

:where(command-bar) {
	dialog {
		width: calc(100% - 2px);
		max-width: var(--x2-max-width-content);
		overflow: hidden;
		border: var(--x2-line-width-sm) solid var(--x2-border-body);
		border-radius: var(--x2-radius-0);
		background-color: var(--x2-bg-body);
		padding: 0;

		header {
			display: flex;
			align-items: center;
			gap: 1ch;
			padding: 0.5rem;
		}

		input[autofocus] {
			flex: 1;
		}

		#commands {
			max-block-size: 60vh;
			overflow-y: auto;
		}

		.cmdb-section-header {
			border-block-start: var(--x2-line-width-sm) solid var(--x2-border-note);
			font-size: 0.8em;
			color: var(--x2-color-body-subtle);
			padding: 0.25rem 1rem;
		}

		.command-item {
			display: flex;
			align-items: center;
			padding: 0.75rem 1rem;

			&:focus,
			&:hover {
				background-color: var(--x2-bg-accent-subtle);
			}

			&:focus-visible {
				outline-offset: -0.25em;
			}

			.icon {
				margin-inline-end: 1ch;
			}
		}
	}
}

.icon-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.3rem;
}

.brand {
	--brandSize: calc(30px + 0.5vw);
	display: inline-block;
	@include mixins.fixedSize(var(--brandSize));
}

.distinct-link {
	--distinctLinkPadding: var(--x2-padding-distinct-link, 1ch 2ch);
	--distinctLinkBorderWidth: var(--x2-line-width-distinct-link, var(--x2-line-width-0));
	display: inline-flex;
	align-items: center;
	border: var(--distinctLinkBorderWidth) dotted currentColor;
	border-radius: var(--x2-radius-max);
	padding: var(--distinctLinkPadding);

	&:is(:hover, :focus, :active) {
		border-style: solid;
	}

	&:focus-visible {
		border-color: transparent;
	}
}

.icon-link-start {
	.icon {
		margin-inline-end: 0.5ch;
	}
}

.share-button {
	border-color: transparent;
	background-color: transparent;
	padding: 0;
}

.avatar {
	--avatarSize: calc(56px + 4vw);
	inline-size: var(--avatarSize);
	border-radius: var(--x2-radius-max);
}

.headline {
	font-family: var(--fontSans2);
	font-weight: 900;
	font-size: var(--x2-text-title);
	text-wrap: balance;
	line-height: 2ex;
	margin-block-end: 0 !important;
}

.subheadline {
	font-size: var(--x2-text-tagline);
	text-wrap: balance;
}

.headline + .subheadline {
	margin-block-start: 1rem;
}

figure.frame {
	--x2-gap-flow: 2em;

	img {
		border: 1px solid var(--x2-border-note);
		border-radius: var(--x2-radius-sm);
		box-shadow: var(--x2-shadow);
	}
}

.breadcrumb {
	display: inline-flex;
	align-items: center;

	&-item + &-item {
		&::before {
			margin-inline: 0.5ch;
			vertical-align: middle;
			@include mixins.icon("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M16 2 8 22'/%3E%3C/svg%3E");
			opacity: 0.5;
			display: inline-block;
			user-select: none;
			@include mixins.fixedSize(1em);
		}
	}
}

.capitalized {
	text-transform: capitalize;
}

.card {
	--x2-gap-flow: 1em;
	padding-block: 2em;

	& + & {
		border-block-start: var(--x2-line-width-sm) solid var(--x2-border-note);
	}

	blockquote {
		padding-inline-end: var(--x2-padding-inline-blockquote);
	}

	&-details {
		display: flex;
		align-items: center;
		gap: 1ch;
		color: var(--x2-color-body-subtle);
		font-size: var(--x2-text-sm);
	}

	&-category {
		text-transform: capitalize;
	}

	&-header {
		font-size: var(--x2-text-tagline);
		font-weight: var(--x2-text-semibold);
		text-wrap: balance;
		font-variation-settings: "opsz" 28;
	}

	&:not(.status) &-body {
		font-size: var(--x2-text-sm);
	}

	&.status &-details a {
		line-height: 1;
	}
}

.toc {
	&-header {
		text-transform: uppercase;
		letter-spacing: 0.025em;
		color: var(--x2-color-caption);
		font-size: var(--x2-text-sm);
	}

	&-items {
		--x2-gap-flow: 0;
		list-style-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%237e9688' opacity='0.7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M15 6v10c0 1.097.903 2 2 2h6'/%3E%3C/svg%3E");
		padding: 0;

		li {
			--x2-gap-flow: 0;
		}
	}

	&-item {
		$levels: 2 3 4 5 6;

		@each $level in $levels {
			&.toc-item-#{$level} {
				margin-inline-start: 1em;
			}
		}
	}
}

.pagination {
	&-item {
		min-inline-size: 4ch;
		justify-content: center;

		&.distinct-link {
			--x2-padding-distinct-link: 0.2ch 1ch;
			--x2-line-width-distinct-link: var(--x2-line-width-0);
			border-color: transparent;
			font-size: 1em;

			&:is(:hover, :focus, :active) {
				border-color: currentColor;
			}

			&:focus-visible {
				border-color: transparent;
			}
		}

		&.active {
			font-weight: var(--x2-text-semibold);
			border-color: currentColor;
		}
	}

	&-separator {
		opacity: 0.7;
	}
}

.floating-back-to-top {
	--backToTopPos: 1.5rem;
	position: fixed;
	border-radius: var(--x2-radius-max);
	inset-block-end: var(--backToTopPos);
	inset-inline-end: var(--backToTopPos);
	z-index: 10;
	-webkit-backdrop-filter: blur(25px);
	backdrop-filter: blur(25px);

	a {
		--x2-line-width-distinct-link: 0.15em;
		--x2-size-icon: calc(1rem + 1.5vw);
		padding: 0.5ch;
	}
}

.greeting span[data-language] {
	position: relative;

	&::after {
		position: absolute;
		content: attr(data-language);
		bottom: 3ch;
		right: 0;
		font-size: 0.6em;
		text-transform: lowercase;
		color: var(--x2-color-warn);
		background-color: var(--x2-border-warn);
		border: var(--x2-line-width-sm) solid var(--x2-border-warn);
		border-radius: var(--x2-radius-max);
		padding: 0.3ch 0.6ch;
		line-height: 1;
	}
}

.glitch {
	display: flex;
	align-items: center;
	justify-content: center;

	.brand {
		margin-block-end: 1ch;

		@media (prefers-reduced-motion: no-preference), (update: fast) {
			animation: flicker 5s linear infinite;
		}
	}
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}
