@use "mixins";

body {
	--bodyPopout: minmax(0, 1fr);
	--bodyGap: minmax(var(--x2-gap-inline-body), 1fr);
	--bodyCopy: min(var(--x2-max-width-body), 100% - var(--x2-gap-inline-body) * 2);

	padding-inline: var(--x2-padding-inline-body);
	display: grid;
	grid-template-columns:
		[bodyPopout-start] var(--bodyPopout)
		[bodyGap-start] var(--bodyGap)
		[bodyCopy-start] var(--bodyCopy) [bodyCopy-end]
		var(--bodyGap) [bodyGap-end]
		var(--bodyPopout) [bodyPopout-end];

	& > * {
		grid-column: bodyCopy;
	}

	& > .popout {
		grid-column: bodyPopout;
	}
}

.content {
	--contentPopout: minmax(0, 1fr);
	--contentGap: var(--x2-gap-inline-body);
	--contentCopy: min(var(--x2-max-width-content), 100% - var(--x2-gap-inline-body) * 2);

	display: grid;
	grid-template-columns:
		[contentPopout-start] var(--contentPopout)
		[contentGap-start] var(--contentGap)
		[contentCopy-start] var(--contentCopy) [contentCopy-end]
		var(--contentGap) [contentGap-end]
		var(--contentPopout) [contentPopout-end];
	
	& > * {
		grid-column: contentCopy;
	}

	& > .popout {
		grid-column: contentGap;
	}

	@include mixins.flow;
}

// spacing utility
.flow {
	@include mixins.flow;
}

.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 1ch;
	padding-block: calc(var(--x2-gap-inline-body) + 1vw);

	.navbar-secondary {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-size: 0.9em;
	}
}
