@use "./mixins";

@mixin lightTheme {
	color-scheme: light;

	--background-site-base: hsl(15, 80%, 98%);
	--background-site-subtle: hsl(17, 13%, 78%, 0.3);
	--background-site-stress: hsl(22, 79%, 95%);
	--background-site-note: hsl(17, 25%, 89%, 0.5);
	--background-site-commend: hsl(147, 80%, 80%, 0.5);
	--background-site-warn: hsl(29, 82%, 87%, 0.5);
	--background-site-deter: hsl(4, 73%, 91%, 0.5);
	--background-site-assert: hsl(220, 91%, 92%, 0.5);

	--color-site-base: hsl(20, 8%, 23%);
	--color-site-subtle: hsl(18, 6%, 33%);
	--color-site-stress: hsl(22, 15%, 11%);
	--color-site-note: hsl(21, 14%, 23%);
	--color-site-commend: hsl(151, 45%, 18%);
	--color-site-warn: hsl(33, 73%, 19%);
	--color-site-deter: hsl(356, 70%, 26%);
	--color-site-assert: hsl(214, 66%, 25%);

	--border-site-base: hsl(21, 43%, 78%);
	--border-site-subtle: hsl(23, 81%, 77%, 0.5);
	--border-site-stress: hsl(24, 54%, 54%);
	--border-site-note: hsl(17, 13%, 78%);
	--border-site-commend: hsl(148, 51%, 69%);
	--border-site-warn: hsl(32, 85%, 72%);
	--border-site-deter: hsl(4, 75%, 83%);
	--border-site-assert: hsl(218, 89%, 82%);

	--color-site-link-base: hsl(356, 66%, 41%);
	--color-site-link-active-base: hsl(356, 68%, 36%);
	--color-site-link-note: hsl(25, 18%, 19%);
	--color-site-link-active-note: hsl(21, 26%, 11%);
	--color-site-link-commend: hsl(151, 47%, 15%);
	--color-site-link-active-commend: hsl(151, 56%, 8%);
	--color-site-link-warn: hsl(33, 77%, 15%);
	--color-site-link-active-warn: hsl(32, 86%, 9%);
	--color-site-link-deter: hsl(356, 74%, 21%);
	--color-site-link-active-deter: hsl(358, 82%, 13%);
	--color-site-link-assert: hsl(214, 68%, 21%);
	--color-site-link-active-assert: hsl(214, 77%, 12%);

	--color-prettylights-syntax-comment: #6e7781;
	--color-prettylights-syntax-constant: #0550ae;
	--color-prettylights-syntax-entity: #8250df;
	--color-prettylights-syntax-storage-modifier-import: #24292f;
	--color-prettylights-syntax-entity-tag: #116329;
	--color-prettylights-syntax-keyword: #cf222e;
	--color-prettylights-syntax-string: #0a3069;
	--color-prettylights-syntax-variable: #953800;
	--color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
	--color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
	--color-prettylights-syntax-invalid-illegal-bg: #82071e;
	--color-prettylights-syntax-carriage-return-text: #f6f8fa;
	--color-prettylights-syntax-carriage-return-bg: #cf222e;
	--color-prettylights-syntax-string-regexp: #116329;
	--color-prettylights-syntax-markup-list: #3b2300;
	--color-prettylights-syntax-markup-heading: #0550ae;
	--color-prettylights-syntax-markup-italic: #24292f;
	--color-prettylights-syntax-markup-bold: #24292f;
	--color-prettylights-syntax-markup-deleted-text: #82071e;
	--color-prettylights-syntax-markup-deleted-bg: #ffebe9;
	--color-prettylights-syntax-markup-inserted-text: #116329;
	--color-prettylights-syntax-markup-inserted-bg: #dafbe1;
	--color-prettylights-syntax-markup-changed-text: #953800;
	--color-prettylights-syntax-markup-changed-bg: #ffd8b5;
	--color-prettylights-syntax-markup-ignored-text: #eaeef2;
	--color-prettylights-syntax-markup-ignored-bg: #0550ae;
	--color-prettylights-syntax-meta-diff-range: #8250df;
	--color-prettylights-syntax-brackethighlighter-angle: #57606a;
	--color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
	--color-prettylights-syntax-constant-other-reference-link: #0a3069;
}

@mixin darkTheme {
	color-scheme: dark;

	--background-site-base: hsl(240, 7%, 6%);
	--background-site-subtle: hsl(129, 4%, 32%, 0.5);
	--background-site-stress: hsl(240, 9%, 2%);
	--background-site-note: hsl(146, 15%, 22%, 0.5);
	--background-site-commend: hsl(151, 43%, 19%, 0.5);
	--background-site-warn: hsl(33, 73%, 19%, 0.5);
	--background-site-deter: hsl(356, 70%, 26%, 0.5);
	--background-site-assert: hsl(214, 66%, 25%, 0.5);

	--color-site-base: hsl(90, 3%, 77%);
	--color-site-subtle: hsl(105, 2%, 67%);
	--color-site-stress: hsl(90, 7%, 88%);
	--color-site-note: hsl(120, 7%, 77%);
	--color-site-commend: hsl(148, 51%, 69%);
	--color-site-warn: hsl(32, 85%, 72%);
	--color-site-deter: hsl(4, 75%, 83%);
	--color-site-assert: hsl(218, 89%, 82%);

	--border-site-base: hsl(145, 11%, 30%);
	--border-site-subtle: hsl(152, 39%, 38%, 0.5);
	--border-site-stress: hsl(141, 7%, 45%);
	--border-site-note: hsl(143, 14%, 26%);
	--border-site-commend: hsl(153, 43%, 22%);
	--border-site-warn: hsl(33, 71%, 23%);
	--border-site-deter: hsl(356, 69%, 31%);
	--border-site-assert: hsl(214, 64%, 30%);

	--color-site-link-base: hsl(148, 51%, 69%);
	--color-site-link-active-base: hsl(147, 82%, 80%);
	--color-site-link-note: hsl(138, 30%, 87%);
	--color-site-link-active-note: hsl(138, 53%, 93%);
	--color-site-link-commend: hsl(147, 82%, 80%);
	--color-site-link-active-commend: hsl(144, 93%, 89%);
	--color-site-link-warn: hsl(29, 82%, 87%);
	--color-site-link-active-warn: hsl(30, 81%, 94%);
	--color-site-link-deter: hsl(4, 73%, 91%);
	--color-site-link-active-deter: hsl(7, 74%, 95%);
	--color-site-link-assert: hsl(220, 91%, 92%);
	--color-site-link-active-assert: hsl(221, 90%, 96%);

	--color-prettylights-syntax-comment: #8b949e;
	--color-prettylights-syntax-constant: #79c0ff;
	--color-prettylights-syntax-entity: #d2a8ff;
	--color-prettylights-syntax-storage-modifier-import: #c9d1d9;
	--color-prettylights-syntax-entity-tag: #7ee787;
	--color-prettylights-syntax-keyword: #ff7b72;
	--color-prettylights-syntax-string: #a5d6ff;
	--color-prettylights-syntax-variable: #ffa657;
	--color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
	--color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
	--color-prettylights-syntax-invalid-illegal-bg: #8e1519;
	--color-prettylights-syntax-carriage-return-text: #f0f6fc;
	--color-prettylights-syntax-carriage-return-bg: #b62324;
	--color-prettylights-syntax-string-regexp: #7ee787;
	--color-prettylights-syntax-markup-list: #f2cc60;
	--color-prettylights-syntax-markup-heading: #1f6feb;
	--color-prettylights-syntax-markup-italic: #c9d1d9;
	--color-prettylights-syntax-markup-bold: #c9d1d9;
	--color-prettylights-syntax-markup-deleted-text: #ffdcd7;
	--color-prettylights-syntax-markup-deleted-bg: #67060c;
	--color-prettylights-syntax-markup-inserted-text: #aff5b4;
	--color-prettylights-syntax-markup-inserted-bg: #033a16;
	--color-prettylights-syntax-markup-changed-text: #ffdfb6;
	--color-prettylights-syntax-markup-changed-bg: #5a1e02;
	--color-prettylights-syntax-markup-ignored-text: #c9d1d9;
	--color-prettylights-syntax-markup-ignored-bg: #1158c7;
	--color-prettylights-syntax-meta-diff-range: #d2a8ff;
	--color-prettylights-syntax-brackethighlighter-angle: #8b949e;
	--color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
	--color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
}

:root:not([data-theme]),
[data-theme="light"] {
	@include lightTheme;
}

@media (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		@include darkTheme;
	}
}

[data-theme="dark"] {
	@include darkTheme;
}

:root {
	--family-site-body: var(--family-site-sans);
	--family-site-code: var(--family-site-mono);

	--font-weight-site-regular: 400;
	--font-weight-site-medium: 500;
	--font-weight-site-bold: 700;

	--max-width-site-base: calc(60rem + 10vw);
	--max-width-site-content: 65ch;

	--thickness-site-decoration: 0.2ex;
	--thickness-site-hr: 1px;
	--thickness-site-link-outline: 2px;
	--thickness-site-form-outline: 5px;

	--offset-site-link-outline: 0.125em;
	--offset-site-form-outline: 0;

	--radius-site-tiny: 4px;
	--radius-site-small: 8px;
	--radius-site-base: 1rem;
	--radius-site-round: 1e5px;

	--gap-site-base: 2rem;
	--gap-site-body: 32px;

	--color-site-body: var(--color-site-base);
	--color-site-del: var(--color-site-deter);
	--color-site-emphasis: var(--color-site-stress);
	--color-site-ins: var(--color-site-commend);
	--color-site-mark: var(--color-site-warn);
	--color-site-marker: var(--border-site-stress);
	--color-site-placeholder: var(--color-site-subtle);
	--color-site-scrollbar: var(--border-site-stress);
	--color-site-table-active: var(--color-site-stress);
	--background-site-body: var(--background-site-base);
	--background-site-code: var(--background-site-subtle);
	--background-site-del: var(--background-site-deter);
	--background-site-ins: var(--background-site-commend);
	--background-site-mark: var(--background-site-warn);
	--background-site-scrollbar: transparent;
	--background-site-selection: var(--border-site-subtle);
	--background-site-summary: var(--background-site-stress);
	--background-site-table: transparent;
	--background-site-table-active: var(--background-site-summary);
	--border-site-blockquote: var(--border-site-base);
	--border-site-body: var(--border-site-base);
	--border-site-hr: var(--border-site-stress);
}

@include mixins.interactive-elements {
	--color-site-link: var(--color-site-link-base);
	--border-site-form: var(--color-site-link);
	--outline-site-form: transparent;

	&:is(:focus, :focus-visible, :focus-within, :hover, :active) {
		--color-site-link: var(--color-site-link-active-base);
		--outline-site-form: var(--border-site-active, var(--border-site-base));
	}
}
