@use "mixins";

/*! Prose v1.5.0 | MIT License | https://github.com/Microflash/prose */
@mixin selection {
	background: var(--background-site-selection);
}

::-moz-selection {
	@include selection;
}

::selection {
	@include selection;
}

::placeholder {
	color: var(--color-site-placeholder);
	opacity: 0.54;
}

::marker {
	color: var(--color-site-marker);
}

:focus-visible {
	border-radius: var(--radius-site-xxs);
	outline-color: var(--color-site-outline);
	outline-style: solid;
	outline-width: var(--thickness-site-og);
	outline-offset: var(--offset-site-outline);
}

:is(
	::-webkit-calendar-picker-indicator,
	::-webkit-clear-button,
	::-webkit-inner-spin-button,
	::-webkit-outer-spin-button
) {
	color: var(--color-site-link);
}

* {
	box-decoration-break: clone;
	text-underline-position: from-font;
	text-decoration-skip-ink: auto;
	accent-color: var(--color-site-link);
	caret-color: var(--color-site-link);

	&::-webkit-scrollbar,
	&::-webkit-scrollbar-track {
		background-color: var(--background-site-scrollbar);
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--color-site-scrollbar);
	}

	scrollbar-color: var(--color-site-scrollbar) var(--background-site-scrollbar);
}

:where(body) {
	font-family: var(--family-site-body);
	font-size: var(--text-site-og);
	font-kerning: normal;
	font-weight: var(--font-weight-site-regular);
	background-color: var(--background-site-body);
	color: var(--color-site-body);
	text-rendering: optimizeLegibility;
	// See https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-overflow-scrolling
	-webkit-overflow-scrolling: touch;
}

:where(a) {
	--linkDecorationThickness: var(--thickness-site-sm);
	color: var(--color-site-link);
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: var(--linkDecorationThickness);

	* {
		color: currentColor;
		cursor: pointer;
		touch-action: manipulation;
		-webkit-tap-highlight-color: transparent;
	}

	&:is(:focus, :focus-within, :hover) {
		--linkDecorationThickness: var(--thickness-site-og);
		text-decoration-style: solid;
	}

	&:active {
		text-decoration-style: double;
	}

	&:focus-visible {
		--linkDecorationThickness: var(--thickness-site-sm);
		text-decoration-style: dotted;
	}
}

:where(blockquote) {
	position: relative;
	padding: 0 0 0 1em;

	&::before {
		position: absolute;
		content: "";
		left: 0;
		inline-size: 0.5ch;
		block-size: 100%;
		border-radius: var(--radius-site-round);
		background-color: var(--border-site-blockquote);
	}
}

:where(hr) {
	display: block;
	border: none;
	block-size: var(--thickness-site-sm);
	background-color: transparent;
	background-image: radial-gradient(circle, var(--border-site-hr) 1px, transparent 1px);
	background-size: 8px 1px;
	background-repeat: repeat;
}

:where(mark, del, ins) {
	border-radius: 0.5ch;
	padding-inline: 0.4ch;
}

:where(del) {
	color: var(--color-site-del);
	background-color: var(--background-site-del);

	&::before {
		display: inline-block;
		vertical-align: middle;
		margin-inline-end: 0.3ch;
		margin-block-end: 0.3ex;
		@include mixins.icon("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M8 12h8'/%3E%3C/svg%3E");
		user-select: none;
		@include mixins.fixed-size(1em);
	}
}

:where(ins) {
	color: var(--color-site-ins);
	background-color: var(--background-site-ins);
	text-decoration-color: transparent;

	&::before {
		display: inline-block;
		vertical-align: middle;
		margin-inline-end: 0.3ch;
		margin-block-end: 0.3ex;
		@include mixins.icon("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M8 12h8'/%3E%3Cpath d='M12 8v8'/%3E%3C/svg%3E");
		user-select: none;
		@include mixins.fixed-size(1em);
	}
}

:where(mark) {
	color: var(--color-site-mark);
	background-color: var(--background-site-mark);
}

:where(i, em) {
	color: var(--color-site-stress);
}

:where(b, strong) {
	font-weight: var(--font-weight-site-semibold);
	color: var(--color-site-stress);
}

:where(small) {
	font-size: 0.85em;
}

:where(cite, dfn, var) {
	font-style: italic;
}

:where(sub, sup) {
	font-size: 0.8em;
}

:where(sub) {
	vertical-align: sub;
}

:where(sup) {
	vertical-align: super;
}

:where(details) {
	--detailsBorderRadius: calc(var(--radius-site-xxs) + 0.25em);

	display: block;
	border: 1px solid var(--border-site-body);
	border-radius: var(--detailsBorderRadius);
	padding: 0 0.75em 0;

	summary {
		background-color: var(--background-site-summary);
		margin: 0 -0.75em 0;
		padding: 0.25em 0.75em;
		border-radius: var(--detailsBorderRadius);
		cursor: pointer;

		&:focus-visible {
			border-radius: var(--detailsBorderRadius);
		}
	}

	&[open] {
		padding-block-end: 0.5em;

		summary {
			margin-block-end: 0.5em;
			border-block-end: 1px solid var(--border-site-body);
			border-end-start-radius: 0;
			border-end-end-radius: 0;
		}
	}

	&:not([open]) > *:not(summary) {
		display: none;
	}
}

:where(img) {
	border-radius: var(--radius-site-xxs);
}

:where(figcaption, caption) {
	font-style: italic;
	font-size: 0.75em;
	color: var(--color-site-caption);
}

:where(p:empty) {
	display: none;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-weight: var(--font-weight-site-semibold);
	// enable optical sizing
	font-variation-settings: "opsz" 28;
	color: var(--color-site-stress);
}

:where(h1) {
	font-size: 2.5rem;
}

:where(h2) {
	font-size: 2rem;
}

:where(h3) {
	font-size: 1.5rem;
	opacity: 0.85;
}

:where(h4) {
	font-size: 1.25rem;
	opacity: 0.8;
}

:where(h5) {
	font-size: 1.125rem;
	opacity: 0.75;
}

:where(h6) {
	font-size: 0.95rem;
	opacity: 0.7;
}

:where(ol, ul) {
	list-style-position: outside;
}

:where(dd) {
	margin-inline-start: 2ch;
}

:where(dt) {
	color: var(--color-site-stress);
	font-weight: var(--font-weight-site-semibold);
}

:where(code, kbd, samp, tt, pre) {
	font-family: var(--family-site-code);
	font-size: 0.95em;
	border-radius: 0.5ch;
}

:where(code, kbd, samp, tt) {
	background-color: var(--background-site-code);
	padding-inline: 0.5ch;
}

:where(pre) {
	overflow: hidden;
	border-radius: var(--radius-site-og);

	code {
		display: block;
		background: none;
		overflow: auto;
		border: none;
		padding: 1em 1.2em;
		font-size: 0.95em;
		white-space: pre;
	}
}

:where(table) {
	display: block;
	inline-size: 100%;
	overflow-x: auto;

	pre {
		white-space: pre-wrap;
	}
}

:where(th) {
	font-weight: var(--font-weight-site-semibold);
}

:where(th, td) {
	font-size: 1em;
	padding: 0.25rem 0.75rem;
	border: 1px solid var(--border-site-body);
}

:where(thead, tfoot) {
	tr {
		background-color: var(--background-site-table-active);
	}

	th,
	td {
		color: var(--color-site-table-active);

		code {
			background-color: var(--background-site-table);
		}
	}
}

:where(tbody) {
	tr {
		background-color: var(--background-site-table);
	}
}

:where(button, button[type], input:not([type="file"]), select, textarea, [role="button"]),
:where(input[type="file"])::file-selector-button,
::part(button),
::part(input) {
	background-color: var(--background-site-form);
	border-radius: var(--radius-site-xs);
	border-color: var(--border-site-form);
	border-style: solid;
	border-width: var(--thickness-site-sm);
	padding: 0.2rem 0.5rem;
}

:where(button, button[type], input[type="button"], input[type="submit"], input[type="reset"], select),
:where(input[type="file"])::file-selector-button,
::part(button) {
	color: var(--color-site-form);
}

:where(input[type="file"], input[type="color"]) {
	padding: 0.3rem;
}

:where(fieldset) {
	border-radius: var(--radius-site-xs);
	border-color: var(--border-site-body);
	border-style: solid;
	border-width: var(--thickness-site-og);
}

// Spacing relationships
:where(h1, h2, h3, h4, h5, h6) {
	@include mixins.vertical-margin(0.5em, 1em);
}

:where(hr) {
	@include mixins.vertical-margin(var(--gap-site-body));
}

:where(dd) {
	@include mixins.vertical-margin(0, var(--gap-site-sm));
}

:where(p, blockquote, figure, ul, ol, dl, table, pre, details) {
	--gap-site-block: var(--gap-site-body);
	@include mixins.vertical-margin(0, var(--gap-site-block));
}

:where(li) > :is(p, blockquote, figure, ul, ol, dl, table, pre, details) {
	--gap-site-block: var(--gap-site-sm);
	margin-block-end: var(--gap-site-block);
}

:where(blockquote) > :is(p, blockquote, figure, ul, ol, dl, table, pre, details) {
	--gap-site-block: var(--gap-site-sm);
}
