@use "./mixins";

body > :where(.header, .hero, .main, .sidekick) {
	padding-inline: var(--gap-site-edge);
}

main {
	padding-block: var(--gap-site-body);
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: calc(2rem + 1vw);
}

.navbar-primary {
	display: flex;
	align-items: center;

	& > *:not(:last-child) {
		margin-inline-end: 0.5ch;
	}

	.brand {
		--logo-size: calc(30px + 0.5vw);
		inline-size: var(--logo-size);
		flex-shrink: 0;

		img {
			border-radius: 0;
		}
	}

	.icon {
		opacity: 0.6;
	}

	.hint::first-letter {
		text-transform: capitalize;
	}
}

.navbar-secondary {
	display: flex;
	align-items: center;

	@include mixins.window-normal {
		& > * + * {
			margin-inline-start: 1.5ch;
		}

		& > .bottom-bar-item {
			display: none;
		}
	}

	@include mixins.window-small {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		padding: 1ch var(--gap-site-edge);
		backdrop-filter: blur(25px);
		max-inline-size: var(--max-width-site-base);
		margin-inline: auto;

		& > .nav-link,
		& > theme-switcher {
			display: none;
		}

		command-bar {
			inline-size: var(--size-site-icon);
			block-size: var(--size-site-icon);
			min-inline-size: var(--size-site-icon);
			min-block-size: var(--size-site-icon);
			margin-block-end: 0.15ch;
		}
	}
}

.navbar-tertiary {
	@include mixins.window-normal {
		display: none;
	}
}

.floating-back-to-top {
	display: none;
	border-radius: var(--radius-site-button);

	@include mixins.window-normal {
		display: flex;
		position: fixed;
		inset-block-end: 1.5rem;
		inset-inline-end: 1.5rem;
		z-index: 10;
		backdrop-filter: blur(25px);
	}
}

.hero {
	padding-block: var(--gap-site-medium);

	&-profile {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 3ch;

		img {
			--hero-image-size: calc(48px + 6vw);
			inline-size: var(--hero-image-size);
			border-radius: var(--radius-site-round);
			border: var(--thickness-site-hr) solid var(--border-site-body);
			box-shadow: 0 0 2rem var(--border-site-body);
		}
	}

	&-post {
		&-details {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			color: var(--color-site-subtle);
			font-size: var(--text-site-small);
			margin-block-start: var(--gap-site-base);

			& > *:not(:last-child)::after {
				@include mixins.icon("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='15' r='1'/%3E%3C/svg%3E");
				display: inline-block;
				inline-size: 1em;
				block-size: 1em;
				min-inline-size: 1em;
				min-block-size: 1em;
				opacity: 0.5;
			}
		}
	}
}

.card {
	padding: var(--gap-site-edge);
	border-radius: var(--radius-site-base);

	&-details {
		display: flex;
		align-items: center;
		color: var(--color-site-subtle);
		font-size: var(--text-site-small);

		& > *:not(:last-child) {
			margin-inline-end: 1ch;
		}

		a {
			display: inline-flex;
		}

		.divider {
			margin: 0;
			flex-grow: 1;
		}
	}

	&-details + &-header {
		margin-block-start: 0.5ch;
		margin-block-end: 1ch;
	}

	&-details + &-body {
		margin-block-start: 1ch;
	}

	&-header {
		font-size: var(--text-site-subheadline);
		font-weight: var(--font-weight-site-semibold);
	}

	&.status {
		overflow: auto;

		.card-body {
			.highlight:not(:last-child) {
				margin-block-end: var(--gap-site-vertical);
			}
		}
	}

	&-category {
		text-transform: capitalize;
		color: var(--color-site-base);
	}

	&[onclick] {
		outline-offset: -0.25em;

		.card-body {
			font-size: var(--text-site-small);
			color: var(--color-site-subtle);
		}

		&:is(:focus, :focus-within, :hover, :active) {
			background-color: var(--background-site-subtle);
	
			.card-category,
			.card-body {
				color: var(--color-site-stress);
			}
		
			.card-details {
				color: var(--color-site-base);
			}
		}

		&:is(:focus, :focus-within, :hover) .card-header a {
			text-decoration-style: solid;
			text-decoration-thickness: var(--thickness-site-outline-interaction);
		}

		&:active .card-header a {
			text-decoration-style: double;
		}

		&:focus-within .card-header a {
			text-decoration-color: currentColor;
			outline-color: transparent;
		}
	}
}

.toc {
	grid-column: popout;
	margin-block-end: var(--gap-site-base);

	&-header {
		text-transform: uppercase;
		letter-spacing: 0.025em;
		color: var(--color-site-subtle);
		font-size: var(--text-site-small);
		margin-block-end: 1ch;
	}

	&-items {
		list-style-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%237e9688' opacity='0.7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M15 6v10c0 1.097.903 2 2 2h6'/%3E%3C/svg%3E");
		padding: 0;
	}

	&-item {
		$levels: 2 3 4 5 6;

		@each $level in $levels {
			&.toc-item-#{$level} {
				margin-inline-start: 1em;
			}
		}
	}
}

.content-recommendations {
	font-weight: var(--font-weight-site-semibold);
	margin-block-start: var(--gap-site-medium);

	& > * + * {
		margin-block-start: var(--gap-site-base);
	}
}

.content-recommendation {
	display: flex;

	.decorator {
		color: var(--color-site-subtle);
		margin-inline-end: 1ch;
	}

	.hint {
		font-size: var(--text-site-small);
	}

	a {
		font-size: var(--text-site-subheadline);
	}
}

.sidekick {

	&-items {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;

		& > * + * {
			margin-inline-start: 1ch;
		}
	}

	&-panels {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		margin-block-start: var(--gap-site-base);
	}
}

.share-panel,
.action-panel {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-block-start: 1rem;

	& > *:not(:only-child, :last-child) {
		margin-inline-end: 1rem;
	}
}

.pagination {

	&-item {
		min-inline-size: 3ch;
		justify-content: center;

		&.active {
			font-weight: var(--font-weight-site-semibold);
		}
	}

	&-separator {
		opacity: 0.7;
	}
}

.footer {
	position: sticky;
	top: 100vh;
	padding-block: var(--gap-site-large);

	&-quote {
		display: flex;
		flex-wrap: wrap;
		padding: var(--gap-site-medium) var(--gap-site-edge);

		& > * {
			flex-basis: 100%;
		}

		@include mixins.window-normal {
			text-align: center;
		}

		.tagline {
			font-size: calc(1.25rem + 1vw);
			font-weight: var(--font-weight-site-semibold);
			margin-block-end: 1rem;
		}

		cite {
			font-size: 0.9rem;
		}

		&-decoration {
			--size-site-icon: 2rem;
			color: var(--color-site-commend);
			margin-block-end: 2rem;
		}
	}

	&-sections {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		& > * {
			flex: 1 1 100%;
			padding: var(--gap-site-base) var(--gap-site-edge);

			@include mixins.window-normal {
				flex-basis: 40%;
			}
		}
	}

	&-copyright {
		font-size: var(--text-site-small);

		@include mixins.window-normal {
			text-align: center;
		}
	}

	&-links > *:not(:last-child) {
		margin-inline-end: 1ch;
	}
}

.glitch {
	place-content: center;
	text-align: center;

	&-container {
		--glitch-image-size: calc(10rem + 15vw);
		inline-size: var(--glitch-image-size);
		block-size: var(--glitch-image-size);
		display: flex;
		align-items: center;
		margin-inline: auto;

		img {
			filter: drop-shadow(0 0 5rem var(--border-site-deter));

			@media (prefers-reduced-motion: no-preference) {
				animation: flicker 5s linear infinite;
			}
		}
	}
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}
