@use "mixins";

@include mixins.variable-font("Inter var", 100 900, "Inter-Regular.var");
@include mixins.variable-font("Inter var", 100 900, "Inter-Italic.var", italic);
@include mixins.variable-font("JetBrains Mono var", 100 900, "JetBrainsMono.var");

@include mixins.static-font("Inter", 350, "Inter-Light");
@include mixins.static-font("Inter", 350, "Inter-LightItalic", italic);
@include mixins.static-font("Inter", 400, "Inter-Regular");
@include mixins.static-font("Inter", 400, "Inter-Italic", italic);
@include mixins.static-font("Inter", 500, "Inter-Medium");
@include mixins.static-font("Inter", 500, "Inter-MediumItalic", italic);
@include mixins.static-font("Inter", 600, "Inter-SemiBold");
@include mixins.static-font("Inter", 600, "Inter-SemiBoldItalic", italic);
@include mixins.static-font("Inter", 700, "Inter-Bold");
@include mixins.static-font("Inter", 700, "Inter-BoldItalic", italic);
@include mixins.static-font("JetBrains Mono", 350, "JetBrainsMono-Light");
@include mixins.static-font("JetBrains Mono", 400, "JetBrainsMono-Regular");
@include mixins.static-font("JetBrains Mono", 500, "JetBrainsMono-Medium");
@include mixins.static-font("JetBrains Mono", 600, "JetBrainsMono-SemiBold");
@include mixins.static-font("JetBrains Mono", 700, "JetBrainsMono-Bold");

:root {
	--family-sans: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--family-mono: ui-monospace, SFMono-Regular, "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

	--family-site-sans: "Inter", var(--family-sans);
	--family-site-mono: "JetBrains Mono", var(--family-mono);

	@supports (font-variation-settings: normal) {
		--family-site-sans: "Inter var", var(--family-sans);
		--family-site-mono: "JetBrains Mono var", var(--family-mono);
	}
}

body:not(code):not(pre):not(kbd) {
	/* ss03: curved r */
	/* ss04: disambiguation without slashed-zero */
	font-feature-settings: "ss03", "ss04";
}
