---
import Icon from "~components/atoms/Icon.astro"
---

<theme-switcher>
	<Icon name="moon" slot="theme-dark"/>
	<Icon name="sun" slot="theme-light"/>
</theme-switcher>

<script>
const themeSwitcherTemplate = document.createElement("template")
themeSwitcherTemplate.innerHTML = `
<button type="button" role="switch" aria-live="polite" aria-checked="true" part="switch" id="theme-switcher">
	<slot name="theme-dark"></slot>
	<slot name="theme-light"></slot>
</button>
`

export class ThemeSwitcher extends HTMLElement {
	static tagName = "theme-switcher"
	static #eventName = "themechange"
	static #storageKey = "theme"
	static #darkTheme = "dark"
	static #lightTheme = "light"
	static #values = [ThemeSwitcher.#darkTheme, ThemeSwitcher.#lightTheme]
	static #defaultValue = ThemeSwitcher.#darkTheme
	static #ariaLabels = ThemeSwitcher.#values.reduce((v, theme) => ({ ...v, [theme]: `${theme.charAt(0).toUpperCase()}${theme.substring(1)} theme`}), {})

	#currentTheme = null
	#states = null
	#switcher = null
	#clickHandler = (event) => this.#switchTheme()
	#changeHandler = (event) => this.#setTheme(event.matches ? ThemeSwitcher.#darkTheme : ThemeSwitcher.#lightTheme)
	#query = matchMedia("(prefers-color-scheme: dark)")

	constructor() {
		super()

		const shadowRoot = this.attachShadow({ mode: "open" })
		shadowRoot.append(themeSwitcherTemplate.content.cloneNode(true))

		try {
			this.#currentTheme = localStorage.getItem(ThemeSwitcher.#storageKey)
		} catch (e) {
			this.#currentTheme = ThemeSwitcher.#defaultValue
		}

		this.#switcher = shadowRoot.querySelector(`#${ThemeSwitcher.tagName}`)
		this.#states = ThemeSwitcher.#values.reduce((v, theme) => ({ ...v, [theme]: shadowRoot.querySelector(`slot[name="${ThemeSwitcher.#storageKey}-${theme}"]`)}), {})

		document.addEventListener(ThemeSwitcher.#eventName, (event) => {
			this.#currentTheme = event.detail.theme
			this.#updateDom()
		})

		this.#setTheme(this.#currentTheme || (this.#query.matches ? ThemeSwitcher.#darkTheme : ThemeSwitcher.#lightTheme))
	}
 
	connectedCallback() {
		this.#switcher.addEventListener("click", this.#clickHandler)
		this.#query.addEventListener("change", this.#changeHandler)
	}

	disconnectedCallback() {
		this.#switcher.removeEventListener("click", this.#clickHandler)
		this.#query.removeEventListener("change", this.#changeHandler)
	}

	#setTheme(newTheme) {
		this.#currentTheme = newTheme
		document.firstElementChild.setAttribute("data-theme", newTheme)
		this.#updateDom()
		this.#dispatchEvent({ theme: this.#currentTheme })

		try {
			localStorage.setItem(ThemeSwitcher.#storageKey, newTheme)
		} catch (e) {}
	}

	#switchTheme() {
		const currentIndex = ThemeSwitcher.#values.indexOf(this.#currentTheme)
		const nextIndex = (currentIndex + 1) % ThemeSwitcher.#values.length
		const newTheme = ThemeSwitcher.#values[nextIndex]
		this.#setTheme(newTheme)
	}

	#updateDom() {
		this.#switcher.setAttribute("aria-label", ThemeSwitcher.#ariaLabels[this.#currentTheme])
		ThemeSwitcher.#values.forEach(theme => this.#states[theme].style.display = theme === this.#currentTheme ? "revert" : "none")
	}

	#dispatchEvent(detail) {
		this.dispatchEvent(new CustomEvent(ThemeSwitcher.#eventName, {
			bubbles: true,
			composed: true,
			detail: detail
		}))
	}
}

customElements.define(ThemeSwitcher.tagName, ThemeSwitcher)
</script>
