---
import Icon from "~components/Icon.astro";
import ThemeSwitcher from "~components/ThemeSwitcher.astro";
import CommandBar from "~components/CommandBar.astro";
import siteInfo from "~website";

const { hint = "Home" } = Astro.props;
const logoAlt = `${new URL(siteInfo.siteBase).host}'s logo'`;
---

<header class="header" id="header">
	<div class="navbar-primary">
		<a href="/" class="brand">
			<img src="/favicon.svg" alt={logoAlt}>
		</a>
		<Icon name="chevron-right" class="gap-start-small"/>
		<div class="hint">{hint}</div>
	</div>
	<nav class="navbar-secondary">
		<a href="/posts/" class="nav-link">Posts</a>
		<a href="/about/" class="nav-link">About</a>
		<ThemeSwitcher/>
		<a href="/" title="Home" class="bottom-bar-item">
			<Icon name="site"/>
		</a>
		<a href="/posts/" title="Posts" class="bottom-bar-item">
			<Icon name="posts"/>
		</a>
		<CommandBar/>
		<a href="#top" title="Back to top" class="bottom-bar-item">
			<Icon name="arrow-up"/>
		</a>
	</nav>
	<nav class="navbar-tertiary"></nav>
</header>

<script>
import "../../modules/clipboard-copy/index.js";
let navbarTertiary = document.querySelector(".navbar-tertiary");
if (navbarTertiary) {
	navbarTertiary.innerHTML = `<a onclick="document.dispatchEvent(new Event('opensearch'))" class="button-link" title="Launch CommandBar"><svg role="img" class="icon" aria-hidden="true"><use href="#search"/></svg></a>`
}
</script>
