---
import Icon from "~components/atoms/Icon.astro"
import ThemeSwitcher from "~components/widgets/ThemeSwitcher.astro"
import CommandBar from "~components/widgets/CommandBar.astro"
import BackToTop from "~components/atoms/BackToTop.astro"

const { hint = "Home" } = Astro.props
---

<header class="wrapper-max header" id="header">
	<div class="navbar">
		<div class="navbar-main">
			<a href="/" class="brand">
				<img src="/favicon.svg" alt="naiyer.dev's logo">
			</a>
			<Icon name="chevron-right"/>
			<span class="chip">{hint}</span>
		</div>
		<div class="navbar-items">
			<nav class="menu-items" slot="menu">
				<a href="/posts/">Posts</a>
				<a href="/stacktrace/">Stacktrace</a>
				<a href="/about/">About</a>
				<ThemeSwitcher/>
			</nav>
			<CommandBar/>
		</div>
	</div>
</header>

<nav class="mobile-menu-items" slot="menu">
	<a href="/" class="button">
		<Icon name="site"/>
	</a>
	<a href="/posts/" class="button">
		<Icon name="posts"/>
	</a>
	<CommandBar/>
	<BackToTop />
</nav>
