---
import Icon from "~components/Icon.astro";
import ThemeSwitcher from "~components/ThemeSwitcher.astro";
import CommandBar from "~components/CommandBar.astro";
import BackToTop from "~components/BackToTop.astro";
import siteInfo from "~website";

const { hint = "Home" } = Astro.props;
const logoAlt = `${new URL(siteInfo.siteBase).host}'s logo'`;
---

<header class="header" id="header">
	<div class="navbar-primary">
		<a href="/" class="brand">
			<img src="/favicon.svg" alt={logoAlt}>
		</a>
		<Icon name="chevron-right" class="breadcrumb-separator-ltr"/>
		<div class="stress">{hint}</div>
	</div>
	<nav class="navbar-secondary">
		<a href="/posts/" class="stress">Posts</a>
		<a href="/about/" class="stress">About</a>
		<ThemeSwitcher/>
		<a href="/" class="button-link" title="Home">
			<Icon name="site"/>
		</a>
		<a href="/posts/" class="button-link" title="Posts">
			<Icon name="posts"/>
		</a>
		<CommandBar/>
		<BackToTop/>
	</nav>
	<nav class="navbar-tertiary">
		<a onclick="document.dispatchEvent(new Event('opensearch'))" class="button-link" title="Launch CommandBar">
			<Icon name="search"/>
		</a>
	</nav>
</header>
