---
import "~styles/main.scss"
import PageInfo from "./PageInfo.astro"
import SkipLink from "~components/atoms/SkipLink.astro"
import Header from "./Header.astro"
import Footer from "./Footer.astro"
import Sprites from "~components/atoms/Sprites.astro"

const { pageInfo, ...attribs } = Astro.props

const hero = Astro.slots.has("hero")
const hint = pageInfo?.hint
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<PageInfo {pageInfo}/>
	</head>
	<body class="site">
		<SkipLink/>
		<Header {hint}/>
		{hero && <section class:list={["hero", attribs.class]}>
			<slot name="hero"/>
		</section>}
		<main id="content" {...attribs}>
			<slot/>
		</main>
		<Footer/>
		<Sprites/>
	</body>
</html>

<script>
import "@generic-components/components/dialog.js"
</script>
