<div style="display:none">
	<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
		<symbol viewBox="0 0 24 24" id="arrow-up">
			<path d="M12 19V5m-7 7 7-7 7 7"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="chevron-right">
			<path d="m9 6 6 6-6 6"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="moon">
			<path d="M13.355 2C18.238 2.684 22 6.882 22 11.951 22 17.497 17.497 22 11.951 22 6.882 22 2.684 18.238 2 13.355a8.018 8.018 0 0 0 5.932 2.616 8.043 8.043 0 0 0 8.039-8.039A8.018 8.018 0 0 0 13.355 2Z"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="posts">
			<path d="M13 8h4v4h-4V8ZM7 8h2m-2 4h2m-2 4h10"/><path d="M21 6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6Z"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="site">
			<path d="M7.455 4C4.442 4 2 6.436 2 9.441v8.745a1.82 1.82 0 0 0 3.294 1.059L8.9 14.243a.911.911 0 0 1 1.426-.063l4.192 4.839c.518.598 1.271.981 2.063.981h2.692c.723 0 1.417-.326 1.928-.836.512-.51.799-1.202.799-1.924v-4.71c0-1.107-.44-2.168-1.224-2.95l-4.374-4.363A4.17 4.17 0 0 0 13.459 4H7.455Z"/><polyline points="18 16.01 18 16"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="sun">
			<path d="m9.321 2 .535 2m4.288 16 .535 2M3.036 6.824l1.787 1.033m14.354 8.286 1.787 1.033M2 14.679l2-.535m16-4.288 2-.535M7.857 19.177l-1.033 1.787M17.176 3.036l-1.033 1.787"/><circle cx="12" cy="12" r="4"/>
		</symbol>
	</svg>
</div>
