@use '../properties';
@use 'queries';
@use 'utils';

// Grid mixin
// generates a grid with cells of specified width

@mixin grid(
  $width,
  $height: 100%,
  $gap: properties.$space-sm,
  $strategy: auto-fill,
  $mobile-friendly: true
) {
  display: flex;
  flex-wrap: wrap;

  display: grid;
  grid-gap: $gap;
  grid-template-columns: repeat($strategy, minmax($width, 1fr));
  grid-auto-rows: minmax(max-content, auto);

  @if $mobile-friendly {
    @include queries.sm {
      grid-template-columns: none;
    }
  }

  > * {
    flex: 1 1 $width;
    @include utils.mx($gap);
    min-height: $height;
  }

  @supports (display: grid) {
    & > * {
      @include utils.mx(0);
    }
  }
}
