.grid {
  --grid-gap: var(--space-sm);
  --grid-column-width: 15rem;
  --grid-item-min-height: 100%;
  --layout-strategy: auto-fill;

  display: flex;
  flex-wrap: wrap;

  display: grid;
  grid-gap: var(--grid-gap);
  grid-template-columns: repeat(var(--layout-strategy), minmax(var(--grid-column-width), 1fr));
  grid-auto-rows: minmax(max-content, auto);
}

.grid > * {
  flex: 1 1 var(--grid-column-width);
  margin-right: var(--grid-gap);
  margin-left: var(--grid-gap);
  min-height: var(--grid-item-min-height);
}

@supports (display: grid) {
  .grid > * {
    margin-right: 0;
    margin-left: 0;
  }
}
