@use '../properties';

// Set dimensions

@mixin size($width, $height: $width) {
  height: $height;
  width: $width;
}

// Padding and Margin utilities

@mixin padding-inline($value) {
  padding-right: $value;
  padding-left: $value;
  padding-inline: $value;
}

@mixin padding-block($value) {
  padding-top: $value;
  padding-bottom: $value;
  padding-block: $value;
}

@mixin margin-inline($value) {
  margin-right: $value;
  margin-left: $value;
  margin-inline: $value;
}

@mixin margin-block($value) {
  margin-top: $value;
  margin-bottom: $value;
  margin-block: $value;
}

// Visibility

@mixin hide($hidden: true) {
  @if $hidden {
    visibility: hidden;
    display: none;
  } @else {
    visibility: visible;
    display: unset;
  }
}

// Container

@mixin container {
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: properties.$container-width;
  @include padding-inline(properties.$space-rg);
}
