@use '../variables';
@use '../properties';
@use 'queries';

// Set dimensions

@mixin size($width, $height: $width) {
  height: $height;
  width: $width;
}

// Padding and Margin utilities

@mixin px($value) {
  padding-right: $value;
  padding-left: $value;
  padding-inline: $value;
}

@mixin py($value) {
  padding-top: $value;
  padding-bottom: $value;
  padding-block: $value;
}

@mixin mx($value) {
  margin-right: $value;
  margin-left: $value;
  margin-inline: $value;
}

@mixin my($value) {
  margin-top: $value;
  margin-bottom: $value;
  margin-block: $value;
}

// Container

@mixin container {
  display: flex;
  flex-grow: 1;
  @include mx(auto);
  position: relative;
  width: 100%;
  max-width: properties.$container-width;
}

// Visibility

@mixin hide($hidden: true, $display-fallback: unset) {
  @if $hidden {
    visibility: hidden;
    display: none;
  } @else {
    visibility: visible;
    display: $display-fallback;
  }
}
