@use "../mixins";

article.wrapper-base {
	& > p:first-of-type {
		font-size: 1.25em;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		--site-icon-size: 1ch;
		a .icon {
			display: none;
			visibility: hidden;
			vertical-align: text-top;
			margin-inline-start: 0.25ch;
		}

		&:focus,
		&:hover {
			a .icon {
				display: inline-block;
				visibility: visible;
			}
		}
	}

	& > .callout,
	& > .image-container,
	& > .highlight {
		@include mixins.full-bleed;
	}

	.image-container img,
	.image-container svg {
		box-shadow: 0 0 var(--site-line-thickness-thick) var(--site-border-body);
		border-radius: var(--site-adaptive-radius-medium);
		background-color: var(--site-background-showcase);
		margin-inline: auto;
	}
}

.highlight {
	background-color: var(--site-background-showcase);
	box-shadow: 0 8px 24px var(--site-background-showcase);
	border: var(--site-line-thickness-base) solid var(--site-border-body);
	border-radius: var(--site-adaptive-radius-base);

	&:not(:last-child) {
		margin-block-end: var(--site-vgap-base);
	}

	&:focus-within {
		outline-color: var(--site-color-link-hover);
		outline-style: solid;
		outline-width: var(--site-line-thickness-thick);
		outline-offset: var(--site-line-inset-base);
	}

	&-header {
		display: flex;
		align-items: center;
		gap: 1ch;
		border-block-end: var(--site-line-thickness-base) solid var(--site-border-body);
		padding: 1ch;
		font-size: var(--site-text-small);
	}

	&-language {
		font-family: var(--site-font-mono);
		color: var(--site-color-assert);
		background-color: var(--site-background-assert);
		padding-inline: 0.75ch;
		border-radius: var(--site-radius-small);
	}

	pre {
		background-color: transparent;
		border: none;
		overflow-x: auto;

		& > code {
			display: grid;
			padding-inline: 0;
		}
	}

	.line {
		border-inline-start: var(--site-line-thickness-thick) solid transparent;
		padding-inline: 1em;

		&:is(:focus:not(:focus-visible), :hover) {
			background-color: var(--site-adaptive-background-link);
		}

		&-number {
			user-select: none;
			margin-inline-end: 1em;
			text-align: right;
			color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
		}

		&[data-highlighted] {
			background: var(--site-background-note);
			border-inline-start: 2px solid var(--color-prettylights-syntax-comment);

			.line-number {
				color: var(--color-prettylights-syntax-comment);
			}
		}

		&-prompt::before {
			margin-inline-end: 1ch;
			vertical-align: middle;
			@include mixins.mask("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m4 20 7.521-10.957M5 2h1.764a2 2 0 0 1 1.789 1.106l7.894 15.788A2 2 0 0 0 18.236 20H20'/%3E%3C/svg%3E");
			color: var(--site-color-deter);
			display: inline-block;
			user-select: none;
			inline-size: 1em;
			block-size: 1em;
		}
	}
}

.toc {
	margin-block-end: var(--site-vgap-base);
	font-weight: var(--site-font-semibold);

	&-header {
		text-transform: uppercase;
		letter-spacing: 0.025em;
		color: var(--site-color-text-c0);
		font-size: var(--site-text-small);
		margin-block-end: 1ch;
	}

	&-items {
		list-style-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%2353636e' opacity='0.8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M15 6v10c0 1.097.903 2 2 2h6'/%3E%3C/svg%3E");
		padding: 0;
	}

	&-item {
		$levels: 2 3 4 5 6;

		@each $level in $levels {
			&.toc-item-#{$level} {
				margin-inline-start: 1em;
			}
		}
	}
}

.callout {
	--callout-color: var(--site-color-text-c2);
	--callout-background: var(--site-background-note);
	--callout-radius: var(--site-adaptive-radius-medium);
	--callout-padding: var(--site-hgap-base);
	--callout-border: var(--site-line-thickness-base) solid var(--callout-border-color, var(--site-border-note));
	border: var(--callout-border);
	border-radius: var(--callout-radius);
	background: var(--callout-background);
	box-shadow: 0 8px 24px var(--callout-background);
	margin-block-end: var(--site-vgap-base);

	&-content {
		padding: var(--callout-padding);

		&:last-child {
			margin-block-end: 0;
		}
	}

	&-indicator {
		display: flex;
		align-items: center;
		padding: calc(var(--callout-padding) / 2) var(--callout-padding);
		border-block-end: var(--callout-border);
	}

	&-hint {
		color: var(--callout-color);
	}

	&-title {
		color: var(--callout-color);
		font-size: 0.9em;
		font-weight: var(--site-font-semibold);
		letter-spacing: 0.04em;
	}

	&-hint + &-title {
		margin-inline-start: calc(var(--callout-padding) / 3);
	}
}

.callout-commend {
	--callout-background: var(--site-background-commend);
	--callout-color: var(--site-color-commend);
	--callout-border-color: var(--site-border-commend);
}

.callout-warn {
	--callout-background: var(--site-background-warn);
	--callout-color: var(--site-color-warn);
	--callout-border-color: var(--site-border-warn);
}

.callout-deter {
	--callout-background: var(--site-background-deter);
	--callout-color: var(--site-color-deter);
	--callout-border-color: var(--site-border-deter);
}

.callout-assert {
	--callout-background: var(--site-background-assert);
	--callout-color: var(--site-color-assert);
	--callout-border-color: var(--site-border-assert);
}
