@use "../mixins";

.directive {

	&-postscript {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1rem;
		margin-block-start: var(--site-vgap-base);

		@include mixins.windowBase {
			grid-template-columns: max-content 3fr;
		}

		& > *:nth-child(2n + 1) {
			font-weight: var(--site-font-semibold);
			margin-block-end: 0;
		}
	}

	&-youtube {
		@include mixins.full-bleed;
		
		&-iframe-container {
			position: relative;
			padding-block-start: 25px;
			padding-block-end: 56.25%;
			height: 0;
			border: var(--site-line-thickness-base) solid var(--site-border-body);
			border-radius: var(--site-adaptive-radius-base);
		}

		&-iframe {
			position: absolute;
			inset-block-start: 0;
			inset-inline-start: 0;
			inline-size: 100%;
			block-size: 100%;
			aspect-ratio: 16/9;
			object-fit: cover;
			border-radius: inherit;
		}
	}

	&-tweet {
		background-color: var(--site-background-showcase);
		border: var(--site-line-thickness-base) solid var(--site-border-body);
		border-radius: var(--site-radius-medium);
		padding: 1em;

		&-header {
			display: flex;
			justify-content: space-between;
		}

		&-header + &-body {
			margin-block-start: 1ch;
		}

		&-author {
			display: flex;
			gap: 1ch;
			align-items: center;

			&-image {
				border-radius: var(--site-radius-round);
				border: var(--site-line-thickness-base) solid var(--site-border-body);
				inline-size: 48px;
				block-size: 48px;
			}

			&-info {
				font-size: var(--site-text-small);
			}

			&-title {
				font-weight: var(--site-font-bold);
			}
		}
	}
}
