@use "../mixins";

.brand {
	--logo-size: calc(42px + 0.5vw);
	inline-size: var(--logo-size);
	min-inline-size: var(--logo-size);
}

.menu-items {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;

	@include mixins.windowSmall {
		display: none;
	}
}

.mobile-menu-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1ch;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	padding: 1ch var(--site-hgap-base);
	backdrop-filter: blur(25px);
	max-inline-size: var(--site-width-max);
	margin-inline: auto;

	.button,
	::part(opener) {
		background-color: transparent;
		padding: 0;
		outline-color: transparent;
		border-color: transparent;
	}

	command-bar {
		line-height: 0;
	}

	@include mixins.windowBase {
		display: none;
	}
}

.showcase {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	margin-inline: 0;
	border-inline-width: var(--site-adaptive-line-thickness-base);
	border-inline-style: solid;
	border-inline-color: var(--site-border-body);
	border-image: linear-gradient(to bottom, transparent 0%, var(--site-border-body) 6% 94%, transparent 100%) 1;

	@include mixins.windowSmall {
		margin-inline: calc(-1 * var(--site-hgap-base));
	}

	& > * {
		flex: 1 1 100%;

		&:not(:first-child) {
			border-block-start: var(--site-line-thickness-base) solid var(--site-border-body);
		}
	}
}

.action {
	margin-block-start: var(--site-vgap-medium);

	&-items {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1ch;
	}
}

.header {
	padding-block: var(--site-vgap-medium);

	.navbar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: var(--site-font-semibold);

		&-items {
			display: flex;
			align-items: center;
			gap: 1em;
		}

		&-main {
			display: flex;
			align-items: center;
			gap: 0.5ch;

			.icon {
				stroke: var(--site-color-text-c0);
			}
		}

		.chip {
			font-weight: var(--site-font-bold);
			
			&::first-letter {
				text-transform: uppercase;
			}
		}
	}
}

.hero {
	margin-block-end: var(--site-vgap-medium);

	.subheadline.conditionally-centered {
		display: inline-flex;
		align-items: center;
		justify-content: var(--site-adaptive-justify-center);
		gap: 1ch;
	}

	.post-metadata {
		display: flex;
		flex-direction: column;
		align-items: var(--site-adaptive-justify-center);
		text-align: var(--site-adaptive-align-center);
		gap: var(--site-vgap-base);

		.metadata > *:not(:last-child, :only-child)::after {
			@include mixins.mask("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='15' r='1'/%3E%3C/svg%3E");
			display: inline-block;
			inline-size: 1em;
			block-size: 1em;
			margin-inline-start: 0.5ch;
			color: var(--site-color-text-c0);
		}
	}

	.profile-metadata {
		display: flex;
		align-items: center;
		justify-content: var(--site-adaptive-justify-center);
		gap: 2ch;

		img {
			--hero-image-size: calc(48px + 4vw);
			inline-size: var(--hero-image-size);
			min-inline-size: var(--hero-image-size);
			border-radius: var(--site-radius-round);
			box-shadow: 0 0 2rem var(--site-border-body);
		}
	}
}

.glitch {
	display: grid;
  place-content: center;
	
	#content {
		justify-items: center;
	}

	.image-container {
		--glitch-image-size: 15rem;
		inline-size: var(--glitch-image-size);
		block-size: var(--glitch-image-size);

		img {
			filter: drop-shadow(0 0 5rem var(--site-border-deter));

			@media (prefers-reduced-motion: no-preference) {
				animation: flicker 5s linear infinite;
			}
		}
	}
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
		opacity: .99;
		
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.4;
	}
}

.footer {
	position: sticky;
	top: 100vh;
	padding-block: var(--site-vgap-large);

	&-container {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		gap: 2rem;

		@include mixins.windowBase {
			flex-direction: row;
			
			& > * {
				flex-basis: 50%;
			}
		}

		& > * {
			display: flex;
			flex-direction: column;
		}
	}

	&-primary {
		gap: 5rem;
	}

	&-secondary {
		align-items: start;
		gap: 1rem;
		font-size: var(--site-text-small);
		inline-size: 100%;

		@include mixins.windowBase {
			align-items: flex-end;
		}
	}

	&-links,
	&-rss a {
		display: inline-flex;
		align-items: center;
		gap: 1ch;
	}
}
