---
import Layout from "~layouts/Layout.astro";

const pageInfo = {
	hint: "Not found",
	title: "404 Not found",
	description: "Page not found",
	url: Astro.url.pathname
};
---

<Layout {pageInfo} class="main glitch">
	<div class="glitch-container">
		<img src="/images/remix/remix-glitch.svg" alt="glitchy logo">
	</div>
	<div class="subheadline">
		<noscript>This page is missing. <a href="/">Take me home</a>.</noscript>
	</div>
</Layout>

<script>
	export class Random404Messages extends HTMLElement {
		static tagName = "random-404-messages";
	
		static #messages = [
			`This page is missing.`,
			`There’s nothing here.`,
			`This link is broken.`,
		];
	
		connectedCallback() {
			this.textContent = Random404Messages.#messages[Math.floor(Math.random() * Random404Messages.#messages.length)];
		}
	}
	
	customElements.define(Random404Messages.tagName, Random404Messages);

	let headline = document.querySelector(".glitch .subheadline");
	headline.innerHTML = `<random-404-messages></random-404-messages>
		<a href="/">Take me home</a>, or <button onclick="document.dispatchEvent(new Event('opensearch'))">search</button> what you're looking for.`;
</script>
