---
import Layout from "~layouts/MinimalLayout.astro";
import CommandBar from "~components/CommandBar.astro";

const pageInfo = {
	title: "Page not found",
	url: Astro.url.pathname
};
---
<Layout {pageInfo} class="glitch">
	<section>
		<img src="/favicon.svg" alt="glitchy logo" class="brand">
		<random-message selector="p">
			<p>This page is not available.</p>
			<p hidden>There is nothing here.</p>
			<p hidden>This link does not exist.</p>
		</random-message>
		<p><a href="/">Browse to home</a></p>
		<CommandBar hrefText="Search what you were looking for"/>
	</section>
</Layout>
