---
import { getEntry, render } from "astro:content";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

const profile = await getEntry("profile", "about");
const { data } = profile;
const { Content } = await render(profile);

const name = data.title.split(" ")[0];

const pageInfo = {
	title: "About",
	description: data.description,
	type: "profile",
	url: Astro.url.pathname
};
---

<Layout {pageInfo}>
	<Fragment slot="hero">
		<nav class="hero-header breadcrumb" aria-label="breadcrumbs">
			<a class="breadcrumb-item" href="/">Home</a>
			<span class="breadcrumb-item">Profile</span>
		</nav>
		<div class="hero-body">
			<Image src={data.avatar} alt={data.title} class="avatar"/>
			<hgroup>
				<h1>About {name}</h1>
			</hgroup>
		</div>
	</Fragment>
	<article class="content">
		<Content/>
	</article>
</Layout>
