---
import { getEntry, render } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { PageType } from "../modules/schema/defs.js";

const profile = await getEntry("profile", "about");
const { data } = profile;
const { Content } = await render(profile);

const pageInfo = {
	title: "About",
	description: data.description,
	type: PageType.profile.id,
	url: Astro.url.pathname
};
---

<Layout {pageInfo} class="popout">
	<Fragment slot="hero">
		<div class="hero-body">
			<hgroup>
				<h1>About</h1>
			</hgroup>
		</div>
	</Fragment>
	<article class="post">
		<Content/>
	</article>
	<script>
		import "../modules/audio-player/index.js";
	</script>
</Layout>
