---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PostCard from "../components/PostCard.astro";
import NoteCard from "../components/NoteCard.astro";
import Icon from "../components/Icon.astro";
import siteInfo, { paginationPathname } from "../modules/website/index.js";
import { compare } from "../modules/datetime/index.js";
import { PostType, Status } from "../modules/schema/defs.js";

const posts = (await getCollection("post"))
	.filter(post => post.data.state !== Status.outdated.id)
	.sort((p1, p2) => compare(p1.data.date, p2.data.date))
	.slice(0, siteInfo.maxPageItems);

const pageInfo = {
	title: "Home",
	description: siteInfo.description,
	url: Astro.url.pathname
};
---

<Layout {pageInfo} class="popout">
	<div slot="hero" class="hero-body">
		<hgroup>
			<h1>Hi, I&CloseCurlyQuote;m Naiyer</h1>
			<p>Book lover, software engineer, and a fellow web wanderer</p>
		</hgroup>
	</div>
	{posts.map(entry => entry.data.type === PostType.note.id ? <NoteCard {entry} /> : <PostCard {entry} />)}
	<div slot="sidekick" class="sidekick-items">
		<a href={paginationPathname("posts", 2)} class="button-link">more posts<Icon name="arrow-right"/></a>
	</div>
</Layout>
