---
import Icon from "./Icon.astro";
import { pageInfoSchema } from "~schema";

const pageInfo = pageInfoSchema.parse(Astro.props.pageInfo);
---

<div class="edit-panel">
	<a href={pageInfo.source} class="button-link with-icon-ltr" rel="noopener noreferrer">
		<Icon name="edit-line"/> Edit this post
	</a>
</div>
