---
import Icon from "./Icon.astro";
import { pageInfoSchema } from "../modules/schema/index.js";

const pageInfo = pageInfoSchema.parse(Astro.props.pageInfo);
---

<div class="action-panel">
	<a href={pageInfo.source} rel="noopener noreferrer" class="icon-link-start">
		<Icon name="edit"/>Edit this post
	</a>
</div>
