---
import Icon from "./Icon.astro";
---

<command-bar>
	<button type="button" role="switch" aria-live="polite" aria-checked="true" aria-label="Launch command bar" class="nav-item" data-cmdb-switch>
		<Icon name="magnifying-glass"/>
	</button>
	<dialog aria-live="polite" aria-label="Command bar" id="cmdb">
		<header>
			<input placeholder="Search..." aria-keyshortcuts="ctrl+k" autofocus>
			<button type="reset" aria-live="polite" aria-label="Reset search" data-cmdb-reset>
				<Icon name="twist-left-down"/>
			</button>
			<button type="button" aria-live="polite" aria-label="Close command bar" data-cmdb-esc>
				<Icon name="x"/>
			</button>
		</header>
		<div id="commands" tabindex="-1"></div>
		<footer>
			<span><kbd>tab</kbd> next</span>
			<span><kbd><kbd>shift</kbd>+<kbd>tab</kbd></kbd> back</span>
			<span><kbd>enter</kbd> to visit</span>
			<span><kbd>esc</kbd> to dismiss</span>
		</footer>
	</dialog>
</command-bar>
