<div style="display:none">
	<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
		<symbol viewBox="0 0 24 24" id="x2-arrow-left">
			<path d="m11 5-8 7 8 7m10-7H3"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-arrow-right">
			<path d="m13 5 8 7-8 7M3 12h18"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-back-to-top">
			<path d="M8.483 5.518 12 2l3.517 3.518M12 2v11.725m5.863-5.862c3.216 3.216 3.216 8.508 0 11.725-3.217 3.216-8.509 3.216-11.726 0-3.216-3.217-3.216-8.509 0-11.725"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-beacon">
			<circle cx="12" cy="12" r="11" opacity=".33"/><circle cx="12" cy="12" r="6" opacity=".66"/><circle cx="12" cy="12" r="1"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-calendar">
			<path d="M8 3v2m8-2v2M3 9h18"/><rect width="18" height="16" x="3" y="5" rx="2" ry="2"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-calendar-edit">
			<path d="M17.414 13.61a2.1 2.1 0 0 1 1.485-.616A2.12 2.12 0 0 1 21 15.095c0 .556-.222 1.091-.616 1.485l-3.987 3.917-3.403.503.503-3.403zM8 3v2m8-2v2M3 9h18m0 0V7c0-1.097-.903-2-2-2H5c-1.097 0-2 .903-2 2v12c0 1.097.903 2 2 2h4"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-callout-note">
			<path d="M12 8h.01M12 12v4"/><circle cx="12" cy="12" r="10"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-callout-commend">
			<path d="m8 12 2.7 2.7L16 9.3"/><circle cx="12" cy="12" r="10"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-callout-assert">
			<circle cx="19" cy="5" r="3"/><path d="M20 11.929V15c0 1.656-1.344 3-3 3h-3l-6 4v-4H5c-1.656 0-3-1.344-3-3V7c0-1.656 1.344-3 3-3h7.071"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-callout-warn">
			<path d="M12 9v4m0 4h.01M8.681 4.082C9.351 2.797 10.621 2 12 2s2.649.797 3.319 2.082l6.203 11.904a4.28 4.28 0 0 1-.046 4.019C20.793 21.241 19.549 22 18.203 22H5.797c-1.346 0-2.59-.759-3.273-1.995a4.28 4.28 0 0 1-.046-4.019L8.681 4.082Z"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-callout-deter">
			<path d="M12 12s-5.6 4.6-3.6 8c1.6 2.6 5.7 2.7 7.2 0 2-3.7-3.6-8-3.6-8Z"/><path d="M13.004 2 8.5 9 6.001 6s-4.268 7.206-1.629 11.8c3.016 5.5 11.964 5.7 15.08 0C23.876 10 13.004 2 13.004 2Z"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-clock">
			<circle cx="12" cy="12" r="10"/><path d="M12 6v6l4 2"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-edit">
			<path d="M2 7v11c0 1.061.421 2.078 1.172 2.828A4 4 0 0 0 6 22h13"/><path d="M18.232 2.756A2.14 2.14 0 0 1 19.866 2C21.037 2 22 2.957 22 4.119c0 .631-.284 1.23-.773 1.632L11.118 15.86 7 16.983l1.123-4.118zm-1.498 1.497 2.996 2.996"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-github">
			<path d="M10 20.568c-3.429 1.157-6.286 0-8-3.568"/><path d="M17.07 22v-2a4.6 4.6 0 0 0-1.061-3.5c3.198-.634 5.696-2.038 5.971-5.5.131-1.638-.393-3.635-1.29-5.01.297-1.15.526-2.84.229-3.99 0 0-1.061 0-3.183 1.5-2.801-.5-5.687-.5-8.488 0C7.126 2 6.065 2 6.065 2c-.318 1.15-.036 2.873.283 4.023C5.117 7.538 4.814 9.765 5.004 11c.569 3.689 2.929 4.911 6.066 5.5a4.6 4.6 0 0 0-.902 1.65c-.18.6-.233 1.23-.159 1.85v2"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-hackernews">
			<rect width="20" height="20" x="2" y="2" rx="2"/><path d="m8 6 4 7 4-7m-4 7v5"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-link">
			<path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/><path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-linkedin">
			<path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6M2 9h4v12H2z"/><circle cx="4" cy="4" r="2"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-magnifying-glass">
			<circle cx="10.5" cy="10.5" r="7.5"/><path d="m16 16 5 5"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-mail">
			<circle cx="16.5" cy="7.5" r="2.2"/><path d="M18.7 7.5v.55c0 .905.745 1.65 1.65 1.65S22 8.955 22 8.05V7.5C22 4.483 19.517 2 16.5 2S11 4.483 11 7.5s2.483 5.5 5.5 5.5"/><path d="M21.939 13.47C21.4 17.705 17.377 21 12.5 21c-1.573 0-3.057-.343-4.364-.949L2 22l2.574-4.815C3.579 15.841 3 14.231 3 12.5c0-2.948 1.681-5.547 4.231-7.072"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-mastodon">
			<path d="M19.479 15.616C17.436 17.574 12 17.422 12 17.422a21 21 0 0 1-3.699-.284q1.902 3.308 10.105 2.75c-2.188 2.236-15.298 5.841-15.377-8.485L3 10.121c0-3.373.026-4.572 1.521-6.259C6.401 1.74 12 2.011 12 2.011s5.599-.27 7.479 1.852C20.974 5.55 21 6.749 21 10.122s-.513 4.527-1.521 5.494"/><path d="M12 11.204V8.278C12 7.02 10.855 6 9.75 6S7.5 7.02 7.5 8.278V13M12 8.278C12 7.02 13.145 6 14.25 6s2.25 1.02 2.25 2.278V13"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-moon">
			<path d="M12.617 2.019C17.849 2.338 22 6.688 22 12c0 5.519-4.481 10-10 10-5.312 0-9.662-4.151-9.981-9.383A7.48 7.48 0 0 0 7.5 15c4.139 0 7.5-3.361 7.5-7.5a7.48 7.48 0 0 0-2.383-5.481"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-reddit">
			<circle cx="8.75" cy="13.25" r=".75"/><circle cx="15.25" cy="13.25" r=".75"/><circle cx="18" cy="4" r="2"/><path d="M15.708 17c-1.072 1.199-3.11 1.278-3.708 1.278S9.346 18.18 8.292 17"/><path d="M22 12.177c0-1.357-.984-2.458-2.197-2.458-.597 0-1.125.256-1.511.688C16.798 9.208 14.097 8.323 12 8.323s-4.78.846-6.292 2.084c-.386-.412-.931-.688-1.511-.688C2.984 9.719 2 10.82 2 12.177c0 1.003.527 1.848 1.301 2.241-.036.236-.141 7.603 8.717 7.57 8.766-.033 8.752-7.314 8.717-7.55.72-.393 1.265-1.258 1.265-2.261M12 8.323l1.005-6.311L16 3.058"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-reset">
			<path d="M9.375 13.75 5 9.375 9.375 5"/><path d="M5 9.375h9.188c2.64 0 4.812 2.172 4.812 4.812C19 16.828 16.828 19 14.188 19h-3.063"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-share">
			<circle cx="18" cy="5" r="3"/><circle cx="6" cy="12" r="3"/><circle cx="18" cy="19" r="3"/><path d="m15.4 6.5-6.8 4m6.8 7-6.8-4"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-sun">
			<circle cx="12" cy="12" r="4.5"/><path d="m16.142 2-.889 2.146M8.747 19.854 7.858 22M2 7.858l2.146.889m15.708 6.506 2.146.889M7.858 2l.889 2.146m6.506 15.708L16.142 22M2 16.142l2.146-.889m15.708-6.506L22 7.858"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x2-x">
			<path d="m6 6 12 12M6 18 18 6"/>
		</symbol>
	</svg>
</div>
