<div style="display:none">
	<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
		<symbol viewBox="0 0 24 24" id="x4-back-to-top">
			<path d="m12 3 7.899 16.551c.204.427.092.945-.268 1.238a.92.92 0 0 1-1.212-.033L12 14.946l-6.419 5.81a.92.92 0 0 1-1.212.033 1.03 1.03 0 0 1-.268-1.238z"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-callout-note">
			<path d="M12 8h.01M12 12v4"/><circle cx="12" cy="12" r="10"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-callout-commend">
			<path d="M17 3.338A9.95 9.95 0 0 0 12 2C6.477 2 2 6.477 2 12s4.477 10 10 10 10-4.477 10-10a10 10 0 0 0-.2-2"/><path d="m8.998 11.003 3 3s2.397-3.2 4.762-5.393c2.063-1.914 5.238-3.607 5.238-3.607"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-callout-assert">
			<circle cx="18" cy="6" r="3"/><path d="M19.269 12.885A14 14 0 0 0 21 16.361 25.4 25.4 0 0 1 12 18c-3.17 0-6.204-.58-9-1.639A13.84 13.84 0 0 0 5.439 8.5C5.474 4.924 8.424 2.001 12 2q.127 0 .252.005"/><path d="M15.988 17.689A4 4 0 0 1 12 22a4 4 0 0 1-3.988-4.311"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-callout-warn">
			<path d="m21.73 18-8-14a2 2 0 0 0-3.48 0l-8 14A2 2 0 0 0 4 21h16a2 2 0 0 0 1.73-3M12 9v4m0 4h.01"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-callout-deter">
			<path d="M11.995 8v4m0 4h.01m-9.419.726A2 2 0 0 1 2 15.312V8.688a2 2 0 0 1 .586-1.414l4.688-4.688A2 2 0 0 1 8.688 2h6.624a2 2 0 0 1 1.414.586l4.688 4.688A2 2 0 0 1 22 8.688v6.624a2 2 0 0 1-.586 1.414l-4.688 4.688a2 2 0 0 1-1.414.586H8.688a2 2 0 0 1-1.414-.586z"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-circle-play">
			<circle cx="12" cy="12" r="10"/><path d="m10 8 6 4-6 4z"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-circle-stop">
			<circle cx="12" cy="12" r="10"/><rect width="6" height="6" x="9" y="9" rx="1"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-github">
			<path d="M10 20.568c-3.429 1.157-6.286 0-8-3.568"/><path d="M17.07 22v-2a4.6 4.6 0 0 0-1.061-3.5c3.198-.634 5.696-2.038 5.971-5.5.131-1.638-.393-3.635-1.29-5.01.297-1.15.526-2.84.229-3.99 0 0-1.061 0-3.183 1.5-2.801-.5-5.687-.5-8.488 0C7.126 2 6.065 2 6.065 2c-.318 1.15-.036 2.873.283 4.023C5.117 7.538 4.814 9.765 5.004 11c.569 3.689 2.929 4.911 6.066 5.5a4.6 4.6 0 0 0-.902 1.65c-.18.6-.233 1.23-.159 1.85v2"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-hackernews">
			<rect width="20" height="20" x="2" y="2" rx="2"/><path d="m8 6 4 7 4-7m-4 7v5"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-home">
			<circle cx="12" cy="14" r="3"/><path d="m2 12 10-9 10 9"/><path d="M20 10.186v8.803a2.01 2.01 0 0 1-1.997 2l-12 .024-.003.001c-1.097 0-2-.903-2-2v-8.828"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-link">
			<path d="M5 11h16m-8-8v16m5.657-2.343L7.343 5.343m5.647 5.667 5.667-5.667M3 21l6.021-6.021"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-linkedin">
			<path d="M7.263 10.105v6.632m3.79-3.79v3.79m0-3.79a2.856 2.856 0 0 1 2.842-2.842 2.856 2.856 0 0 1 2.842 2.842v3.79M7.271 7.263h-.009"/><rect width="20" height="20" x="2" y="2" rx="4" ry="4"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-magnifying-glass">
			<circle cx="10.5" cy="10.5" r="7.5"/><path d="m16 16 5 5"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-mail">
			<circle cx="16.5" cy="7.5" r="2.2"/><path d="M18.7 7.5v.55c0 .905.745 1.65 1.65 1.65S22 8.955 22 8.05V7.5C22 4.483 19.517 2 16.5 2S11 4.483 11 7.5s2.483 5.5 5.5 5.5"/><path d="M21.939 13.47C21.4 17.705 17.377 21 12.5 21c-1.573 0-3.057-.343-4.364-.949L2 22l2.574-4.815C3.579 15.841 3 14.231 3 12.5c0-2.948 1.681-5.547 4.231-7.072"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-mastodon">
			<path d="M18.406 19.888c-1.612 1.648-9.79 4.011-13.962-.587C3.135 17.858 2.994 15.442 3 11"/><path d="M21 7.941v3.118A5.944 5.944 0 0 1 15.059 17H8.941A5.944 5.944 0 0 1 3 11.059V7.941A5.944 5.944 0 0 1 8.941 2h6.118A5.944 5.944 0 0 1 21 7.941"/><path d="M12 11.204V8.278C12 7.02 10.855 6 9.75 6S7.5 7.02 7.5 8.278V13M12 8.278C12 7.02 13.145 6 14.25 6s2.25 1.02 2.25 2.278V13"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-moon">
			<path d="M11.392 2.01c-5.232.319-9.383 4.669-9.383 9.981 0 5.519 4.481 10 10 10 5.312 0 9.662-4.151 9.981-9.383a7.5 7.5 0 0 1-5.481 2.383 7.504 7.504 0 0 1-7.5-7.5 7.5 7.5 0 0 1 2.383-5.481"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-planet">
			<path d="M16.843 6.799c2.825-.549 4.888-.368 5.298.622.675 1.631-3.349 4.825-8.939 7.102s-10.667 2.93-11.343 1.299c-.417-.986.957-2.545 3.306-4.172"/><path d="M9.478 5.533a7.003 7.003 0 0 1 9.146 3.788 7.003 7.003 0 0 1-3.788 9.146 7.003 7.003 0 0 1-9.146-3.788 7.003 7.003 0 0 1 3.788-9.146"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-posts">
			<path d="M15 6h6m-6 5h6M3 16h18M3 21h18M3 11l3.553-7.724a.5.5 0 0 1 .894 0L11 11M3.92 9h6.16"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-reddit">
			<circle cx="8.75" cy="13.25" r=".75"/><circle cx="15.25" cy="13.25" r=".75"/><circle cx="18" cy="4" r="2"/><path d="M15.708 17c-1.072 1.199-3.11 1.278-3.708 1.278S9.346 18.18 8.292 17"/><path d="M22 12.177c0-1.357-.984-2.458-2.197-2.458-.597 0-1.125.256-1.511.688C16.798 9.208 14.097 8.323 12 8.323s-4.78.846-6.292 2.084c-.386-.412-.931-.688-1.511-.688C2.984 9.719 2 10.82 2 12.177c0 1.003.527 1.848 1.301 2.241-.036.236-.141 7.603 8.717 7.57 8.766-.033 8.752-7.314 8.717-7.55.72-.393 1.265-1.258 1.265-2.261M12 8.323l1.005-6.311L16 3.058"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-rss">
			<path d="M4 11a9 9 0 0 1 9 9M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-share">
			<path d="M21 13v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-7m3-5 6-6 6 6m-6 6V2"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-twist-left-down">
			<path d="m4 10.189 13.64-2.398a2.02 2.02 0 0 1 1.848.639c.464.518.627 1.238.43 1.905L17.071 20"/><path d="M10.201 14.525 4 10.189 8.342 4"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-twist-right-up">
			<path d="M20 13.811 6.36 16.209a2.02 2.02 0 0 1-1.848-.639 2 2 0 0 1-.43-1.905L6.929 4"/><path d="M13.799 9.475 20 13.811 15.658 20"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-sun">
			<circle cx="12" cy="12" r="5"/><path d="M12 1v2m0 18v2M1 12h2m18 0h2M4.929 4.929l.707.707m12.728 12.728.707.707m-14.142 0 .707-.707M18.364 5.636l.707-.707"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x4-x">
			<path d="m6 6 12 12M6 18 18 6"/>
		</symbol>
	</svg>
</div>
