<div style="display:none">
	<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
		<symbol viewBox="0 0 24 24" id="arrow-left">
			<path d="m12 6-6 6 6 6m-6-6h12"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="arrow-right">
			<path d="M6 12h12m-6-6 6 6-6 6"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="arrow-right-long">
			<path d="M3 12h18m-6-6 6 6-6 6"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="arrow-up">
			<path d="M12 19V5m-7 7 7-7 7 7"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="chevron-right">
			<path d="m9 6 6 6-6 6"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="circle-dot">
			<circle cx="12" cy="12" r="11" opacity="0.3" fill="currentColor"/><circle cx="12" cy="12" r="2" fill="currentColor"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="edit-line">
			<path d="M16.404 3.637a2.107 2.107 0 0 1 1.49-.617c1.155 0 2.106.95 2.106 2.106 0 .558-.222 1.094-.617 1.489L6.972 19.027 3 20.02l.993-3.972L16.404 3.637ZM12 21h9"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="green-energy">
			<path d="M21.168 8A10.003 10.003 0 0 0 12 2C7.9 2 4.375 4.468 2.832 8"/><path d="M12 7a9.975 9.975 0 0 0-2.972 7.886A9.97 9.97 0 0 1 12 22a9.97 9.97 0 0 1 2.973-7.115A9.977 9.977 0 0 0 12 7Z" fill="currentColor" opacity=".6"/><path d="M2 12c0 5.523 4.477 10 10 10a9.972 9.972 0 0 0-2.972-7.115A9.973 9.973 0 0 0 2 12Z" fill="currentColor"/><path d="M22 12c0 5.523-4.477 10-10 10a9.972 9.972 0 0 1 2.972-7.115A9.973 9.973 0 0 1 22 12Z" fill="currentColor"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="hackernews">
			<rect x="2" y="2" width="20" height="20" rx="2"/><path d="m8 6 4 7 4-7m-4 7v5"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="link">
			<path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/>
			<path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="linkedin">
			<path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6zM2 9h4v12H2z"/><circle cx="4" cy="4" r="2"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="mail">
			<circle cx="12" cy="12" r="4"/><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-4 8"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="moon">
			<path d="M13.355 2C18.238 2.684 22 6.882 22 11.951 22 17.497 17.497 22 11.951 22 6.882 22 2.684 18.238 2 13.355a8.018 8.018 0 0 0 5.932 2.616 8.043 8.043 0 0 0 8.039-8.039A8.018 8.018 0 0 0 13.355 2Z"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="posts">
			<path d="M13 8h4v4h-4V8ZM7 8h2m-2 4h2m-2 4h10"/><path d="M21 6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6Z"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="reddit">
			<circle cx="8.75" cy="13.25" r=".75"/><circle cx="15.25" cy="13.25" r=".75"/><circle cx="18" cy="4" r="2"/><path d="M15.708 17c-1.072 1.199-3.11 1.278-3.708 1.278-.598 0-2.654-.098-3.708-1.278"/><path d="M22 12.177c0-1.357-.984-2.458-2.197-2.458-.597 0-1.125.256-1.511.688C16.798 9.208 14.097 8.323 12 8.323c-2.097 0-4.78.846-6.292 2.084-.386-.412-.931-.688-1.511-.688C2.984 9.719 2 10.82 2 12.177c0 1.003.527 1.848 1.301 2.241-.036.236-.141 7.603 8.717 7.57 8.766-.033 8.752-7.314 8.717-7.55.72-.393 1.265-1.258 1.265-2.261ZM12 8.323l1.005-6.311L16 3.058"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="rss">
			<path d="M4 11a9 9 0 0 1 9 9M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="search">
			<circle cx="10.5" cy="10.5" r="7.5"/><path d="m16 16 5 5"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="site">
			<path d="M7.455 4C4.442 4 2 6.436 2 9.441v8.745a1.82 1.82 0 0 0 3.294 1.059L8.9 14.243a.911.911 0 0 1 1.426-.063l4.192 4.839c.518.598 1.271.981 2.063.981h2.692c.723 0 1.417-.326 1.928-.836.512-.51.799-1.202.799-1.924v-4.71c0-1.107-.44-2.168-1.224-2.95l-4.374-4.363A4.17 4.17 0 0 0 13.459 4H7.455Z"/><polyline points="18 16.01 18 16"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="sun">
			<path d="m9.321 2 .535 2m4.288 16 .535 2M3.036 6.824l1.787 1.033m14.354 8.286 1.787 1.033M2 14.679l2-.535m16-4.288 2-.535M7.857 19.177l-1.033 1.787M17.176 3.036l-1.033 1.787"/><circle cx="12" cy="12" r="4"/>
		</symbol>
	</svg>
</div>
