---
import siteInfo from "~website";

const { headings, depth = 1, maxDepth = siteInfo.maxTocDepth } = Astro.props;
const currentDepth = Math.min(...headings.map(heading => heading.depth));
const toc = headings.filter(heading => (heading.depth === depth) || (heading.depth === currentDepth));
---

<ol class="toc-items">
{
	toc.map((heading, index) => {
		const nextHeading = toc[index + 1];
		const subHeadings = headings.slice(headings.indexOf(heading) + 1, headings.indexOf(nextHeading));
		const shouldRenderSubHeadings = maxDepth > heading.depth;
		return (
			<li class={"toc-item toc-item-" + heading.depth}>
				<a href={"#" + heading.slug}>{heading.text}</a>
				{shouldRenderSubHeadings && <Astro.self headings={subHeadings} depth={heading.depth + 1} />}
			</li>
		)
	})
}
</ol>
