/*! Preset v0.0.9 | MIT License */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

abbr[title] {
  text-decoration: underline dotted;
  cursor: help;
}

button,
input,
select,
optgroup,
textarea {
  margin: 0;
}

input,
textarea {
  background-color: inherit;
  color: inherit;
}

*::placeholder {
  color: inherit;
  opacity: 0.5;
}

html {
  box-sizing: border-box;
  tab-size: 2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

iframe {
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}
