@use '~/assets/styles/mixins/animate' as *;

// DISSOLVE

.dissolve-enter-to,
.dissolve-enter-active {
  @include animate(fadeInDown);
}

.dissolve-leave-to,
.dissolve-leave-active {
  @include animate(fadeOutUp);
}

.dissolve-enter,
.dissolve-leave {
  opacity: 0;
}

// SLIDE-UP

.slide-up-enter-active,
.slide-up-leave-active {
  @include animate($name: slideUp, $duration: 300ms);
}

.slide-up-enter,
.slide-up-leave-to {
  opacity: 0;
}

// ROTATE-IN-RIGHT

.rotate-in-right-enter-to,
.rotate-in-right-leave {
  @include animate(rotateInRight);
}

.rotate-in-right-enter,
.rotate-in-right-leave-to {
  opacity: 0;
}

// THEME-SWITCH

* {
  transition-property: background-color, border-color, font-weight;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;

  @media (print), (prefers-reduced-motion: reduce) {
    transition-duration: 1ms;
  }
}

* {
  transition-property: font-size;
  transition-duration: 300ms;
  transition-timing-function: ease-out;

  @media (print), (prefers-reduced-motion: reduce) {
    transition-duration: 1ms;
  }
}

a {
  transition-property: background-color, color, text-decoration-color;
  transition-duration: 300ms;

  @media (print), (prefers-reduced-motion: reduce) {
    transition-duration: 1ms;
  }
}
