<div style="display:none">
	<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
		<symbol viewBox="0 0 24 24" id="arrow-down">
			<path d="m10 15 5 5 5-5"/><path d="M4 4h7a4 4 0 0 1 4 4v12"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="arrow-left">
			<path d="m12 6-6 6 6 6m-6-6h12"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="arrow-right">
			<path d="M6 12h12m-6-6 6 6-6 6"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="arrow-right-2">
			<path d="M9 12h13m-5-5 5 5-5 5"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="arrow-up">
			<path d="M12 19V5m-7 7 7-7 7 7"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="chevron-right">
			<path d="m9 6 6 6-6 6"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="circle-dot">
			<circle cx="12" cy="12" r="8"/><circle cx="12" cy="12" r="1"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="command-key">
			<path d="M9 9H6a3 3 0 1 1 3-3v3Zm0 6v3a3 3 0 1 1-3-3h3Zm6 0h3a3 3 0 1 1-3 3v-3Zm0-6V6a3 3 0 1 1 3 3h-3ZM9 9h6v6H9V9Z"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="edit-line">
			<path d="M16.404 3.637a2.107 2.107 0 0 1 1.49-.617c1.155 0 2.106.95 2.106 2.106 0 .558-.222 1.094-.617 1.489L6.972 19.027 3 20.02l.993-3.972L16.404 3.637ZM12 21h9"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="github">
			<path d="M15.686 22s.241-2.889-.193-4.315a5.661 5.661 0 0 0-.868-1.741c3.183 0 6.366-2.231 6.366-6.135a6.257 6.257 0 0 0-1.061-3.905c.297-1.284 0-3.904 0-3.904s-1.061 0-3.183 1.673a21.767 21.767 0 0 0-8.488 0C6.137 2 5.076 2 5.076 2a8.107 8.107 0 0 0 0 3.904 6.245 6.245 0 0 0-1.061 3.905c0 3.904 3.183 6.135 6.366 6.135-.414.547-.741 1.167-.902 1.841C9.145 19.186 9.32 22 9.32 22l-.024-2.661C5.441 21.301 4.997 17 2.997 17"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="hacker-news">
			<rect x="2" y="2" width="20" height="20" rx="2"/><path d="m8 6 4 7 4-7m-4 7v5"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="link">
			<path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/>
			<path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="linkedin">
			<path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6zM2 9h4v12H2z"/><circle cx="4" cy="4" r="2"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="mail">
			<rect x="2" y="4" width="20" height="16" rx="2"/><path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="mastodon">
			<path d="M19.479 15.616C17.436 17.574 12 17.422 12 17.422a20.74 20.74 0 0 1-3.699-.284c1.268 2.205 4.635 3.122 10.105 2.75-2.188 2.236-15.298 5.841-15.377-8.485L3 10.121c0-3.373.026-4.572 1.521-6.259C6.401 1.74 12 2.011 12 2.011s5.599-.27 7.479 1.852C20.974 5.55 21 6.749 21 10.122c0 3.374-.513 4.527-1.521 5.494Z"/><path d="M12 10.961V8.453c0-1.079-.895-1.953-2-1.953s-2 .874-2 1.953V12.5m4-4.047c0-1.079.895-1.953 2-1.953s2 .874 2 1.953V12.5"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="menu">
			<path d="M3 4h18m-11 8h11M3 20h18"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="moon">
			<path d="M13.355 2C18.238 2.684 22 6.882 22 11.951 22 17.497 17.497 22 11.951 22 6.882 22 2.684 18.238 2 13.355a8.018 8.018 0 0 0 5.932 2.616 8.043 8.043 0 0 0 8.039-8.039A8.018 8.018 0 0 0 13.355 2Z"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="posts">
			<path d="M13 8h4v4h-4V8ZM7 8h2m-2 4h2m-2 4h10"/><path d="M21 6a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6Z"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="reddit">
			<circle cx="8.75" cy="13.25" r=".75"/><circle cx="15.25" cy="13.25" r=".75"/><circle cx="18" cy="4" r="2"/><path d="M15.708 17c-1.072 1.199-3.11 1.278-3.708 1.278-.598 0-2.654-.098-3.708-1.278"/><path d="M22 12.177c0-1.357-.984-2.458-2.197-2.458-.597 0-1.125.256-1.511.688C16.798 9.208 14.097 8.323 12 8.323c-2.097 0-4.78.846-6.292 2.084-.386-.412-.931-.688-1.511-.688C2.984 9.719 2 10.82 2 12.177c0 1.003.527 1.848 1.301 2.241-.036.236-.141 7.603 8.717 7.57 8.766-.033 8.752-7.314 8.717-7.55.72-.393 1.265-1.258 1.265-2.261ZM12 8.323l1.005-6.311L16 3.058"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="rss">
			<path d="M4 11a9 9 0 0 1 9 9M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="site">
			<path d="M7.455 4C4.442 4 2 6.436 2 9.441v8.745a1.82 1.82 0 0 0 3.294 1.059L8.9 14.243a.911.911 0 0 1 1.426-.063l4.192 4.839c.518.598 1.271.981 2.063.981h2.692c.723 0 1.417-.326 1.928-.836.512-.51.799-1.202.799-1.924v-4.71c0-1.107-.44-2.168-1.224-2.95l-4.374-4.363A4.17 4.17 0 0 0 13.459 4H7.455Z"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="setup">
			<path d="M17.665 3.473 13.626 7.5l2.879 2.871 4.039-4.027a5.556 5.556 0 0 1-1.16 6.181 5.626 5.626 0 0 1-6.207 1.166l-6.742 6.736A2.04 2.04 0 0 1 5.018 21a2.042 2.042 0 0 1-2.036-2.03c0-.527.206-1.035.574-1.413l6.74-6.74a5.585 5.585 0 0 1 1.17-6.187 5.595 5.595 0 0 1 6.199-1.157Z"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="sun">
			<path d="m9.321 2 .535 2m4.288 16 .535 2M3.036 6.824l1.787 1.033m14.354 8.286 1.787 1.033M2 14.679l2-.535m16-4.288 2-.535M7.857 19.177l-1.033 1.787M17.176 3.036l-1.033 1.787"/><circle cx="12" cy="12" r="4"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="undo">
			<path d="M9.375 13.75 5 9.375 9.375 5"/><path d="M5 9.375h9.188c2.64 0 4.812 2.172 4.812 4.812C19 16.828 16.828 19 14.188 19h-3.063"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x-2">
			<path d="m3 3 18 18M3 21 21 3"/>
		</symbol>
		<symbol viewBox="0 0 24 24" id="x">
			<path d="m6 6 12 12M6 18 18 6"/>
		</symbol>
		
		<symbol viewBox="0 0 24 24" id="ext-twitter">
			<path d="M8.461 20.5c8.826 0 12.008-6.729 12.008-12.291 0-.18 0-.362-.008-.542C21.922 5.803 21.842 4.885 22 3.813a8.393 8.393 0 0 1-2.683 1.018A4.227 4.227 0 0 0 16.238 3.5c-2.318 0-4.224 1.905-4.224 4.22 0 .322.036.643.109.956-3.391-.169-6.682-1.758-8.825-4.39-1.111 1.916 1.314 6.6 2.45 7.6-.247.069-.722.224-1.289.151-.581-.074-.992-.183-1.309-.437.552 1.712 2.283 3.997 5.098 4.966-1.42 1.148-3.319 1.784-5.245 1.806A7.647 7.647 0 0 1 2 18.315C3.93 19.974 6.172 20.5 8.461 20.5Z"/>
		</symbol>
	</svg>
</div>
