@use '~/assets/styles/variables';

// CHIP

.chip {
  --chip-radius: 10rem;
  --chip-padding-block: #{variables.$ch-sm / 2};
  --chip-padding-inline: #{variables.$ch-rg};
  --chip-border: 1px solid var(--border);

  display: inline-block;
  border-radius: var(--chip-radius);
  padding: var(--chip-padding-block) var(--chip-padding-inline);
  border: var(--chip-border);
  min-width: 2rem;
  text-align: center;

  &[aria-current],
  &:focus,
  &:hover {
    text-decoration: none;
  }

  &.\!high {
    --chip-background: var(--bg-accent);
    --chip-background-active: var(--bg-selected);

    background-color: var(--chip-background);

    &[aria-current],
    &:focus,
    &:hover {
      background-color: var(--chip-background-active);
    }
  }

  &.\~sm {
    --chip-padding-block: #{variables.$ch-sm};
    --chip-padding-inline: #{variables.$ch-md};

    font-size: 0.8em;
  }
}
