// SHADOW

.shadow {
  --shadow-opacity: 0.3;
  --shadow: 0 1px 3px hsl(var(--shadow-color), var(--shadow-opacity));

  box-shadow: var(--shadow);

  &.\%active {
    &:focus,
    &:hover {
      --shadow-opacity: 0.6;
    }
  }
}
