// TEXT TRANSFORMS

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

// LETTER SPACING

.tracking-widest {
  letter-spacing: 0.1em;
}

// TEXT ALIGNMENT

.text-right {
  text-align: right;
}
