:root {
	--sugar-font-sans-native: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', 'Liberation Sans', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--sugar-font-mono-native: ui-monospace, SFMono-Regular, 'Roboto Mono', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

	--sugar-decoration-sm: 0.1ex;
	--sugar-decoration-base: 0.2ex;

	--sugar-radius-sm: 6px;
	--sugar-radius-base: 12px;
}
