.theme-light {
  --rmrkbl-0: #2E3440;
  --rmrkbl-0-transparent: #2E344000;
  --rmrkbl-0-opaque: #2E3440FF;
}

.theme-dark {
  --rmrkbl-0: #252632;
  --rmrkbl-0-transparent: #25263200;
  --rmrkbl-0-opaque: #252632FF;
}
