@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../static/fonts/Inter-Regular.woff2") format("woff2"),
       url("../static/fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
  src: url("../static/fonts/Inter-Italic.woff2") format("woff2"),
       url("../static/fonts/Inter-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("../static/fonts/Inter-SemiBold.woff2") format("woff2"),
       url("../static/fonts/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
  src: url("../static/fonts/Inter-SemiBoldItalic.woff2") format("woff2"),
       url("../static/fonts/Inter-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../static/fonts/Inter-Bold.woff2") format("woff2"),
       url("../static/fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
  src: url("../static/fonts/Inter-BoldItalic.woff2") format("woff2"),
       url("../static/fonts/Inter-BoldItalic.woff") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../static/fonts/Inter-upright.var.woff2") format("woff2 supports variations(gvar)"),
       url("../static/fonts/Inter-upright.var.woff2") format("woff2-variations"),
       url("../static/fonts/Inter-upright.var.woff2") format("woff2");
}
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("../static/fonts/Inter-italic.var.woff2") format("woff2 supports variations(gvar)"),
       url("../static/fonts/Inter-italic.var.woff2") format("woff2-variations"),
       url("../static/fonts/Inter-italic.var.woff2") format("woff2");
}


/* --------------------------------------------------------------------------
[EXPERIMENTAL] Multi-axis, single variable font.

Slant axis is not yet widely supported (as of February 2019) and thus this
multi-axis single variable font is opt-in rather than the default.

When using this, you will probably need to set font-variation-settings
explicitly, e.g.

  * { font-variation-settings: "slnt" 0deg }
  .italic { font-variation-settings: "slnt" 10deg }

*/
@font-face {
  font-family: 'Inter var experimental';
  font-weight: 100 900;
  font-display: swap;
  font-style: oblique 0deg 10deg;
  src: url("../static/fonts/Inter.var.woff2") format("woff2-variations"),
       url("../static/fonts/Inter.var.woff2") format("woff2");
}

@font-face {
  font-family: 'Iosevka SS05';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url("../static/fonts/iosevka-ss05-regular.woff2") format("woff2"),
       url("../static/fonts/iosevka-ss05-regular.woff") format("woff");
}
@font-face {
  font-family: 'Iosevka SS05';
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
  src: url("../static/fonts/iosevka-ss05-bold.woff2") format("woff2"),
       url("../static/fonts/iosevka-ss05-bold.woff") format("woff");
}

:root {
  --color-primary-100: hsl(162, 39%, 61%);
  --color-primary-200: hsl(163, 38%, 56%);
  --color-primary-300: hsl(164, 37%, 50%);
  --color-primary-400: hsl(165, 48%, 44%);
  --color-primary-500: hsl(166, 67%, 37%);
  --color-primary-600: hsl(166, 65%, 34%);
  --color-primary-700: hsl(167, 64%, 31%);
  --color-primary-800: hsl(166, 62%, 28%);
  --color-primary-900: hsl(167, 60%, 25%);
  --color-primary-a100: hsl(160, 24%, 22%);
  --color-primary-a200: hsl(160, 24%, 20%);
  --color-primary-a300: hsl(166, 61%, 11%);
  --color-primary-a600: hsl(156, 33%, 97%);
  --color-primary-a700: hsl(160, 29%, 90%);
  --color-primary-a800: hsl(162, 25%, 87%);
  --color-primary-a900: hsl(164, 25%, 85%);

  --color-secondary-100: hsl(244, 19%, 85%);
  --color-secondary-200: hsl(248, 18%, 74%);
  --color-secondary-300: hsl(249, 18%, 63%);
  --color-secondary-400: hsl(249, 17%, 53%);
  --color-secondary-500: hsl(248, 22%, 43%);
  --color-secondary-600: hsl(246, 21%, 35%);
  --color-secondary-700: hsl(246, 20%, 27%);
  --color-secondary-800: hsl(246, 18%, 20%);
  --color-secondary-900: hsl(240, 15%, 13%);
  --color-secondary-a100: hsl(246, 26%, 21%);
  --color-secondary-a200: hsl(247, 16%, 11%);
  --color-secondary-a300: hsl(252, 25%, 8%);
  --color-secondary-a600: hsl(249, 17%, 92%);
  --color-secondary-a700: hsl(245, 18%, 87%);
  --color-secondary-a800: hsl(249, 20%, 80%);
  --color-secondary-a900: hsl(249, 19%, 71%);
}

@tailwind base;

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', font-sans }
}

@tailwind components;
@tailwind utilities;

.theme-light {
  --background-main: theme('colors.primary.a600');
  --background-postcard: theme('colors.primary.a600');
  --background-footer: theme('colors.white');
  --background-search: theme('colors.primary.a600');
  --background-hr: theme('colors.primary.a600');
  --background-body: theme('colors.white');
  --background-card: theme('colors.primary.a700');
  --background-code: theme('colors.primary.a700');
  --background-tag: theme('colors.primary.a700');
  --background-tag-hover: theme('colors.primary.a900');

  --content-header: theme('colors.secondary.900');
  --content-header-hover: theme('colors.secondary.500');
  --content-footer: theme('colors.secondary.700');
  --content-body: theme('colors.secondary.900');
  --content-tag: theme('colors.primary.700');
  --content-tag-hover: theme('colors.primary.900');

  scrollbar-color: light;
}

.theme-light .search-highlighted {
  background: theme('colors.primary.a700');
  color: theme('colors.primary.700');
}

.theme-light .search-hover:hover {
  background: theme('colors.primary.a900');
  color: theme('colors.primary.900');
}

.theme-dark {
  --background-main: theme('colors.secondary.a200');
  --background-postcard: theme('colors.secondary.a200');
  --background-footer: theme('colors.secondary.900');
  --background-search: theme('colors.secondary.800');
  --background-hr: theme('colors.secondary.a200');
  --background-body: theme('colors.secondary.900');
  --background-card: theme('colors.secondary.a300');
  --background-code: theme('colors.secondary.800');
  --background-tag: theme('colors.primary.a300');
  --background-tag-hover: theme('colors.primary.a200');

  --content-header: theme('colors.secondary.300');
  --content-header-hover: theme('colors.secondary.100');
  --content-footer: theme('colors.primary.a900');
  --content-body: theme('colors.primary.a800');
  --content-tag: theme('colors.primary.300');
  --content-tag-hover: theme('colors.primary.200');

  scrollbar-color: dark;
}

.theme-dark *::-webkit-scrollbar {
  background-color: theme('colors.secondary.a300') !important;
}

.theme-dark *::-webkit-scrollbar-track {
  background-color: theme('colors.secondary.a300') !important;
}

.theme-dark *::-webkit-scrollbar-thumb {
  background-color: hsl(247, 16%, 26%) !important;
}

.theme-dark *::-webkit-scrollbar-button {
  background-color: hsl(247, 16%, 16%) !important;
}

.theme-dark .search-highlighted {
  background: theme('colors.primary.a200');
  color: theme('colors.primary.200');
}

.theme-dark .search-hover:hover {
  background: theme('colors.primary.a300');
  color: theme('colors.primary.300');
}

.content-wrapper {
  overflow-x: hidden;
}

::-moz-selection { 
  background: hsla(166, 64%, 38%, 0.25); 
}

::selection { 
  background: hsla(166, 64%, 38%, 0.25);
}

a {
  @apply text-primary-500 font-medium;
}

a:hover {
  @apply text-primary-800;
}

.remarkability a:focus, .decorated-links a:focus, 
.remarkability a:hover, .decorated-links a:hover {
  text-decoration: underline;
}

nav .active {
  font-weight: bold;
}

.tag {
  @apply bg-background-tag text-content-tag z-10 rounded px-2 py-1 mr-2 text-xs;
}

.tag:hover {
  @apply bg-background-tagh text-content-tagh;
}

.card {
  @apply bg-background-card w-full overflow-hidden shadow;
}

.card-category {
  @apply tracking-wide text-xs uppercase;
}

.card-title {
  @apply my-1 font-semibold;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 1025px) {
  .container {
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .remarkability h3#table-of-contents + ul {
    position: fixed;
    text-align: right;
    font-size: 0.9rem;
    max-width: 25rem;
    bottom: 15vh;
    right: 1rem;
    z-index: 11;
  }

  .remarkability h3#table-of-contents + ul,
  .remarkability h3#table-of-contents + ul ul {
    list-style-type: none;
  }

  .remarkability h3#table-of-contents {
    visibility: hidden;
    display: none;
  }

  .remarkability h3#table-of-contents + ul:before {
    content: 'Table of Contents';
    @apply font-semibold inline-block pb-2;
  }
}
