article.wrapper-content>p:first-of-type {
	font-size: 1.25em;
}

article.wrapper-content .image-container,
article.wrapper-content .highlight,
article.wrapper-content .preview {
	max-width: 100%;
	grid-column: 1/-1;
}

article.wrapper-content .image-container img,
article.wrapper-content .image-container svg {
	border: 1px solid var(--sugar-bg-note);
	border-radius: var(--app-radius-adaptive-base);
	background-color: var(--sugar-bg-code);
	margin-inline: auto;
}

article.wrapper-content :is(h1, h2, h3, h4, h5, h6) a .icon {
	display: none;
	visibility: hidden;
	vertical-align: text-top;
	margin-inline-start: 0.25ch;
	width: min(24px, 1.3ch);
	height: min(24px, 1.3ch);
}

article.wrapper-content :is(h1, h2, h3, h4, h5, h6):focus a .icon,
article.wrapper-content :is(h1, h2, h3, h4, h5, h6):hover a .icon {
	display: inline-block;
	visibility: visible;
}
