.preview {
	margin-block-end: var(--sugar-gap-base);
}

.preview-iframe-container {
	position: relative;
	padding-block-start: 25px;
	padding-block-end: 56.25%;
	height: 0;
}

.preview-iframe {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	width: 100%;
	height: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	border: 1px solid var(--sugar-bg-note);
	border-radius: var(--app-radius-adaptive-base);
}
