@use './core/variables';
@use './helpers/queries';

// Scrollbar and selection

* {
  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    background-color: variables.$background-scrollbar;
  }

  &::-webkit-scrollbar-thumb {
    background-color: variables.$scrollbar;
  }

  scrollbar-color: variables.$scrollbar variables.$background-scrollbar;

  scroll-behavior: smooth;

  @media screen and (prefers-reduced-motion: true) { 
    scroll-behavior: auto;
  }

  &::-moz-selection { 
    background: variables.$selected;
  }
  
  &::selection { 
    background: variables.$selected;
  }
}

// External links

a {
  @if variables.$external-links {
    &[rel*='nofollow'] {
      &::after {
        content: variables.$indicator-external-link;
      }
    }
  }
}

// Set table as block

table {
  display: block;
  overflow-x: auto;
}

// Fullwidth blockquotes on phone

blockquote {
  @include queries.phone {
    margin-right: variables.$expanse-lg-neg;
    margin-left: variables.$expanse-lg-neg;
    padding-right: variables.$expanse-lg;
    padding-left: variables.$expanse-lg;
  }
}
