@use './core/variables';
@use './helpers/queries';
@use './helpers/layouts';

// SVG

svg {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  vertical-align: text-bottom;
}

// External links

a {
  @if variables.$external-links {
    &[rel*='nofollow'] {
      &::after {
        content: variables.$indicator-external-link;
      }
    }
  }
}

// Full-width blockquotes on phone

blockquote {
  @include queries.phone {
    margin-right: variables.$expanse-md-neg;
    margin-left: variables.$expanse-md-neg;
    @include layouts.hspace(variables.$expanse-md);
  }
}
