@use 'variables';
@use 'mixins/utils';
@use 'mixins/queries';

// Containers

$container-max-width: variables.$maxwidth-rg;

.container {
  max-width: $container-max-width;
  @include utils.mx(auto);
}

.layout {
  overflow-x: hidden;
  font-weight: var(--weight-regular);
}

$topics-background: var(--bg-selected);
$topics-font-size: variables.$font-xs;
$topics-gapy: variables.$ch-sm;
$topics-gapx: variables.$ch-md;
$topics-border: var(--border);
$topics-separator: variables.$symbol-separator;

.is-flex {
  display: flex;
  flex-wrap: var(--flex-wrap);
  align-items: center;
}

.topics {
  display: inline-block;
  border-radius: 5rem;
  border: 1px solid $topics-border;
  @include utils.py($topics-gapy);
  padding-right: $topics-gapy;
  padding-left: $topics-gapx;
  background-color: $topics-background;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: $topics-font-size;

  .is-next {
    margin-right: 1ch;
  }

  .is-mid {
    @include utils.mx($topics-gapx);
  }
}

// Semantics

.has-separated > *:not(:last-child)::after {
  @include utils.separator;
}

.is-bold {
  font-weight: var(--weight-bold);
}

.is-captialized {
  text-transform: capitalize;
}

.is-clickable {
  cursor: pointer;

  &:focus a,
  &:hover a {
    text-decoration: underline;
  }
}

.has-content-my {
  @include utils.my(var(--space-md));
}

.has-content-mx {
  @include utils.mx(var(--flex-gapy));
}

.label {
  display: inline-block;
  @extend .is-bold;
  background-color: var(--bg-highlighted);
  padding: 0.5em 1.25em;
  font-size: variables.$font-sm;
}

.is-header {
  @extend .is-bold;
  @include utils.heading-font;
}

.is-regular {
  font-size: variables.$font-rg;
}

.is-bordered {
  border: 1px solid var(--border);
}

.is-round {
  border-radius: 10rem;
}

.is-undecorated {
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.is-right {
  text-align: right;
}

.mt-5 {
  margin-top: 5em;
}

.mt-2 {
  margin-top: 2em;
}

.mb-2 {
  margin-bottom: 2em;
}

// Links

a {
  &[rel*='nofollow']::after {
    content: variables.$symbol-external-link;
  }

  &.active {
    font-weight: var(--weight-bold);
  }

  &.is-icon {
    display: inline-flex;
    align-items: center;
    line-height: 0;
  }
}

// Icons

.svg {
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: currentColor;
  fill-opacity: variables.$fill-opacity;
}

.icon-rg {
  @extend .svg;
  stroke-width: var(--stroke-rg);
  @include utils.size(variables.$icon-rg);
}

.icon-sm {
  @extend .svg;
  stroke-width: var(--stroke-sm);
  @include utils.size(variables.$icon-sm);
}

// Colors

.is-primary {
  color: var(--link);
  border-color: var(--link);
}

// Gap

.gap-ch {
  margin-right: variables.$ch-rg;

  &-sm {
    margin-right: variables.$ch-sm;
  }
}

// Hide utility

.hidden-sm {
  @include queries.sm {
    @include utils.hide;
  }
}

// Separator

.separator::before {
  @include utils.separator;
}
