@use 'variables';
@use 'mixins/queries';

:root {
  --base-gap: (1rem + 2vw);
}

$space-sm: calc(var(--base-gap) * 0.5) !default;
$space-rg: calc(var(--base-gap)) !default;
$space-md: calc(var(--base-gap) * 1.5) !default;
$space-lg: calc(var(--base-gap) * 2) !default;
$space-xl: calc(var(--base-gap) * 3) !default;

$nspace-rg: calc(var(--base-gap) * -1) !default;

:root {
  --container-width: 100%;
  --responsive-wrap: wrap;
  --responsive-radius: 0;
  --searchbox-gap-inline: #{$space-rg};
  --search-gap-inline: 0;
  --search-top-margin: -2rem;
  --result-border-width: 0;
  --hero-gap-block: #{$space-md};
  --metadata-gap-end: #{variables.$gap-rg};
}

@include queries.md {
  :root {
    --container-width: calc(#{variables.$breakpoint-sm} + #{variables.$container-offset});
    --responsive-wrap: nowrap;
    --responsive-radius: #{variables.$radius};
    --searchbox-gap-inline: #{$space-sm};
    --search-gap-inline: #{$space-sm};
    --search-top-margin: calc(-1.25rem - 1.125vw);
    --result-border-width: 1px;
    --hero-gap-block: #{$space-lg};
    --metadata-gap-end: 0;
  }
}

$container-width: var(--container-width) !default;
$responsive-wrap: var(--responsive-wrap) !default;
$responsive-radius: var(--responsive-radius) !default;
$searchbox-gap-inline: var(--searchbox-gap-inline) !default;
$search-gap-inline: var(--search-gap-inline) !default;
$search-top-margin: var(--search-top-margin) !default;
$result-border-width: var(--result-border-width) !default;
$hero-gap-block: var(--hero-gap-block) !default;
$metadata-gap-end: var(--metadata-gap-end) !default;
