@use 'core/theme';

// Typography

$weight-rg: var(--weight-rg) !default;
$weight-bd: var(--weight-bd) !default;

$font-xs: calc(0.75rem + 0.125vw) !default;
$font-sm: calc(0.8rem + 0.2vw) !default;
$font-rg: calc(1rem + 0.25vw) !default;
$font-md: calc(1.0625rem + 0.5vw) !default;
$font-lg: calc(1.75rem + 0.25vw) !default;
$font-xl: calc(1.5rem + 2.5vw) !default;

// Spacing

$breakpoint-sm: 600px !default;
$breakpoint-md: 900px !default;
$breakpoint-lg: 1200px !default;
$breakpoint-xl: 1800px !default;

$container-offset: 30vw !default;

$gap-xs: 0.5rem !default;
$gap-sm: 0.75rem !default;
$gap-rg: 1rem !default;
$gap-md: 1.25rem !default;
$gap-lg: 1.5rem !default;
$gap-xl: 1.75rem !default;

$ch-sm: 0.5ch !default;
$ch-rg: 1ch !default;
$ch-md: 1.5ch !default;
$separator-gap: $ch-rg !default;

$icon-sm: 1rem !default;
$icon-rg: 1.5rem !default;

$stroke-width-sm: var(--stroke-width-sm) !default;
$stroke-width-rg: var(--stroke-width-sm) !default;

$grid-sm: 15rem !default;

// Display

$radius: 0.3rem !default;

$symbol-external-link: '\02197' !default;
$symbol-reference-link: '#' !default;
$symbol-separator: '\00B7' !default;

$fill-opacity: 0.25 !default;
$separator-opacity: 0.5 !default;

// Colors

$text: var(--text) !default;
$text-muted: var(--text-muted) !default;

$link: var(--link) !default;
$link-vibrant: var(--link-vibrant) !default;

$border: var(--border) !default;
$selected: theme.fade(theme.primary(500), 0.75) !default;
$code-selected: theme.fade(theme.primary(500), 0.91) !default;

$bg-body: var(--bg-body) !default;
$bg-vibrant: var(--bg-vibrant) !default;
$bg-muted: var(--bg-muted) !default;

$bg-caution: var(--bg-caution) !default;
$bg-tip: var(--bg-tip) !default;
$bg-warning: var(--bg-warning) !default;
$bg-important: var(--bg-important) !default;

@use '../../../node_modules/@microflash/remarkability/scss/variables' with (
  $enable-selection-background: true,
  $enable-custom-scrollbar: true,
  $enable-custom-colors: true,
  $enable-custom-fonts: true,
  $enable-media-radius: true,
  $enable-block-radius: true,
  $enable-active-links: true,
  $enable-variable-fonts: true,
  $family-sans-custom: 'Inter',
  $family-code-custom: 'JetBrains Mono',
  $family-sans-variable: 'Inter var',
  $font-size-base: $font-rg,
  $weight-normal: $weight-rg,
  $weight-bold: $weight-bd,
  $background-body: $bg-body,
  $background-code: $bg-muted,
  $background-ins: $bg-muted,
  $background-mark: $bg-muted,
  $background-table: inherit,
  $background-table-even: inherit,
  $background-table-hover: $bg-vibrant,
  $background-selected: $selected,
  $background-scrollbar: $bg-vibrant,
  $border-color: $border,
  $radius: $radius,
  $text: $text,
  $text-code: inherit,
  $text-bold: inherit,
  $text-muted: $text-muted,
  $text-headings: $text,
  $text-blockquote: $text-muted,
  $link: $link,
  $link-active: $link-vibrant,
  $link-visited: $link-vibrant,
  $table-thead: inherit,
  $scrollbar: $border,
  $margin: $gap-lg
);
