@use 'core/theme';

// Typography

$weight-rg: var(--weight-rg) !default;
$weight-bd: var(--weight-bd) !default;

$font-xs: calc(0.75rem + 0.125vw) !default;
$font-sm: calc(0.8rem + 0.2vw) !default;
$font-rg: calc(1rem + 0.25vw) !default;
$font-md: calc(1.0625rem + 0.5vw) !default;
$font-lg: calc(1.75rem + 0.25vw) !default;
$font-xl: calc(1.5rem + 2.5vw) !default;

// Spacing

$breakpoint-sm: 600px !default;
$breakpoint-md: 900px !default;
$breakpoint-lg: 1200px !default;
$breakpoint-xl: 1800px !default;

$max-width-rg: calc(#{$breakpoint-sm} + 20vw) !default;

$gap-xs: 0.5rem !default;
$gap-sm: 0.75rem !default;
$gap-rg: 1rem !default;
$gap-md: 1.25rem !default;
$gap-lg: 1.5rem !default;
$gap-xl: 1.75rem !default;

$ch-sm: 0.5ch !default;
$ch-rg: 1ch !default;
$ch-md: 1.5ch !default;
$separator-gap: $ch-rg !default;

$icon-sm: 1rem !default;
$icon-rg: 1.5rem !default;

$stroke-sm: var(--stroke-sm) !default;
$stroke-rg: var(--stroke-sm) !default;

$grid-sm: 16rem !default;

// Display

$radius: 0.3rem !default;

$symbol-external-link: '\02197' !default;
$symbol-reference-link: '#' !default;
$symbol-separator: '\00B7' !default;

$fill-opacity: 0.25 !default;
$separator-opacity: 0.5 !default;

// Colors

$text: var(--text) !default;
$text-passive: var(--text-passive) !default;

$link: var(--link) !default;
$link-active: var(--link-active) !default;

$border: var(--border) !default;
$selected: theme.fade(theme.primary(500), 0.75) !default;
$code-selected: theme.fade(theme.primary(500), 0.91) !default;

$bg-body: var(--bg-body) !default;
$bg-active: var(--bg-active) !default;
$bg-passive: var(--bg-passive) !default;
$bg-caution: var(--bg-caution) !default;
$bg-tip: var(--bg-tip) !default;
$bg-warning: var(--bg-warning) !default;
$bg-important: var(--bg-important) !default;

$bg-prev: theme.fade(theme.secondary(500), 0.96) !default;
$bg-next: theme.fade(theme.secondary(600), 0.90) !default;
$bg-mid: theme.fade(theme.secondary(900), 0.92) !default;

@use '../../../node_modules/@microflash/remarkability/scss/variables' with (
  $root: 'body',
  $enable-selection-background: true,
  $enable-custom-scrollbar: true,
  $enable-custom-colors: true,
  $enable-custom-fonts: true,
  $enable-active-links: true,
  $enable-variable-fonts: true,
  $family-sans-custom: 'Inter',
  $family-code-custom: 'JetBrains Mono',
  $family-sans-variable: 'Inter var',
  $font-families: (
    'alternative': 'default-sans' 'IBM Plex Sans' 'IBM Plex Sans var'
  ),
  $font-size-base: $font-rg,
  $weight-normal: $weight-rg,
  $weight-bold: $weight-bd,
  $background-body: $bg-body,
  $background-code: $bg-passive,
  $background-ins: $bg-passive,
  $background-mark: $bg-passive,
  $background-table: inherit,
  $background-table-even: inherit,
  $background-table-hover: $bg-active,
  $background-selected: $selected,
  $background-scrollbar: $bg-active,
  $border-color: $border,
  $radius: $radius,
  $text: $text,
  $text-code: inherit,
  $text-bold: inherit,
  $text-muted: $text-passive,
  $text-headings: $text,
  $text-blockquote: $text-passive,
  $link: $link,
  $link-active: $link-active,
  $link-visited: $link-active,
  $table-thead: inherit,
  $scrollbar: $border,
  $margin: $gap-lg
);
