// Typography

$font-xs: calc(0.7rem + 0.1vw) !default;
$font-sm: calc(0.8rem + 0.2vw) !default;
$font-rg: calc(0.9rem + 0.3vw) !default;
$font-md: calc(1rem + 0.4vw) !default;
$font-lg: calc(1.2rem + 0.6vw) !default;

// Spacing

$breakpoint-sm: 600px !default;
$breakpoint-md: 900px !default;
$breakpoint-lg: 1200px !default;
$breakpoint-xl: 1800px !default;

$max-width-rg: calc(#{$breakpoint-sm} + 20vw) !default;

$gap-xs: 0.5rem !default;
$gap-sm: 0.75rem !default;
$gap-rg: 1rem !default;
$gap-md: 1.25rem !default;
$gap-lg: 1.5rem !default;
$gap-xl: 1.75rem !default;

$ch-sm: 0.5ch !default;
$ch-rg: 1ch !default;
$ch-md: 1.5ch !default;

$separator-gap: $ch-rg !default;

$grid-sm: 15rem !default;

$icon-sm: 1rem !default;
$icon-rg: 1.5rem !default;
$icon-md: 2rem !default;

// Display

$radius: 0.3rem !default;

$symbol-external-link: '\02197' !default;
$symbol-reference-link: '#' !default;
$symbol-separator: '\00B7' !default;

$fill-opacity: 0.25 !default;
$separator-opacity: 0.5 !default;

@use '@/node_modules/@microflash/remarkability/scss/variables' with (
  $root: 'body',
  $enable-selection-background: true,
  $enable-custom-scrollbar: true,
  $enable-custom-colors: true,
  $enable-custom-fonts: true,
  $enable-active-links: true,
  $enable-variable-fonts: true,
  $family-sans-custom: 'Inter',
  $family-code-custom: 'JetBrains Mono',
  $family-sans-variable: 'Inter var',
  $font-families: (
    'distinct': 'default-sans' 'Space Grotesk' 'Space Grotesk var'
  ),
  $font-size-base: $font-rg,
  $weight-normal: var(--weight-regular),
  $weight-bold: var(--weight-bold),
  $background-body: var(--bg-body),
  $background-code: var(--bg-highlight),
  $background-ins: var(--bg-highlight),
  $background-mark: var(--bg-highlight),
  $background-table: inherit,
  $background-table-even: inherit,
  $background-table-hover: var(--bg-highlight),
  $background-selected: var(--bg-selected),
  $background-scrollbar: transparent,
  $border-color: var(--border),
  $radius: $radius,
  $text: var(--text),
  $text-code: inherit,
  $text-bold: inherit,
  $text-muted: var(--text-passive),
  $text-headings: var(--text),
  $text-blockquote: var(--text-passive),
  $link: var(--link),
  $link-active: var(--link-active),
  $link-visited: var(--link-active),
  $table-thead: inherit,
  $scrollbar: var(--border),
  $margin: $gap-lg
);
