@charset 'UTF-8';

@use 'reset';
@use 'core/colors';
@use 'core/fonts';
@use 'core/variables';
@use 'core/motion';
@use 'helpers/queries';
@use 'helpers/layouts';
@use 'helpers/mixins';
@use '../../../node_modules/@microflash/remarkability/scss/remarkability.global.scss';
@use 'extensions';
@use 'syntax';

// Layout

.layout {
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex-grow: 1;
  }

  display: grid;
  grid-template-columns: 2fr 3fr;
}

@media screen and (min-width: variables.$breakpoint-md) {
  .search,
  .hero-content,
  .content,
  .article,
  .sidekick,
  .footer {
    flex-basis: 50%;
  }

  .logo,
  .menu,
  .hero-media,
  .sidebar-start {
    flex-basis: 25%;
  }

  .hero-content,
  .article {
    margin-right: 25% !important;
  }

  .content,
  .sidekick {
    margin-right: 25% !important;
    margin-left: 25% !important;
  }

  .layout {
    grid-template-columns: 1fr 2fr 1fr;
  }

  .hero-media,
  .sidebar-start {
    grid-column: 1 / 2;
  }

  .hero-content,
  .content,
  .article,
  .sidekick {
    grid-column: 2 / 3;
  }

  .footer {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: (variables.$breakpoint-md - 1)) {
  .logo {
    order: -2;
    flex-basis: 40%;
  }
  
  .menu {
    order: -1;
    flex-basis: 60%;
    text-align: right;
  }
  
  .search,
  .hero-media,
  .hero-content,
  .content,
  .sidebar-start,
  .article,
  .sidekick,
  .footer {
    flex-basis: 100%;
    grid-column: 1 / -1;
  }
}

// reset flexbox if grid is supported
@supports (display: grid) {
  .layout > * {
    flex-basis: auto;
  }
  
  .hero-content,
  .article {
    margin-right: 0 !important;
  }
  
  .content,
  .sidekick {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

// Foundational container

.container {
  flex-grow: 1;
  position: relative;
  width: auto;
  padding: variables.$expanse-md;
}

// Logo

.logo {
  @include layouts.flex($justify: flex-start);
  @include layouts.vspace(variables.$expanse-md);
  padding-left: variables.$expanse-md;
  background-color: variables.$background-pronounced;

  .brand {
    line-height: 0;
    width: calc(10rem + 4vw);
  }
}

// Search

.search {
  @include layouts.flex($justify: flex-start);
  @include layouts.vspace(variables.$expanse-md);
  background-color: variables.$background-pronounced;
  font-size: variables.$font-size-sm;

  @include queries.within-tab-landscape {
    margin-top: -1rem;
    padding-top: 0;
    @include layouts.hspace(variables.$expanse-md);
  }
}

.search-container {
  position: relative;

  @include queries.within-tab-landscape {
    width: 100%;
    margin-top: variables.$gap;
  }
}

.search-box, .results-container {
  display: flex;
  background-color: variables.$background-muted;
  border-radius: variables.$radius;
  width: 50vw;
  
  @include queries.within-tab-landscape {
    width: 100%;
  }
}

.search-box {
  position: relative;
  align-items: center;
  @include layouts.vspace(variables.$gap-xs);
  @include layouts.hspace(variables.$gap-rg);
  border: 1.5px solid variables.$border;

  .search-input {
    outline: none;
    border: none;
    flex: 1;
  }

  .icon-search,
  .icon-clear {
    color: variables.$link;
  }

  &:focus,
  &:hover {
    border-color: variables.$border-active;

    .icon-search,
    .icon-clear {
      color: variables.$link-hover;
    }
  }
}

.results-container {
  position: absolute;
  overflow: hidden;
  border: 1.5px solid variables.$border-active;
  max-height: 75vh;
  z-index: 5;
}

.search-results {
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: inherit;

  .search-result {
    cursor: pointer;
    text-decoration: none;
    border-top: 1px solid variables.$border;
    padding: variables.$gap-rg;
  }

  .search-result-title,
  .search-result-excerpt {
    display: inline-block;
  }

  .results-label {
    @include layouts.hspace(variables.$gap-rg);
    @include layouts.vspace(variables.$gap-xs);
    color: variables.$text-muted;
  }

  .search-result-title {
    color: variables.$text;
  }

  .search-result-excerpt {
    font-size: variables.$font-size-sm;
    color: variables.$text-muted;
  }

  .search-result:focus,
  .search-result:hover {
    background-color: variables.$background-pronounced;

    .search-result-title {
      color: variables.$link-hover;
    }
  
    .search-result-excerpt {
      color: variables.$color-pronounced;
    }
  }
}

// remove borders when results get displayed
.remove-bottom-border {
  border-color: variables.$border-active;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-width: 0.5px;
}

.remove-top-border {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-width: 0.5px;
}

// Menu

.menu {
  @include layouts.flex($justify: flex-end);
  @include layouts.vspace(variables.$expanse-md);
  padding-right: variables.$expanse-md;
  background-color: variables.$background-pronounced;
  font-size: variables.$font-size-sm;

  & > a {
    margin-left: variables.$gap-rg;
  }
}

.expandable-menu {
  display: block;
  position: absolute;
  z-index: 5;
  background-color: variables.$background-muted;
  border: 1.5px solid variables.$border;
  border-radius: variables.$radius;
  visibility: visible;
  top: calc(3.75rem + 2.5vw);
  min-width: calc(5rem + 4vw);

  & > * {
    display: block;
    text-align: right;
    @include layouts.vspace(variables.$gap-xs);
    @include layouts.hspace(variables.$gap-sm);
    border-top: 1px solid variables.$border;

    &:first-child {
      border-top: none;
    }

    &:focus,
    &:hover {
      background-color: variables.$background-pronounced;
    }
  }
}

// Hero

.hero-media,
.hero-content {
  @include layouts.vspace(variables.$expanse-md);
}

$hero-media-size: calc(5rem + 10vw);

.hero-media {
  @include layouts.flex($justify: flex-end);
  @include layouts.hspace(variables.$expanse-md);

  @include queries.within-tab-landscape {
    justify-content: flex-start;
  }
}

.hero-image {
  @include layouts.flex;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath fill='%233c8c75' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 4px 4px;
  height: $hero-media-size;
  width: $hero-media-size;
}

.hero-content {
  @include layouts.flex($align: flex-start);
  flex-direction: column;

  @include queries.within-tab-landscape {
    @include layouts.hspace(variables.$expanse-md);
    padding-top: 0;
  }
}

// Metadata

.metadata {
  @include layouts.flex($justify: flex-start);
  font-size: variables.$font-size-sm;

  & > * {
    margin-bottom: variables.$gap-xs;
  }
}

.metadata-author {
  @include layouts.flex($justify: flex-start);

  img { 
    height: variables.$gfx-rg;
    width: variables.$gfx-rg;
    border-radius: 50%;
    margin-right: variables.$gap-xs;
  }
}

$label-size: calc(1.75em + 3vw);

.metadata-labels {
  @include layouts.flex;

  .label {
    max-height: $label-size;
    max-width: $label-size;
    padding: 0.3em;
  }
}

.metadata-media {
  height: 65%;
  width: 65%;
  border-radius: 100%;
}

// Post

.content {
  @include layouts.vspace(variables.$expanse-md);

  @include queries.within-tab-landscape {
    padding-top: 0;
    @include layouts.hspace(variables.$expanse-md);
  }
}

.post {
  margin-bottom: variables.$expanse-md;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    text-decoration: none;

    &:focus,
    &:hover {

      .post-title {
        color: inherit;
      }

      .post-description {
        color: variables.$text;
      }
    }
  }

  .post-metadata,
  .post-description {
    font-size: variables.$font-size-sm;
  }

  .post-metadata {
    display: inline-flex;
    align-items: center;
    margin-bottom: variables.$gap-xs;

    .label {
      height: variables.$gap-rg;
      width: variables.$gap-rg;
      margin-right: variables.$gap-xs;
    }
  }

  .post-title {
    font-size: variables.$font-size-md;
    color: variables.$link;
  }

  .post-description {
    color: variables.$text-muted;
  }
}

// Sidekick

.sidekick {
  @include layouts.flex($align: flex-start, $justify: flex-start);
  flex-direction: column;
  @include layouts.vspace(variables.$expanse-md);
  line-height: 2;

  .sidekick-recommendations {
    @include layouts.flex;
    width: 100%;

    @include queries.within-tab-landscape {
      @include layouts.hspace(variables.$expanse-md);
    }

    & > * {
      margin-bottom: variables.$expanse-md;
    }
  }

  .sidekick-actions {
    align-self: center;

    @include queries.within-tab-landscape {
      @include layouts.hspace(variables.$expanse-md);
    }

    & > a {
      text-decoration: none;
      margin-right: variables.$gap-rg;

      @include queries.within-tab-landscape {
        display: inline-block;
      }
    }
  }
}

// Pagination

.pagination {
  align-self: center;
  @include layouts.flex;
  @include layouts.hspace(variables.$expanse-lg);
  font-size: variables.$font-size-sm;
  z-index: 15;

  .is-prev,
  .is-next {
    display: flex;
    align-items: center;
  }

  .is-prev {
    margin-right: variables.$gap-lg;
  }

  .is-next {
    margin-left: variables.$gap-lg;
  }

  & > a {
    text-decoration: none;
  }
}

// Card

.card {
  display: block;
  background-color: variables.$background-pronounced;
  @include layouts.vspace(variables.$gap);
  @include layouts.hspace(variables.$gap);
  height: inherit;
  border-radius: variables.$radius * 2;

  @include queries.phone {
    margin-right: variables.$expanse-md-neg;
    margin-left: variables.$expanse-md-neg;
    @include layouts.vspace(variables.$expanse-md);
    @include layouts.hspace(variables.$expanse-md);
    border-radius: 0;
  }

  a {
    text-decoration: none;
  }

  .card-metadata,
  .card-description {
    font-size: variables.$font-size-sm;
  }

  .card-description {
    color: variables.$text;
  }

  .card-title {
    display: inline-flex;
    align-items: center;
    margin-top: variables.$gap-xs;
    margin-bottom: variables.$gap-xs;
    color: inherit;

    .label {
      height: variables.$gap-lg;
      width: variables.$gap-lg;
      margin-right: variables.$gap-xs;
    }
  }

  .card-metadata {
    color: variables.$text-muted;
  }
}

// Sidebar

.sidebar-start {
  @include layouts.vspace(variables.$expanse-md);
  @include layouts.hspace(variables.$expanse-md);

  .is-hidden-on-phone {
    position: sticky;
    top: variables.$expanse-md;
  }

  @include queries.within-tab-landscape {
    @include layouts.vspace(0);
  }
}

// Table of Contents

.toc {
  font-size: variables.$font-size-sm;
  
  summary {
    outline: none;
    font-weight: variables.$weight-bold;
    margin-bottom: variables.$gap-xs;
  }

  ul {
    list-style-type: none;
    margin-left: 0;

    li {
      $toc-margin: variables.$gap-rg;

      & > a {
        box-decoration-break: clone;
      }

      .header-1 {
        margin-left: $toc-margin;
      }
  
      .header-2 {
        margin-left: $toc-margin * 2;
      }
  
      .header-3 {
        margin-left: $toc-margin * 3;
      }
  
      .header-4 {
        margin-left: $toc-margin * 4;
      }
  
      .header-5 {
        margin-left: $toc-margin * 5;
      }
  
      .header-6 {
        margin-left: $toc-margin * 6;
      }
    }
  }
}

// Article

.article {
  @include layouts.vspace(variables.$expanse-md);
  max-width: variables.$canvas;

  @include queries.within-tab-landscape {
    @include layouts.hspace(variables.$expanse-md);
    max-width: 100vw;
  }

  main {
    & > p:first-child {
      font-size: variables.$font-size-md;
    }
  }
}

// Article reference links

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  &:focus a .citation,
  &:hover a .citation {
    @include mixins.hide(false);
    display: inline-block;
    width: 1.25ch;
    margin-left: -1.25ch;
    font-weight: variables.$weight-normal;

    &::after {
      content: variables.$indicator-reference-link;
      outline: none;
    }
  }
}

// Footer

.footer {
  @include layouts.flex;
  @extend .container;
  font-size: variables.$font-size-sm;
  background-color: variables.$background-muted;

  @include queries.within-tab-landscape {
    justify-content: flex-start;
    flex-direction: row-reverse;
  }

  .grid-sm {
    width: 100%;
    @include layouts.vspace(variables.$expanse-md);
  }

  .is-lead {
    font-weight: variables.$weight-semibold;
    margin-bottom: variables.$gap-rg;
  }

  .copyright {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: variables.$expanse-md;

    @include queries.phone {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }
}

// SVG Icons

.icon {
  stroke: currentColor;
  stroke-width: 1.5px;
  height: variables.$gfx-sm;
  width: variables.$gfx-sm;
}

.icon-sm {
  @extend .icon;
  stroke-width: 2px;
  height: variables.$gfx-xs;
  width: variables.$gfx-xs;
}

// Hide / show utilities

.is-visible {
  @include mixins.hide(false);
}

.is-hidden {
  @include mixins.hide;
}

.is-hidden-on-phone {
  @include queries.within-tab-landscape {
    @include mixins.hide;
  }
}

.is-visible-on-phone {
  @include mixins.hide;

  @include queries.within-tab-landscape {
    @include mixins.hide(false);
  }
}

.logo_svg__is-hidden-on-phone {
  @media screen and (min-width: variables.$breakpoint-md) and (max-width: variables.$breakpoint-lg)  {
    @include mixins.hide;
  }
}

// Active links

.active {
  font-weight: variables.$weight-bold;
}

// Separator

.separator {
  opacity: variables.$opacity;
  padding-right: variables.$gap-xs;
  padding-left: variables.$gap-xs;

  &::after {
    content: variables.$indicator-separator;
  }
}

// Layout and Spacing

.is-separated {
  margin-right: variables.$gap-sm;
}

.is-start-aligned {
  text-align: start;
}

.is-end-aligned {
  text-align: end;
}

// Typography

.title {
  font-size: variables.$font-size-xl;
  color: variables.$text;
}

.subtitle {
  font-size: variables.$font-size-md;
  color: variables.$text-muted;
}

.is-primary {
  color: variables.$link;
  border-color: variables.$link;
}

.is-warning {
  $red: hsl(350, 90%, 45%);
  color: $red;
  border-color: $red;
}

.is-muted {
  color: variables.$text-muted;
}
