---
import Icon from "../components/Icon.astro";
import IconPack from "../components/IconPack.astro";
import BackToTop from "../components/BackToTop.astro";
import Time from "../components/Time.astro";
import siteInfo from "../modules/website/index.js";

const authorInfo = siteInfo.author;
const authorPresence = authorInfo.presence;
const authorName = authorInfo.name;
const siteIssueUrl = siteInfo.issueBase;
const now = new Date();
---

<footer class="footer">
	<div class="quicklinks">
		<ul>
			<strong>RSS</strong>
			<li><a href="/feed.xml">Posts</a></li>
			<li><a href="/all.xml">Firehose</a></li>
		</ul>
		<ul>
			<strong>Connect</strong>
			{Object.entries(authorPresence).map(([network, details]) => <li><a href={details.url} rel="nofollow noopener noreferrer">{details.title}</a></li>)}
		</ul>
		<ul>
			<strong>Site</strong>
			<li><a href="/privacy/">Privacy</a></li>
			<li><a href="/sitemap-index.xml">Sitemap</a></li>
			<li><a href={siteIssueUrl} rel="nofollow noopener noreferrer">Report an issue</a></li>
		</ul>
	</div>
	<div class="copyright">
		<p>&copy; 2018, <a href="/about/">{authorName}</a></p>
		<BackToTop/>
	</div>
</footer>
<IconPack/>
