---
import "../styles/x2/main.scss";
import PageInfo from "./PageInfo.astro";
import ClientBase from "./ClientBase.astro";
import IconPack from "../components/IconPack.astro";

const { pageInfo, ...attribs } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<PageInfo {pageInfo}/>
	</head>
	<body>
		<main {...attribs}>
			<slot/>
		</main>
		<ClientBase/>
		<IconPack/>
	</body>
</html>
