name: deploy

on:
  push:
    branches:
      - main

env:
  # speed up the build by stopping wrangler action from downloading useless browser binaries
  PUPPETEER_SKIP_DOWNLOAD: true
  ASTRO_TELEMETRY_DISABLED: 1
  WRANGLER_SEND_METRICS: false

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Setup PNPM
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prod

      - name: Build site
        run: |
          pnpm build
          pnpm run postprocess

      - name: Deploy to Cloudflare Workers
        id: deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          packageManager: pnpm
          wranglerVersion: "4.59.2"
          command: deploy

      - name: Job summary
        env:
          DEPLOYMENT_URL: ${{ steps.deploy.outputs.deployment-url }}
        run: |
          echo "**Deployment URL**: $DEPLOYMENT_URL" >> $GITHUB_STEP_SUMMARY
